aside.aside-menu.p-3.bg-main
	div.mb-3
		h5.h5 Account

		if (session.admin)
			i.fas.fa-user.mr-2
			span.mr-3 Admin
			a.btn.btn-block.btn-primary.mt-2(href="/logout")
				span.mr-2 Logout
				i.fas.fa-sign-out-alt
		else
			i.far.fa-user.mr-2
			span.mr-3 Guest
			a.btn.btn-block.btn-primary.mt-2(href="/login")
				span.mr-2 Login
				i.fas.fa-sign-in-alt


	hr

	h5.h5 Settings

	div.mb-3
		h5.h6 Currency Format
		div.btn-group.mr-2(role="group")
			each item in coinConfig.currencyUnits
				if (item.type == "native" || config.queryExchangeRates)
					if (item.active)
						- var currencySelected = false;
						each valueName in item.values
							if (currencyFormatType == valueName)
								- currencySelected = true;

						if (currencySelected)
							span.btn.btn-primary #{item.name}
						else
							a.btn.btn-light.border(href=`/changeSetting?name=currencyFormatType&value=${item.values[0]}`) #{item.name}

	div.mb-3
		h5.h6 Theme
		div.btn-group.mr-2(role="group")
			each item in [{name:"Light", vals:["light",""]}, {name:"Dark", vals:["dark"]}]
				- var itemSelected = item.vals.includes(session.uiTheme);

				if (itemSelected)
					span.btn.btn-primary #{item.name}
				else
					a.btn.btn-light.border(href=`/changeSetting?name=uiTheme&value=${item.vals[0]}`) #{item.name}

	if (lndConnections.indexes.length > 1)
		div.mb-3
			h5.h6 LND Node
			each lndIndex, index in lndConnections.indexes
				if (lndConnections.connectionsByIndex[lndIndex] != null)
					- var lndConn = lndConnections.connectionsByIndex[lndIndex];
					- var node_pubkey = lndConn.internal_pubkey;

					if (fullNetworkDescription)
						- var addrs = [];
						each address in fullNetworkDescription.nodeInfoByPubkey[node_pubkey].node.addresses
							- addrs.push(address.addr);

						div.card.mb-2
							div.card-body
								div.clearfix
									small
										a.stretched-link(href=('/connect-lnd?index=' + lndIndex), onclick="$('#switchLndModal').modal()") #{node_pubkey.substring(0, config.site.pubkeyMaxDisplayLength - 3)}
										if (lndConn == lndRpc)
											i.fas.fa-check.text-success.ml-2
										br
										//span.font-weight-bold Alias
										//br
										span.text-monospace #{lndConn.internal_alias}
										br
										//span.font-weight-bold Address
										//br
										span.text-monospace #{addrs}
										br
										//span.font-weight-bold Version
										//br
										- var versionParts = lndConn.internal_version.split(" ");
										span.text-monospace.word-wrap #{versionParts[0]}

	hr

	h5.h5 Status

	div.mb-3
		h5.h6 App Version
		a(href=`https://github.com/janoside/lnd-admin/commit/${sourcecodeVersion}`) ##{sourcecodeVersion.substring(0, 16)}
		br
		span.text-muted #{sourcecodeDate}

	if (false)
		ul.nav.nav-tabs(role='tablist')
			li.nav-item
				a.nav-link.active(data-toggle='tab' href='#timeline' role='tab')
					i.fas.fa-list
			li.nav-item
				a.nav-link(data-toggle='tab' href='#settings' role='tab')
					i.fas.fa-cog
		// Tab panes
		.tab-content
			#timeline.tab-pane.active(role='tabpanel')
				.list-group.list-group-accent
					.list-group-item.list-group-item-accent-secondary.bg-light.text-center.font-weight-bold.text-muted.text-uppercase.small Tomorrow
					.list-group-item.list-group-item-accent-success.list-group-item-divider
						div
							strong #10 Startups.Garden
							|	Meetup
						small.text-muted.mr-3
							i.icon-calendar
							| &#x9;1 - 3pm
						small.text-muted
							i.icon-location-pin
							| &#x9;Palo Alto, CA
			
			#settings.tab-pane.p-3(role='tabpanel')
				h6 Settings
				.aside-options
					.clearfix.mt-4
						small
							b Option 1
						label.switch.switch-label.switch-pill.switch-success.switch-sm.float-right
							input.switch-input(type='checkbox' checked='')
							span.switch-slider(data-checked='On' data-unchecked='Off')
					div
						small.text-muted
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.aside-options
					.clearfix.mt-3
						small
							b Option 2
						label.switch.switch-label.switch-pill.switch-success.switch-sm.float-right
							input.switch-input(type='checkbox')
							span.switch-slider(data-checked='On' data-unchecked='Off')
					div
						small.text-muted
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.aside-options
					.clearfix.mt-3
						small
							b Option 3
						label.switch.switch-label.switch-pill.switch-success.switch-sm.float-right
							input.switch-input(type='checkbox')
							span.switch-slider(data-checked='On' data-unchecked='Off')
				.aside-options
					.clearfix.mt-3
						small
							b Option 4
						label.switch.switch-label.switch-pill.switch-success.switch-sm.float-right
							input.switch-input(type='checkbox' checked='')
							span.switch-slider(data-checked='On' data-unchecked='Off')
				