tr(class="text-monospace word-wrap")
	th.text-right #{channelTableIndex.toLocaleString()}

	td(class="table-col-channelid")
		a(href=("/channel/" + channel.channel_id))
			- var channel_id = channel.channel_id;
			include ./channel-id.pug

		if (utils.isObjectStarred(`channel:${channel_id}`))
			i.fas.fa-star.text-warning.ml-1(title="This is one of your favorite channels" data-toggle="tooltip")

	td
		- var card_node_pubkey = channel.node1_pub;
		include ./node-card.pug

	td
		- var card_node_pubkey = channel.node2_pub;
		include ./node-card.pug

	td.text-right
		if (config.blockExplorerUrl)
			a(href=`${config.blockExplorerUrl}/block-height/${fullNetworkDescription.parsedChannelIds[channel.channel_id].blockHeight}` target="_blank") #{fullNetworkDescription.parsedChannelIds[channel.channel_id].blockHeight.toLocaleString()}

		else
			span #{fullNetworkDescription.parsedChannelIds[channel.channel_id].blockHeight.toLocaleString()}

	td
		- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(channel.last_update) * 1000))));

		span(title=moment.utc(new Date(parseInt(channel.last_update) * 1000)).format("Y-MM-DD HH:mm:ss"), data-toggle="tooltip") #{timeAgo.humanize()}

	td.text-right
		- var currencyValue = new Decimal(channel.capacity).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
		include ./value-display.pug