tr.word-wrap
	th.text-end.fw-light #{channelTableIndex.toLocaleString()}


	td
		+channelId(channel.channel_id, true)
		

	td
		+nodeCard(channel.node1_pub, {style:"compact"})


	td
		+nodeCard(channel.node2_pub, {style:"compact"})


	td.text-end
		+btcValue(channel.capacity)
	


	td.text-end
		if (config.blockExplorerUrl)
			a(href=`${config.blockExplorerUrl}/block-height/${fullNetworkDescription.parsedChannelIds[channel.channel_id].blockHeight}` target="_blank") #{fullNetworkDescription.parsedChannelIds[channel.channel_id].blockHeight.toLocaleString()}

		else
			span #{fullNetworkDescription.parsedChannelIds[channel.channel_id].blockHeight.toLocaleString()}

		br

		+date(channel.last_update)

	