tr.word-wrap
	th.text-end.fw-light #{channelTableIndex.toLocaleString()}


	td
		+channelId(channel.channel_id, true)
		

	td
		- var card_node_pubkey = channel.node1_pub;
		include ./node-card.pug


	td
		- var card_node_pubkey = channel.node2_pub;
		include ./node-card.pug


	td.text-end
		+btcValue(channel.capacity)
	

	td.text-end
		+date(channel.last_update)


	td.text-end
		if (config.blockExplorerUrl)
			a(href=`${config.blockExplorerUrl}/block-height/${fullNetworkDescription.parsedChannelIds[channel.channel_id].blockHeight}` target="_blank") #{fullNetworkDescription.parsedChannelIds[channel.channel_id].blockHeight.toLocaleString()}

		else
			span #{fullNetworkDescription.parsedChannelIds[channel.channel_id].blockHeight.toLocaleString()}

	