tr.word-wrap
	th.text-end.fw-light #{(channel_index + offset + 1).toLocaleString()}

	td
		.mb-2
			if (channel.active)
				+pillBadgeSuccess("Active")
				
			else if (channel.chan_id)
				if (channel.close_type)
					span.badge.text-bg-danger.border-dotted(title=`Close type: ${channel.close_type}`, data-bs-toggle="tooltip") Closed

				else
					+pillBadgeWarning("Inactive")

			else
				if (pendingOpenChannels.includes(channel))
					+pillBadgeWarning("Opening")

				if (pendingCloseChannels.includes(channel))
					+pillBadgeDanger("Closing")

				if (pendingForceCloseChannels.includes(channel))
					+pillBadgeDanger("Force Closing")

				if (waitingCloseChannels.includes(channel))
					+pillBadgeWarning("Waiting to Close")


			if (channel.private)
				+pillBadgeLight
					span.me-1 Private
					i.fas.fa-lock.text-success

			else
				+pillBadgeWarning
					span.me-1 Public
					i.fas.fa-eye


		if (channel.chan_id)
			+channelId(channel.chan_id, channel.active || (channel.chan_id && !channel.close_type))

		else
			span -


		if (pendingOpenChannels.includes(channel))
			.mt-3
				div Opening tx:
				- var btc_txid = channel.channel.channel_point.substring(0, channel.channel.channel_point.indexOf(":"));
				- var outpoint_output_index = channel.channel.channel_point.substring(channel.channel.channel_point.indexOf(":") + 1);

				+btcTxid(btc_txid)
				span.ms-1 [#{outpoint_output_index}]



		

	td
		if (channel.remote_pubkey)
			- var card_node_pubkey = channel.remote_pubkey;
			
		else if (channel.channel.remote_node_pub)
			- var card_node_pubkey = channel.channel.remote_node_pub;

		include ./node-card.pug

	if (false)
		td.text-end
			if (config.blockExplorerUrl && parsedChannelIds[channel.chan_id].blockHeight > 0)
				a(href=`${config.blockExplorerUrl}/block-height/${parsedChannelIds[channel.chan_id].blockHeight}` target="_blank") #{parsedChannelIds[channel.chan_id].blockHeight.toLocaleString()}

			else
				if (parsedChannelIds[channel.chan_id].blockHeight > 0)
					span #{parsedChannelIds[channel.chan_id].blockHeight.toLocaleString()}
				else
					span -

	

	td.text-end
		div
			if (channel.active)
				span.badge.text-bg-primary.fs-6(title="Spendable balance", data-bs-toggle="tooltip")
					- var currencyValue = new Decimal(channel.local_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
					include ./value-display.pug

			else if (channel.channel != null)
				span.badge.text-bg-secondary.fs-6(title="Spendable balance", data-bs-toggle="tooltip")
					- var currencyValue = new Decimal(channel.channel.local_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
					include ./value-display.pug

			else
				span -


		div.mt-2

			if (channel.active)
				span.badge.text-bg-info.fs-6(title="Receivable balance", data-bs-toggle="tooltip")
					- var currencyValue = new Decimal(channel.remote_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
					include ./value-display.pug
				
				if (false)
					.row
						.col-md-6.text-end
							- var currencyValue = new Decimal(channel.local_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
							include ./value-display.pug

						.col-md-6.text-end
							- var currencyValue = new Decimal(channel.remote_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
							include ./value-display.pug

					- var fullPercent = new Decimal(100 * parseFloat(channel.local_balance) / (parseFloat(channel.local_balance) + parseFloat(channel.remote_balance))).toDecimalPlaces(1);

					.progress.mt-2(style="height: 6px;")
						div(class="progress-bar", role="progressbar", style=("width: " + fullPercent + "%;"), aria-valuenow=parseInt(fullPercent), aria-valuemin="0", aria-valuemax="100")

			else if (channel.channel != null)
				span.badge.text-bg-secondary.fs-6(title="Receivable balance", data-bs-toggle="tooltip")
					- var currencyValue = new Decimal(channel.channel.remote_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
					include ./value-display.pug

			else
				span -


	td.text-end
		div
			if (channel.active)
				div
					- var currencyValue = new Decimal(channel.total_satoshis_received).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
					span.badge.text-bg-success.fs-6(title="Value received", data-bs-toggle="tooltip")
						span +
						include ./value-display.pug


				div.mt-2
					- currencyValue = new Decimal(channel.total_satoshis_sent).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
					span.badge.text-bg-danger.fs-6(title="Value sent", data-bs-toggle="tooltip")
						span -
						include ./value-display.pug

			else
				span -



	td.text-end
		if (channel.active && fullNetworkDescription.channelsById[channel.chan_id])
			- var lastUpdateTimestamp = fullNetworkDescription.channelsById[channel.chan_id].last_update;

			+date(lastUpdateTimestamp, "human")

		else
			span -

	td.text-end
		a.btn.btn-sm.btn-primary(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#localChannelModal-" + localChannel_index))
			i.fas.fa-file-lines
		