if (channel.chan_id)
	- var parsedChannelId = utils.parseChannelId(channel.chan_id);

tr.word-wrap
	th.text-end.fw-light #{(channel_index + offset + 1).toLocaleString()}

	td
		if (channel.chan_id)
			span.me-2
				if (channel.active)
					span(title="Active", data-bs-toggle="tooltip")
						i.fas.fa-circle.fa-sm.text-success
					
				else if (channel.chan_id)
					if (channel.close_type)
						span(title=`Closed (${channel.close_type})`, data-bs-toggle="tooltip")
							i.fas.fa-circle.fa-sm.text-danger
						

					else
						span(title="Inactive", data-bs-toggle="tooltip")
							i.fas.fa-circle.fa-sm.text-warning

				else
					if (pendingOpenChannels.includes(channel))
						span(title="Opening", data-bs-toggle="tooltip")
							i.fas.fa-circle.fa-sm.text-orange

					if (pendingCloseChannels.includes(channel))
						span(title="Opening", data-bs-toggle="tooltip")
							i.fas.fa-circle.fa-sm.text-danger

					if (pendingForceCloseChannels.includes(channel))
						span(title="Force Closing", data-bs-toggle="tooltip")
							i.fas.fa-circle.fa-sm.text-danger

					if (waitingCloseChannels.includes(channel))
						span(title="Waiting to Close", data-bs-toggle="tooltip")
							i.fas.fa-circle.fa-sm.text-orange


			+channelId(channel.chan_id, channel.active || (channel.chan_id && !channel.close_type))

		if (pendingOpenChannels && pendingOpenChannels.includes(channel))
			span.me-2(title="Opening", data-bs-toggle="tooltip")
				i.fas.fa-circle.fa-sm.text-info
			
			- var btc_txid = channel.channel.channel_point.substring(0, channel.channel.channel_point.indexOf(":"));
			- var outpoint_output_index = channel.channel.channel_point.substring(channel.channel.channel_point.indexOf(":") + 1);

			+pillBadgeInfo("TX", "Opening Bitcoin transaction (with output index)")
			+btcTxid(btc_txid, 12)
			span.ms-1 [#{outpoint_output_index}]



	td
		if (channel.private)
			+pillBadgeSuccess
				span.me-1 Private
				i.fas.fa-lock

		else
			+pillBadgeWarning
				span.me-1 Public
				i.fas.fa-eye


		
		if (channel.initiator)
			+pillBadgeInfo
				span(title="You created this channel", data-bs-toggle="tooltip")
					i.fas.fa-arrow-up.me-1
					| Outbound
		else
			+pillBadgeSuccess
				span(title="Your channel partner created this channel", data-bs-toggle="tooltip")
					i.fas.fa-arrow-down.me-1
					| Inbound

		

	td
		- let card_node_pubkey = null;

		if (channel.remote_pubkey)
			- card_node_pubkey = channel.remote_pubkey;
			
		else if (channel.channel && channel.channel.remote_node_pub)
			- card_node_pubkey = channel.channel.remote_node_pub;

		if (card_node_pubkey)
			+nodeCard(card_node_pubkey, {style: "compact"})
		else
			span.text-danger Unknown node

	if (false)
		td.text-end
			if (config.blockExplorerUrl && parsedChannelIds[channel.chan_id].blockHeight > 0)
				a(href=`${config.blockExplorerUrl}/block-height/${parsedChannelIds[channel.chan_id].blockHeight}` target="_blank") #{parsedChannelIds[channel.chan_id].blockHeight.toLocaleString()}

			else
				if (parsedChannelIds[channel.chan_id].blockHeight > 0)
					span #{parsedChannelIds[channel.chan_id].blockHeight.toLocaleString()}
				else
					span -

	

	td
		- let localBalance = null;
		- let remoteBalance = null;

		if (channel.active)
			- localBalance = new Decimal(channel.local_balance);
			- remoteBalance = new Decimal(channel.remote_balance);

		else if (channel.channel != null)
			- localBalance = new Decimal(channel.channel.local_balance);
			- remoteBalance = new Decimal(channel.channel.remote_balance);


		if (localBalance != null)
			+progressBar([localBalance, remoteBalance], ["text-bg-primary", "text-bg-info"], "6px", false)

			.d-flex.justify-content-between
				.text-start
					span.fs-90
						+btcValue(localBalance)

				.text-end
					span.fs-90
						+btcValue(remoteBalance)

		else
			.text-end -


	td
		- let valueReceived = null;
		- let valueSent = null;

		if (channel.active)
			- valueReceived = new Decimal(channel.total_satoshis_received || 0);
			- valueSent = new Decimal(channel.total_satoshis_sent || 0);

		else if (channel.channel != null)
			- valueReceived = new Decimal(channel.channel.total_satoshis_received || 0);
			- valueSent = new Decimal(channel.channel.total_satoshis_sent || 0);


		if (valueReceived != null && (valueReceived > 0 || valueSent > 0))
			.text-end.fs-90
				if (valueReceived && valueReceived > 0)
					.text-success
						| +
						+btcValue(valueReceived)
				
				if (valueSent && valueSent > 0)
					.text-danger
						| -
						+btcValue(valueSent)


			

		else
			.text-end -




	td.text-end
		if (channel.chan_id)
			+blockHeight(parsedChannelId.blockHeight)

			br
		
		if (channel.active && fullNetworkDescription.channelsById[channel.chan_id])
			- var lastUpdateTimestamp = fullNetworkDescription.channelsById[channel.chan_id].last_update;

			+date(lastUpdateTimestamp, "human")

		else
			span -
		

	td.text-end
		a.btn.btn-sm.btn-primary(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#localChannelModal-" + localChannel_index))
			i.fas.fa-file-lines
		