tr.word-wrap
	th.text-end.fw-light #{(channel_index + offset + 1).toLocaleString()}

	td
		.mb-2
			if (channel.active)
				+pillBadgeSuccess("Active")
				
			else if (channel.chan_id)
				if (channel.close_type)
					span.border-dotted(title=`Close type: `, data-bs-toggle="tooltip")
						+pillBadgeDanger(`Closed`)
					

				else
					+pillBadgeWarning("Inactive")

			else
				if (pendingOpenChannels.includes(channel))
					+pillBadgeWarning("Opening")

				if (pendingCloseChannels.includes(channel))
					+pillBadgeDanger("Closing")

				if (pendingForceCloseChannels.includes(channel))
					+pillBadgeDanger("Force Closing")

				if (waitingCloseChannels.includes(channel))
					+pillBadgeWarning("Waiting to Close")


			if (channel.private)
				+pillBadgeSuccess
					span.me-1 Private
					i.fas.fa-lock

			else
				+pillBadgeWarning
					span.me-1 Public
					i.fas.fa-eye


		if (channel.chan_id)
			.mb-2
				+channelId(channel.chan_id, channel.active || (channel.chan_id && !channel.close_type))



		if (pendingOpenChannels && pendingOpenChannels.includes(channel))
			.mb-1
				+pillBadgeInfo("Opening Tx")
			
			- var btc_txid = channel.channel.channel_point.substring(0, channel.channel.channel_point.indexOf(":"));
			- var outpoint_output_index = channel.channel.channel_point.substring(channel.channel.channel_point.indexOf(":") + 1);

			+btcTxid(btc_txid, 12)
			span.ms-1 [#{outpoint_output_index}]



		

	td
		if (channel.remote_pubkey)
			- var card_node_pubkey = channel.remote_pubkey;
			
		else if (channel.channel.remote_node_pub)
			- var card_node_pubkey = channel.channel.remote_node_pub;

		+nodeCard(card_node_pubkey)

	if (false)
		td.text-end
			if (config.blockExplorerUrl && parsedChannelIds[channel.chan_id].blockHeight > 0)
				a(href=`${config.blockExplorerUrl}/block-height/${parsedChannelIds[channel.chan_id].blockHeight}` target="_blank") #{parsedChannelIds[channel.chan_id].blockHeight.toLocaleString()}

			else
				if (parsedChannelIds[channel.chan_id].blockHeight > 0)
					span #{parsedChannelIds[channel.chan_id].blockHeight.toLocaleString()}
				else
					span -

	

	td
		- let localBalance = null;
		- let remoteBalance = null;

		if (channel.active)
			- localBalance = new Decimal(channel.local_balance);
			- remoteBalance = new Decimal(channel.remote_balance);

		else if (channel.channel != null)
			- localBalance = new Decimal(channel.channel.local_balance);
			- remoteBalance = new Decimal(channel.channel.remote_balance);


		if (localBalance != null)
			+progressBar([localBalance, remoteBalance], ["text-bg-primary", "text-bg-info"], "10px", false)

			.d-flex.justify-content-between
				.text-start
					span.fs-80
						+btcValue(localBalance)

				.text-end
					span.fs-80
						+btcValue(remoteBalance)

		else
			.text-end -


	td
		- let valueReceived = null;
		- let valueSent = null;

		if (channel.active)
			- valueReceived = new Decimal(channel.total_satoshis_received || 0);
			- valueSent = new Decimal(channel.total_satoshis_sent || 0);

		else if (channel.channel != null)
			- valueReceived = new Decimal(channel.channel.total_satoshis_received || 0);
			- valueSent = new Decimal(channel.channel.total_satoshis_sent || 0);


		if (valueReceived != null && (valueReceived > 0 || valueSent > 0))
			+progressBar([valueReceived, valueSent], ["text-bg-success", "text-bg-danger"], "10px", false)
		
			
			.d-flex.justify-content-between
				.text-start
					span.fs-80
						+btcValue(valueReceived)

				.text-end
					span.fs-80
						+btcValue(valueSent)

		else
			.text-end -






	td.text-end
		if (channel.active && fullNetworkDescription.channelsById[channel.chan_id])
			- var lastUpdateTimestamp = fullNetworkDescription.channelsById[channel.chan_id].last_update;

			+date(lastUpdateTimestamp, "human")

		else
			span -

	td.text-end
		a.btn.btn-sm.btn-primary(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#localChannelModal-" + localChannel_index))
			i.fas.fa-file-lines
		