- var cutoffs = [12, 16];
- var aliasChars = runes(node_alias);

if (aliasChars.length > 0)
	if (aliasChars.length > cutoffs[0])
		if (aliasChars.length > cutoffs[1])
			if (aliasChars.length > config.site.aliasMaxDisplayLength)
				span.border-dotted(title=node_alias, data-toggle="tooltip")
					span #{aliasChars.slice(0, cutoffs[0]).join("")}
					span.d-none.d-lg-inline #{aliasChars.slice(cutoffs[0], cutoffs[1]).join("")}
					span.d-none.d-xl-inline #{aliasChars.slice(cutoffs[1], config.site.aliasMaxDisplayLength).join("")}
					span …

			else
				span #{aliasChars.slice(0, cutoffs[0]).join("")}
				span.d-none.d-lg-inline #{aliasChars.slice(cutoffs[0], cutoffs[1]).join("")}
				span.d-none.d-xl-inline #{aliasChars.slice(cutoffs[1]).join("")}
		else
			span #{aliasChars.slice(0, cutoffs[0]).join("")}
			span.d-none.d-lg-inline #{aliasChars.slice(cutoffs[0]).join("")}
	else
		span #{node_alias}
	
else
	span -