if (fullNetworkDescription && fullNetworkDescription.nodeInfoByPubkey[card_node_pubkey])
	- var card_node = {pubkey:card_node_pubkey, alias:fullNetworkDescription.nodeInfoByPubkey[card_node_pubkey].node.alias, color:fullNetworkDescription.nodeInfoByPubkey[card_node_pubkey].node.color};

if (node_card_include_wrapper)
	div.card.shadow-sm.text-monospace(style="min-width: 275px;")
		div.card-body.p-2
			div.float-left.mr-2
				if (card_node)
					- var node_pubkey = card_node.pubkey;
					- var node_icon_size = "2.75em";
					include ./node-icon.pug
						
			div.float-left
				if (card_node)
					a(href=`/node/${card_node.pubkey}`, title=card_node.pubkey, data-toggle="tooltip")
						include ./node-pubkey.pug
					
					br
					- var node_alias = card_node.alias;
					include ./node-alias.pug

else
	div.clearfix.text-monospace
		div.float-left.mr-2
			- var node_icon_size = "2.75em";

			if (card_node)
				- var node_pubkey = card_node.pubkey;
			else
				- var node_pubkey = card_node_pubkey;

			include ./node-icon.pug

		div.float-left
			if (card_node)
				a(href=`/node/${card_node.pubkey}`, title=card_node.pubkey, data-toggle="tooltip")
					include ./node-pubkey.pug

				if (utils.isObjectStarred(`node:${card_node.pubkey}`))
					i.fas.fa-star.text-warning.ml-1(title="This is one of your favorite nodes" data-toggle="tooltip")
				
				br
				- var node_alias = card_node.alias;
				include ./node-alias.pug

				if (card_node.pubkey == lndRpc.internal_pubkey)
					i.fa.fa-certificate.ml-2.text-primary(title="This is your LND Node" data-toggle="tooltip")

			else
				a(href=`/node/${card_node_pubkey}`, title=card_node_pubkey, data-toggle="tooltip")
					include ./node-pubkey.pug

				br
				span.text-danger.border-dotted(title="Details for this node's public key seem to be unavailable." data-toggle="tooltip") Unknown Node

- card_node_pubkey = null;
- card_node = null;