tr.text-monospace.word-wrap
	th.text-right #{nodeTableIndex.toLocaleString()}
	td
		- var card_node_pubkey = nodeInfo.node.pub_key;
		include ./node-card.pug

	td
		if (nodeInfo.node.addresses && nodeInfo.node.addresses.length > 0)
			if (nodeInfo.node.addresses[0].addr.length > 25)
				span(title=nodeInfo.node.addresses[0].addr, data-toggle="tooltip") -#{nodeInfo.node.addresses[0].addr.substring(nodeInfo.node.addresses[0].addr.length - 26, nodeInfo.node.addresses[0].addr.length - 1)}
			else
				span #{nodeInfo.node.addresses[0].addr}
		else
			span -

	td
		if (nodeInfo.node.last_update == 0)
			span -
		else
			- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(nodeInfo.node.last_update) * 1000))));
			- var dateTimeUtc = moment.utc(new Date(parseInt(nodeInfo.node.last_update) * 1000)).format("Y-MM-DD HH:mm:ss");

			span #{timeAgo.humanize()}
			br
			span.text-muted #{dateTimeUtc} utc

	td.text-right
		span #{parseInt(nodeInfo.num_channels).toLocaleString()}

	td.text-right
		- var currencyValue = new Decimal(nodeInfo.total_capacity).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
		include ./value-display.pug