if (localChannels && localChannels.byId && localChannels.byId[channel.channel_id])
	- var localChannel = localChannels.byId[channel.channel_id];

tr.word-wrap
	th.text-end.fw-light #{channelTableIndex.toLocaleString()}


	td
		if (localChannel.chan_id)
			span.me-2
				if (localChannel.active)
					span(title="Active", data-bs-toggle="tooltip")
						i.fas.fa-circle.fa-sm.text-success
					
				else if (localChannel.chan_id)
					if (localChannel.close_type)
						span(title=`Closed (${localChannel.close_type})`, data-bs-toggle="tooltip")
							i.fas.fa-circle.fa-sm.text-danger
						

					else
						span(title="Inactive", data-bs-toggle="tooltip")
							i.fas.fa-circle.fa-sm.text-warning

				else
					if (pendingOpenChannels.includes(localChannel))
						span(title="Opening", data-bs-toggle="tooltip")
							i.fas.fa-circle.fa-sm.text-orange

					if (pendingCloseChannels.includes(localChannel))
						span(title="Opening", data-bs-toggle="tooltip")
							i.fas.fa-circle.fa-sm.text-danger

					if (pendingForceCloseChannels.includes(localChannel))
						span(title="Force Closing", data-bs-toggle="tooltip")
							i.fas.fa-circle.fa-sm.text-danger

					if (waitingCloseChannels.includes(localChannel))
						span(title="Waiting to Close", data-bs-toggle="tooltip")
							i.fas.fa-circle.fa-sm.text-orange


			+channelId(localChannel.chan_id, localChannel.active || (localChannel.chan_id && !localChannel.close_type))

		if (pendingOpenChannels && pendingOpenChannels.includes(localChannel))
			span.me-2(title="Opening", data-bs-toggle="tooltip")
				i.fas.fa-circle.fa-sm.text-info
			
			- var btc_txid = localChannel.channel.channel_point.substring(0, localChannel.channel.channel_point.indexOf(":"));
			- var outpoint_output_index = localChannel.channel.channel_point.substring(localChannel.channel.channel_point.indexOf(":") + 1);

			+pillBadgeInfo("TX", "Opening Bitcoin transaction (with output index)")
			+btcTxid(btc_txid, 12)
			span.ms-1 [#{outpoint_output_index}]



		

	td
		if (localChannel.private)
			+pillBadgeSuccess
				span.me-1 Private
				i.fas.fa-lock

		else
			+pillBadgeWarning
				span.me-1 Public
				i.fas.fa-eye


		
		if (localChannel.initiator)
			+pillBadgeInfo
				span(title="You created this channel", data-bs-toggle="tooltip")
					i.fas.fa-arrow-up.me-1
					| Outbound
		else
			+pillBadgeSuccess
				span(title="Your channel partner created this channel", data-bs-toggle="tooltip")
					i.fas.fa-arrow-down.me-1
					| Inbound

	

	td
		- let localBalance = null;
		- let remoteBalance = null;

		if (localChannel.active)
			- localBalance = new Decimal(localChannel.local_balance);
			- remoteBalance = new Decimal(localChannel.remote_balance);

		else if (localChannel.channel != null)
			- localBalance = new Decimal(localChannel.channel.local_balance);
			- remoteBalance = new Decimal(localChannel.channel.remote_balance);


		if (localBalance != null)
			+progressBar([localBalance, remoteBalance], ["text-bg-primary", "text-bg-info"], "6px", false)

			.d-flex.justify-content-between
				.text-start
					span.fs-90
						+btcValue(localBalance)

				.text-end
					span.fs-90
						+btcValue(remoteBalance)

		else
			.text-end -



	td
		- let valueReceived = null;
		- let valueSent = null;

		if (localChannel.active)
			- valueReceived = new Decimal(localChannel.total_satoshis_received || 0);
			- valueSent = new Decimal(localChannel.total_satoshis_sent || 0);

		else if (localChannel.channel != null)
			- valueReceived = new Decimal(localChannel.channel.total_satoshis_received || 0);
			- valueSent = new Decimal(localChannel.channel.total_satoshis_sent || 0);


		if (valueReceived != null && (valueReceived > 0 || valueSent > 0))
			.text-end.fs-90
				if (valueReceived && valueReceived > 0)
					.text-success
						| +
						+btcValue(valueReceived)
				
				if (valueSent && valueSent > 0)
					.text-danger
						| -
						+btcValue(valueSent)


			

		else
			.text-end -


	td.text-end
		+btcValue(channel.capacity)
	


	td.text-end
		if (config.blockExplorerUrl)
			a(href=`${config.blockExplorerUrl}/block-height/${fullNetworkDescription.parsedChannelIds[channel.channel_id].blockHeight}` target="_blank") #{fullNetworkDescription.parsedChannelIds[channel.channel_id].blockHeight.toLocaleString()}

		else
			span #{fullNetworkDescription.parsedChannelIds[channel.channel_id].blockHeight.toLocaleString()}

		br

		+date(channel.last_update)


	td.text-end
		a.btn.btn-sm.btn-primary(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#sharedChannelModal-" + channelTableIndex))
			i.fas.fa-file-lines

	