extends layout

block headContent
	title Channel #{channelId}

block breadcrumb
	if (channel != null && localChannels.byId && localChannels.byId[channel.channel_id])
		li.breadcrumb-item
			a(href='/') Home
		li.breadcrumb-item My Node
		li.breadcrumb-item
			a(href="/local-channels") My Channels
		li.breadcrumb-item Channel #{channel.channel_id}

	else
		li.breadcrumb-item
			a(href='/') Home
		li.breadcrumb-item Network
		li.breadcrumb-item
			a(href="/channels") All Channels
		li.breadcrumb-item Channel #{channelId}
	
block content


	if (channel)
		- var localChannel = localChannels.byId && localChannels.byId[channel.channel_id];
		- var localChannelStatus = "Active";

		if (localChannels.byId[channel.channel_id] && !localChannels.byId[channel.channel_id].active)
			- localChannelStatus = "Inactive";
		
		if (!localChannel)
			- localChannel = localClosedChannels.byId && localClosedChannels.byId[channel.channel_id];

		if (!localChannel)
			each waitingCloseChannel in localPendingChannels.waitingCloseChannels
				if (waitingCloseChannel.channel.channel_point == channel.chan_point)
					- localChannel = true;
					- localChannelStatus = "Waiting to Close";


	mixin titlePillBadge(text, colorClass)
		span.badge.rounded-pill.text-tiny.ms-2.align-text-bottom(class=colorClass)
			| #{text}
			block

	+pageTitle("Channel", channelId, true)
		span.h3
			if (localChannelStatus) 
				if (localChannelStatus == "Active")
					+titlePillBadge(localChannelStatus, "text-bg-success")
				
				if (localChannelStatus == "Waiting to Close" || localChannelStatus == "Inactive")
					+titlePillBadge(localChannelStatus, "text-bg-warning")

			if (localChannel && localChannel.private)
				+titlePillBadge("Private", "text-bg-light")
					i.fas.fa-lock.text-success.ms-2
					

			if (localChannel)
				span(title="Your LND node is one of the participants in this channel", data-bs-toggle="tooltip")
					i.fas.fa-certificate.fa-sm.text-primary.ms-2

			if (utils.isObjectStarred(`channel:${channelId}`))
				span(title="This is one of your favorite channels" data-bs-toggle="tooltip")
					i.fas.fa-star.text-warning.fa-sm.ms-2

	


	if (false)
		pre
			code.json #{JSON.stringify(localPendingChannels, null, 4)}

	if (channel == null)
		.alert.alert-warning.shadow-sm
			span Channel 
			span.fw-bold #{channelId}
			span : Not Found

	else
		- var channelPointParts = channel.chan_point.split(":");
		- var channelPointTxid = channelPointParts[0];
		- var channelPointIndex = channelPointParts[1];

		ul.nav.nav-tabs.mb-3
			li.nav-item
				a.nav-link.active(data-bs-toggle="tab" href="#tab-details" role="tab") Details
			li.nav-item
				a.nav-link(data-bs-toggle="tab"  href="#tab-json" role="tab") JSON

		.tab-content
			.tab-pane.active(id="tab-details" role="tabpanel")
				+contentSection("Summary")
					if (localChannels.byId && localChannels.byId[channel.channel_id])
						- var localChannel = localChannels.byId[channel.channel_id];

						- var currencyValue = new Decimal(localChannel.local_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
						- var localBalancePercent = new Decimal(localChannel.local_balance).dividedBy(parseInt(localChannel.local_balance) + parseInt(localChannel.remote_balance)).times(100);

						- var currencyValue = new Decimal(localChannel.remote_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
						- var remoteBalancePercent = new Decimal(localChannel.remote_balance).dividedBy(parseInt(localChannel.local_balance) + parseInt(localChannel.remote_balance)).times(100);


						.mb-3
							+summaryRow(3)
								+summaryItem
									.d-flex.justify-content-center.mt-4
										.me-3
											span.badge.text-bg-primary Spendable
										
										div
											- var currencyValue = new Decimal(localChannel.local_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
											include includes/value-display.pug
											.text-muted.text-tiny (#{localBalancePercent.toDP(1)}%)

								+summaryItem
									h6.fw-light.mb-3 Balances

								+summaryItem
									.d-flex.justify-content-center.mt-4
										.me-3
											span.badge.text-bg-info Receivable

										div
											- var currencyValue = new Decimal(localChannel.remote_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
											include includes/value-display.pug
											.text-muted.text-tiny (#{remoteBalancePercent.toDP(1)}%)


						.progress(style="height: 25px;")
							.progress-bar(role="progressbar", style=`width: ${localBalancePercent.toDP(0)}%;`, aria-valuenow=`${localBalancePercent.toDP(0)}`, aria-valuemin="0", aria-valuemax="100") #{localBalancePercent.toDP(1)}%

							.progress-bar.bg-info(role="progressbar", style=`width: ${remoteBalancePercent.toDP(0)}%;`, aria-valuenow=`${remoteBalancePercent.toDP(0)}`, aria-valuemin="0", aria-valuemax="100") #{remoteBalancePercent.toDP(1)}%


						

						hr.my-4


					if (localChannels.byId && localChannels.byId[channel.channel_id])
						- var localChannel = localChannels.byId[channel.channel_id];



						- var currencyValue = new Decimal(localChannel.local_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
						- var localBalancePercent = new Decimal(localChannel.local_balance).dividedBy(parseInt(localChannel.local_balance) + parseInt(localChannel.remote_balance)).times(100);

						- var currencyValue = new Decimal(localChannel.remote_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
						- var remoteBalancePercent = new Decimal(localChannel.remote_balance).dividedBy(parseInt(localChannel.local_balance) + parseInt(localChannel.remote_balance)).times(100);


						.mb-3
							+summaryRow(3)
								+summaryItem
									.d-flex.justify-content-center.mt-4
										.me-3
											span.badge.text-bg-success Received
										
										div
											- var currencyValue = new Decimal(localChannel.total_satoshis_received).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
											if (currencyValue > 0)
												span.text-success
													span +
													include includes/value-display.pug

												br

								+summaryItem
									h6.fw-light.mb-3 Value Transferred

								+summaryItem
									.d-flex.justify-content-center.mt-4
										.me-3
											span.badge.text-bg-danger Sent

										div
											- var currencyValue = new Decimal(localChannel.total_satoshis_sent).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
											if (currencyValue > 0)
												span -
												include includes/value-display.pug


						.progress(style="height: 25px;")
							.progress-bar(role="progressbar", style=`width: ${localBalancePercent.toDP(0)}%;`, aria-valuenow=`${localBalancePercent.toDP(0)}`, aria-valuemin="0", aria-valuemax="100") #{localBalancePercent.toDP(1)}%

							.progress-bar.bg-info(role="progressbar", style=`width: ${remoteBalancePercent.toDP(0)}%;`, aria-valuenow=`${remoteBalancePercent.toDP(0)}`, aria-valuemin="0", aria-valuemax="100") #{remoteBalancePercent.toDP(1)}%


						

						hr.my-4


					+summaryRow(3 + (localChannel ? 1 : 0))
						+summaryItem("Last Update")
							- var timeAgoTime = channel.last_update;
							- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(timeAgoTime) * 1000))));
							
							span #{moment.utc(new Date(parseInt(channel.last_update) * 1000)).format("Y-MM-DD HH:mm:ss")} utc
							
							.text-muted.text-tiny (#{timeAgo.humanize()})


						+summaryItem("Capacity")
							- var currencyValue = new Decimal(channel.capacity).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
							include ./includes/value-display.pug


						+summaryItem("Channel Point", "On-chain transaction:output-index that opened this channel.")
							+btcTxid(channelPointTxid)
							span.ms-2 [#{channelPointIndex}]
							

							div
								span.text-small.text-muted (in block
									span.ms-2
									if (config.blockExplorerUrl)
										a(href=`${config.blockExplorerUrl}/block-height/${blockHeight}` target="_blank") #{blockHeight.toLocaleString()}
									else
										span #{blockHeight.toLocaleString()}
									| )

						if (localChannel)
							+summaryItem("Updates")
								| #{parseInt(localChannel.num_updates).toLocaleString()}

					
							
							




									

				+contentSection("Tools")
					if (localChannels.byId[channel.channel_id])
						if (session.admin)
							include includes/edit-channel-policies-modal.pug

							a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href=`javascript:void(0)` data-bs-toggle="modal" data-bs-target="#updateChannelPoliciesModal")
								i.fas.fa-pen.me-2
								span Edit Policies...

						else
							a.btn.btn-secondary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-md-inline-block(href=`javascript:void(0)` data-bs-toggle="tooltip" title="You need to log in to modify your channels." disabled)
								i.fas.fa-edit.me-2
								span Edit Policies...

					if (utils.isObjectStarred(`channel:${channelId}`))
						a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href=`/tag?action=remove&tagType=star&objectId=channel:${channelId}` title="Remove this channel from your list of favorites" data-bs-toggle="tooltip")
							i.far.fa-star.me-2
							span Unstar Channel

					else
						a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href=`/tag?action=add&tagType=star&objectId=channel:${channelId}` title="Add this channel to your list of favorites" data-bs-toggle="tooltip")
							i.fas.fa-star.me-2
							span Star Channel


					if (localChannels.byId[channel.channel_id])
						if (session.admin)
							include includes/close-channel-modal.pug

							a.btn.btn-danger.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#closeChannelModal")
								i.fas.fa-times.me-2
								span Close Channel...

						else
							a.btn.btn-danger.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href="javascript:void(0)" data-bs-toggle="tooltip" title="You need to log in to modify your channels." disabled)
								i.fas.fa-times.me-2
								span Close Channel...
						

				+contentSection("Policies")
					.table-responsive-sm
						table.table.table-striped.mb-0
							thead
								tr
									th.text-end #
									th Node
									th.text-end
										span.border-dotted(title="The CLTV delta that will be applied to all forwarded HTLCs." data-bs-toggle="tooltip") Time Lock Delta
									th.text-end Min HTLC
									th.text-end
										span.border-dotted(title="The base fee in milli-satoshis that will be charged for each forwarded HTLC, regardless of payment size." data-bs-toggle="tooltip") Base Fee
									th.text-end
										span.border-dotted(title="The fee rate that will be charged proportionally based on the value of each forwarded HTLC. The lowest possible rate is 1 milli-msat (0.000001)" data-bs-toggle="tooltip") Fee Rate (milli-msat)
							tbody
								tr
									th.text-end 1
									td
										- var card_node_pubkey = channel.node1_pub;
										include ./includes/node-card.pug

									if (channel.node1_policy)
										td.text-end #{parseInt(channel.node1_policy.time_lock_delta).toLocaleString()}
										td.text-end #{parseInt(channel.node1_policy.min_htlc).toLocaleString()}
										td.text-end
											- var currencyValue = new Decimal(channel.node1_policy.fee_base_msat).dividedBy(coinConfig.currencyUnitsByName.msat.multiplier);
											- var tempCurrencyFormatType = "msat";
											include includes/value-display.pug
											
										td.text-end #{parseInt(channel.node1_policy.fee_rate_milli_msat).toLocaleString()}
									else
										td.text-end ?
										td.text-end ?
										td.text-end ?
										td.text-end ?
								tr
									th.text-end 2
									td
										- var card_node_pubkey = channel.node2_pub;
										include ./includes/node-card.pug

									if (channel.node2_policy)
										td.text-end #{parseInt(channel.node2_policy.time_lock_delta).toLocaleString()}
										td.text-end #{parseInt(channel.node2_policy.min_htlc).toLocaleString()}
										td.text-end
											- var currencyValue = new Decimal(channel.node2_policy.fee_base_msat).dividedBy(coinConfig.currencyUnitsByName.msat.multiplier);
											- var tempCurrencyFormatType = "msat";
											include includes/value-display.pug

										td.text-end #{parseInt(channel.node2_policy.fee_rate_milli_msat).toLocaleString()}
									else
										td.text-end ?
										td.text-end ?
										td.text-end ?
										td.text-end ?

						
				+contentSection("Node Details")
					- var nodes = [ node1, node2 ];
					- var showTableNumbers = true;
					include includes/node-details-table.pug
						

			div(id="tab-json", class="tab-pane", role="tabpanel")
				h4 channelInfo
				pre
					code.json #{JSON.stringify(channel, null, 4)}

				if (localChannels.byId[channel.channel_id])
					h4 localChannelInfo
					pre
						code.json #{JSON.stringify(localChannels.byId[channel.channel_id], null, 4)}

				h4 node1Info
				pre
					code.json #{JSON.stringify(node1, null, 4)}

				h4 node2Info
				pre
					code.json #{JSON.stringify(node2, null, 4)}