extends layout4

block headContent
	title Channel #{channelId}

block breadcrumb
	if (channel != null && localChannels.byId && localChannels.byId[channel.channel_id])
		li.breadcrumb-item
			a(href='/') Home
		li.breadcrumb-item My Node
		li.breadcrumb-item
			a(href="/local-channels") My Channels
		li.breadcrumb-item Channel #{channel.channel_id}

	else
		li.breadcrumb-item
			a(href='/') Home
		li.breadcrumb-item Network
		li.breadcrumb-item
			a(href="/channels") All Channels
		li.breadcrumb-item Channel #{channelId}
	
block content

	h1.h3 Channel
		br
		small.text-monospace.word-wrap #{channelId}
	hr

	if (channel == null)
		div.alert.alert-danger
			span Channel 
			span.font-weight-bold #{channelId}
			span : Not Found

	else

		ul(class='nav nav-tabs mb-3')
			li(class="nav-item")
				a(data-toggle="tab", href="#tab-details", class="nav-link active", role="tab") Details
			li(class="nav-item")
				a(data-toggle="tab", href="#tab-json", class="nav-link", role="tab") JSON

		div(class="tab-content")
			div(id="tab-details", class="tab-pane active", role="tabpanel")
				div(class="card mb-3 shadow-sm")
					div(class="card-header")
						h2(class="h6 mb-0") Summary

					div(class="card-body")
						div(class="row")
							div(class="summary-table-label", title="On-chain transaction that opened this channel", data-toggle="tooltip") Channel Point
							div.summary-table-content.text-monospace
								if (config.blockExplorerUrl)
									a(href=(config.blockExplorerUrl + "/tx/" + channel.chan_point.substring(0, channel.chan_point.indexOf(":"))), target="_blank") #{channel.chan_point}
								else
									span #{channel.chan_point}

						div(class="row")
							div(class="summary-table-label") Last Update
							div.summary-table-content.text-monospace
								- var timeAgoTime = channel.last_update;
								- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(timeAgoTime) * 1000))));
								
								span #{moment.utc(new Date(parseInt(channel.last_update) * 1000)).format("Y-MM-DD HH:mm:ss")} utc
								br
								span.text-muted #{timeAgo.format()} ago

						div(class="row")
							div(class="summary-table-label") Capacity
							div.summary-table-content.text-monospace
								- var currencyValue = new Decimal(channel.capacity).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
								include ./includes/value-display.pug

						if (localChannels.byId && localChannels.byId[channel.channel_id])
							- var localChannel = localChannels.byId[channel.channel_id];

							div(class="row")
								div(class="summary-table-label") Balance
								div.summary-table-content
									div.clearfix
										div.float-left.mr-4
											div.font-weight-bold Local

											- var currencyValue = new Decimal(localChannel.local_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
											- var localBalancePercent = new Decimal(localChannel.local_balance).dividedBy(localChannel.local_balance + localChannel.remote_balance).times(100);
											div.text-monospace
												include includes/value-display.pug

												div.text-muted #{localBalancePercent.toDP(1)}%

										div.float-left.mr-4
											div.font-weight-bold Remote

											- var currencyValue = new Decimal(localChannel.remote_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
											- var remoteBalancePercent = new Decimal(localChannel.remote_balance).dividedBy(localChannel.local_balance + localChannel.remote_balance).times(100);

											div.text-monospace
												include includes/value-display.pug

												div.text-muted #{remoteBalancePercent.toDP(1)}%

							div(class="row")
								div(class="summary-table-label") Value Transfer
								div.summary-table-content.text-monospace
									if (localChannel.total_satoshis_received == 0 && localChannel.total_satoshis_sent == 0)
										span -
									else
										- var currencyValue = new Decimal(localChannel.total_satoshis_received).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
										if (currencyValue > 0)
											span.text-success
												span +
												include includes/value-display.pug

											br

										span.text-danger
											- var currencyValue = new Decimal(localChannel.total_satoshis_sent).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
											if (currencyValue > 0)
												span -
												include includes/value-display.pug

							div(class="row")
								div(class="summary-table-label") Updates
								div.summary-table-content.text-monospace #{parseInt(localChannel.num_updates).toLocaleString()}

							if (localChannel.private)
								div(class="row")
									div(class="summary-table-label") Private
									div.summary-table-content.text-monospace
										div.text-success Yes 
											i.fas.fa-lock
									


				div(class="card mb-3 shadow-sm")
					div(class="card-header")
						h2(class="h6 mb-0") Policies
					div(class="card-body")
						table(class="table table-responsive-sm")
							thead
								tr
									th
									th Node
									th(class="text-right") Time Lock Delta
									th(class="text-right") Min HTLC
									th(class="text-right") Fee Base (msat)
									th(class="text-right") Fee Rate (milli-msat)
							tbody
								tr.text-monospace
									th 1
									td
										- var card_node_pubkey = channel.node1_pub;
										include ./includes/node-card.pug

									if (channel.node1_policy)
										td(class="text-right") #{parseInt(channel.node1_policy.time_lock_delta).toLocaleString()}
										td(class="text-right") #{parseInt(channel.node1_policy.min_htlc).toLocaleString()}
										td(class="text-right") #{parseInt(channel.node1_policy.fee_base_msat).toLocaleString()}
										td(class="text-right") #{parseInt(channel.node1_policy.fee_rate_milli_msat).toLocaleString()}
									else
										td(class="text-right") ?
										td(class="text-right") ?
										td(class="text-right") ?
										td(class="text-right") ?
								tr.text-monospace
									th 2
									td
										- var card_node_pubkey = channel.node2_pub;
										include ./includes/node-card.pug

									if (channel.node2_policy)
										td(class="text-right") #{parseInt(channel.node2_policy.time_lock_delta).toLocaleString()}
										td(class="text-right") #{parseInt(channel.node2_policy.min_htlc).toLocaleString()}
										td(class="text-right") #{parseInt(channel.node2_policy.fee_base_msat).toLocaleString()}
										td(class="text-right") #{parseInt(channel.node2_policy.fee_rate_milli_msat).toLocaleString()}
									else
										td(class="text-right") ?
										td(class="text-right") ?
										td(class="text-right") ?
										td(class="text-right") ?

				div(class="card mb-3 shadow-sm")
					div(class="card-header")
						h2(class="h6 mb-0") Node Details
					div(class="card-body")
						- var nodes = [ node1, node2 ];
						- var showTableNumbers = true;
						include includes/node-details-table.pug

			div(id="tab-json", class="tab-pane", role="tabpanel")
				h4 channelInfo
				pre
					code.json.bg-light #{JSON.stringify(channel, null, 4)}

				if (localChannels.byId[channel.channel_id])
					h4 localChannelInfo
					pre
						code.json.bg-light #{JSON.stringify(localChannels.byId[channel.channel_id], null, 4)}

				h4 node1Info
				pre
					code.json.bg-light #{JSON.stringify(node1, null, 4)}

				h4 node2Info
				pre
					code.json.bg-light #{JSON.stringify(node2, null, 4)}