extends layout

block headContent
	title Error Log

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Technical
	li.breadcrumb-item Error Log

block content
	+pageTitle("Error Log")


	if (!session.admin)
		- var loginRequiredNote = "display recent application errors.";
		include includes/login-required-alert.pug

	else

		if (false)
			pre
				code.json #{JSON.stringify(errorSummary)}

		if (errorLog.length == 0)
			.alert.alert-success.shadow-sm
				| No recent errors
				i.fas.fa-thumbs-up.ms-2

		else



			each errorId, errorIdIndex in errorIdsByRecency
				+modal("errorIdModal-" + errorIdIndex, `Error #${(errorIdIndex + 1).toLocaleString()}`)
					h3.h6 Error
					
					pre
						code.json #{JSON.stringify(errorSummary[errorId].error.error, null, 4)}

					if (errorSummary[errorId].error.stack)
						hr

						h4.h6 Stacktrace
						pre
							code.json #{errorSummary[errorId].error.stack}

					if (errorSummary[errorId].error.userData)
						hr

						h4.h6 User Data
						pre
							code.json #{JSON.stringify(errorSummary[errorId].error.userData, null, 4)}



			.table-responsive
				table.table.table-striped
					thead
						tr
							th.text-end.fw-light #

							th
								span.border-dotted(title="This identifies the error in the source code for LND Admin." data-bs-toggle="tooltip") ID

							th Count
							th First
							th Latest
							

							th Description
							th.text-end Details
					
					tbody
						each errorId, errorIdIndex in errorIdsByRecency
							tr
								th.text-end.fw-light #{(errorIdIndex + 1).toLocaleString()}

								td #{errorId}

								td #{errorSummary[errorId].count.toLocaleString()}
								td
									+date(errorSummary[errorId].firstOccurrence.getTime()/1000)

								td
									+date(errorSummary[errorId].lastOccurrence.getTime()/1000)

								

								td #{errorSummary[errorId].error}
								
								td.text-end
									a.btn.btn-primary.btn-sm(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#errorIdModal-" + errorIdIndex))
										i.fas.fa-file-lines


			each error, errorIndex in errorLog
				+modal("errorModal-" + errorIndex, `Error #${(errorIndex + 1).toLocaleString()}`)
					h3.h6 Error
					
					pre
						code.json #{JSON.stringify(error.error, null, 4)}

					if (error.error.stack)
						hr

						h4.h6 Stacktrace
						pre
							code.json #{error.error.stack}

					if (error.userData)
						hr

						h4.h6 User Data
						pre
							code.json #{JSON.stringify(error.userData, null, 4)}



			.table-responsive
				table.table.table-striped
					thead
						tr
							th.text-end.fw-light #
							th Date
							th
								span.border-dotted(title="This identifies the error in the source code for LND Admin." data-bs-toggle="tooltip") ID

							th Error
							th.text-end Details
					
					tbody
						each error, errorIndex in errorLog
							tr
								th.text-end.fw-light #{(errorIndex + 1).toLocaleString()}

								td
									- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(error.date)));
									- var dateTimeUtc = moment.utc(error.date).format("Y-MM-DD HH:mm:ss");

									span.border-dotted(title=`${dateTimeUtc} utc`, data-bs-toggle="tooltip") #{timeAgo.humanize()} ago

								td #{error.errorId}
								td #{error.error}
								
								td.text-end
									a.btn.btn-primary.btn-sm(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#errorModal-" + errorIndex))
										i.fas.fa-file-lines

