extends layout4

block headContent
	title Error Log

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Technical
	li.breadcrumb-item Error Log

block content
	h1.h3 Error Log
	hr

	if (!session.admin)
		- var loginRequiredNote = "display recent application errors.";
		include includes/login-required-alert.pug

	else

		if (errorLog.length == 0)
			div.alert.alert-warning No recent errors found

		div.table-responsive
			table.table.table-bordered.border-top
				thead.bg-light
					tr
						th.text-right #
						th Date
						th
							span.border-dotted(title="This identifies the error in the source code for LND Admin." data-toggle="tooltip") ID

						th Details
						th Stacktrace
				
				tbody
					each error, errorIndex in errorLog
						tr.text-monospace
							th.text-right #{(errorIndex + 1).toLocaleString()}
							td
								- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(error.date)));
								- var dateTimeUtc = moment.utc(error.date).format("Y-MM-DD HH:mm:ss");

								div #{timeAgo.humanize()} ago
								div.text-muted #{dateTimeUtc} utc

							td #{error.errorId}
							td
								pre
									code.json.bg-light #{JSON.stringify(error.error, null, 4)}

							td
								pre
									code.json.bg-light #{JSON.stringify(error.error.stack, null, 4)}