extends layout

block headContent
	title Forwarding History

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Lightning Payments
	li.breadcrumb-item Forwarding History
	
block content
	+pageTitle("Forwarding History")
	

	if (!session.admin)
		- var loginRequiredNote = "show this node's payment forwarding history.";
		include includes/login-required-alert.pug

	else

		+card
			.d-flex.flex-wrap
				.me-3
					- var createdFilterOptions = [["1h", "60m"], ["24h", "24h"], ["7d", "7d"], ["30d", "30d"], ["All", "all"]];

					+filterBtnGroup("Time", null, createdFilterOptions, `/forwarding-history?sort=${sort}&tab=${tab}&limit=${limit}`, "daterange", daterange)


		
		if (forwardingHistoryResponse.forwarding_events && forwardingHistoryResponse.forwarding_events.length > 0)
			ul.nav.nav-tabs.mb-3
				li.nav-item
					a.nav-link(href=`/forwarding-history?sort=${sort}&tab=summary&daterange=${daterange}&limit=${limit}` class=(tab == "summary" ? "active" : false)) Summary
				li.nav-item
					a.nav-link(href=`/forwarding-history?sort=${sort}&tab=events&daterange=${daterange}&limit=${limit}` class=(tab == "events" ? "active" : false)) Events
						span.badge.badge-secondary.ms-2 #{forwardingHistoryResponse.forwarding_events.length.toLocaleString()}
				li.nav-item
					a.nav-link(href=`/forwarding-history?sort=${sort}&tab=channels&daterange=${daterange}&limit=${limit}` class=(tab == "channels" ? "active" : false)) Channels
						span.badge.badge-secondary.ms-2 #{(inChannels.length + outChannels.length).toLocaleString()}

			.tab-content
				.tab-pane(id="tab-summary" role="tabpanel" class=(tab == "summary" ? "active" : false))
					if (tab == "summary")
						+contentSection("Summary")
							+summaryRow(3)
								+summaryItem("Forwarded Payments")
									| #{allFilteredEventsCount.toLocaleString()}


								+summaryItem("Fees Collected", null, "total / max / avg")
									+btcValue(totalFees)

									span.text-muted.mx-2 /

									+btcValue(maxFee)

									span.text-muted.mx-2 /

									+btcValue(avgFee)


								+summaryItem("Value Transferred", null, "total / max / avg")
									+btcValue(totalValueTransferred)

									span.text-muted.mx-2 /

									+btcValue(maxValueTransferred)

									span.text-muted.mx-2 /

									+btcValue(avgValueTransferred)

						

				
				.tab-pane(id="tab-events" role="tabpanel" class=(tab == "events" ? "active" : false))

					if (tab == "events")
						+card
							+filterList
								+filterItem
									- var sortOptions = [["Date", "date-desc"], ["Value", "value-desc"]];

									+filterBtnGroup("Sort", null, sortOptions, `/forwarding-history?tab=${tab}&daterange=${daterange}&limit=${limit}`, "sort", sort)

								+filterItem(true)
									- var pageSizeOptions = [["20", "20"], ["50", "50"], ["100", "100"]];

									+filterBtnGroup("Page Size", null, pageSizeOptions, `/forwarding-history?sort=${sort}&tab=${tab}&daterange=${daterange}`, "limit", limit)

							
							hr.my-3

							div
								if (allFilteredEventsCount > limit)
									span Showing 
									span.fw-bold ##{(offset + 1).toLocaleString()} - #{Math.min(offset + limit, allFilteredEventsCount).toLocaleString()} 
									span of 
									span.fw-bold #{allFilteredEventsCount.toLocaleString()} 
									if (allEvents.length > allFilteredEventsCount)
										span filtered 
									span event
									if (allFilteredEventsCount != 1)
										span s

								else if (allFilteredEventsCount > 0)
									span Showing 
									span.fw-bold #{allFilteredEventsCount.toLocaleString()} 
									if (allEvents.length > allFilteredEventsCount)
										span filtered 

									span event
									if (allFilteredEventsCount > 1)
										span s
								else
									.alert.alert-warning.shadow-sm.mb-0 No matching events

							- var itemCount = allFilteredEventsCount;
							if (itemCount > limit)
								- var pageNumber = offset / limit + 1;
								- var pageCount = Math.floor(itemCount / limit);
								- if (pageCount * limit < itemCount) {
									- pageCount++;
								- }
								- var paginationUrlFunction = function(x) {
									- return paginationBaseUrl + `&limit=${limit}&offset=${((x - 1) * limit)}`;
								- }
								
								.mt-2.mb-0
									include includes/pagination.pug

						each forwardingEvent, forwardingEventIndex in pagedFilteredEvents
							+modal(`forwardingEventModal-${forwardingEventIndex}`, `Forwarding Event #${(forwardingEventIndex + 1).toLocaleString()}`)
								pre
									code.json #{JSON.stringify(forwardingEvent, null, 4)}

						.table-responsive
							table.table.table-striped
								thead
									tr
										th.text-end.fw-light #
										th Date
										th Incoming Channel
										th Outgoing Channel
										th.text-end Incoming Amount
										th.text-end Outgoing Amount
										th.text-end Fee
										th.text-end Raw Data

								tbody
									each forwardingEvent, forwardingEventIndex in pagedFilteredEvents
										tr
											th.text-end.fw-light #{(forwardingEventIndex + offset + 1).toLocaleString()}
											
											td
												+date(forwardingEvent.timestamp)


											td
												- var channel_id = forwardingEvent.chan_id_in;
												- var channelInfo = fullNetworkDescription.channelsById[channel_id];

												+channelId(forwardingEvent.chan_id_in, channelInfo != null)
												

												if (channelInfo)
													hr

													- var card_node_pubkey = channelInfo.node1_pub;
													if (card_node_pubkey == lndRpc.internal_pubkey)
														- card_node_pubkey = channelInfo.node2_pub;

													+nodeCard(card_node_pubkey)

											td
												- var channel_id = forwardingEvent.chan_id_out;
												- var channelInfo = fullNetworkDescription.channelsById[channel_id];

												+channelId(forwardingEvent.chan_id_out, channelInfo != null)

												
												if (channelInfo)
													hr

													- var card_node_pubkey = channelInfo.node1_pub;
													if (card_node_pubkey == lndRpc.internal_pubkey)
														- card_node_pubkey = channelInfo.node2_pub;

													+nodeCard(card_node_pubkey)

											td.text-end
												+btcValue(forwardingEvent.amt_in)
											
											td.text-end
												+btcValue(forwardingEvent.amt_out)

											td.text-end
												.text-success
													span +

													+btcValue(forwardingEvent.fee)

											td.text-end
												a.btn.btn-sm.btn-primary(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#forwardingEventModal-" + forwardingEventIndex))
													i.fas.fa-file-lines

					
				.tab-pane(id="tab-channels" role="tabpanel" class=(tab == "channels" ? "active" : false))
					if (false)					
						pre
							code.json #{JSON.stringify(inChannels, null, 4)}

					if (tab == "channels")
						+card
							+filterList
								+filterItem
									- var sortOptions = [["Σ Transferred", "valuetransfer-desc"], ["Fees", "fees-desc"], ["Payment Count", "eventcount-desc"], ["Channel ID", "channelId-asc"]];

									+filterBtnGroup("Sort", null, sortOptions, `/forwarding-history?tab=${tab}&daterange=${daterange}&limit=${limit}`, "sort", sort)



						.row
							.col-md-6
								h3.h5 #{inChannels.length.toLocaleString()} Incoming Channel
									if (inChannels.length != 1)
										span s

								hr

								.table-responsive
									table.table.table-striped
										thead
											tr
												th.text-end.fw-light #
												th Channel
												th.text-end Payments
												th.text-end Value Transferred
												th.text-end Fees Collected
												

										tbody
											each channelForwardingInfo, channelInfoIndex in inChannels
												tr
													th.text-end.fw-light #{(channelInfoIndex + 1).toLocaleString()}

													td
														- var channel_id = channelForwardingInfo.channelId;
														- var channelInfo = fullNetworkDescription.channelsById[channel_id];

														+channelId(channelForwardingInfo.channelId, channelInfo != null)


														if (channelInfo)
															hr
															
															- var card_node_pubkey = channelInfo.node1_pub;
															if (card_node_pubkey == lndRpc.internal_pubkey)
																- card_node_pubkey = channelInfo.node2_pub;

															+nodeCard(card_node_pubkey)

													td.text-end #{channelForwardingInfo.eventCount.toLocaleString()}
													
													td.text-end
														+btcValue(channelForwardingInfo.totalValueTransferred)

													td.text-end
														.text-success
															span +

															+btcValue(channelForwardingInfo.totalFees)

							.col-md-6
								h3.h5 #{outChannels.length.toLocaleString()} Outgoing Channel
									if (outChannels.length != 1)
										span s

								hr

								.table-responsive
									table.table.table-striped
										thead
											tr
												th.text-end #
												th Channel
												th.text-end Payments
												th.text-end Value Transferred
												

										tbody
											each channelForwardingInfo, channelInfoIndex in outChannels
												tr
													th.text-end #{(channelInfoIndex + 1).toLocaleString()}
													td
														- var channel_id = channelForwardingInfo.channelId;
														- var channelInfo = fullNetworkDescription.channelsById[channel_id];

														+channelId(channelForwardingInfo.channelId, channelInfo != null)


														if (channelInfo)
															hr
															
															- var card_node_pubkey = channelInfo.node1_pub;
															if (card_node_pubkey == lndRpc.internal_pubkey)
																- card_node_pubkey = channelInfo.node2_pub;

															+nodeCard(card_node_pubkey)
															
													td.text-end #{channelForwardingInfo.eventCount.toLocaleString()}
													
													td.text-end
														+btcValue(channelForwardingInfo.totalValueTransferred)


		else
			.alert.alert-warning.shadow-sm Your LND Node has not forwarded any payments during this window
						