extends layout

block headContent
	title Forwarding History

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Lightning Payments
	li.breadcrumb-item Forwarding History
	
block content
	+pageTitle("Forwarding History")
	

	if (!session.admin)
		- var loginRequiredNote = "show this node's payment forwarding history.";
		include includes/login-required-alert.pug

	else

		+card
			.d-flex.flex-wrap
				.me-3
					- var createdFilterOptions = [["1h", "60m"], ["24h", "24h"], ["7d", "7d"], ["30d", "30d"], ["All", "all"]];

					+filterBtnGroup("Time", null, createdFilterOptions, `/forwarding-history?sort=${sort}&tab=${tab}&limit=${limit}`, "daterange", daterange)


		
		if (forwardingHistoryResponse.forwarding_events && forwardingHistoryResponse.forwarding_events.length > 0)
			ul.nav.nav-tabs.mb-3
				li.nav-item
					a.nav-link(href=`/forwarding-history?sort=${sort}&tab=summary&daterange=${daterange}&limit=${limit}` class=(tab == "summary" ? "active" : false)) Summary
				li.nav-item
					a.nav-link(href=`/forwarding-history?sort=${sort}&tab=events&daterange=${daterange}&limit=${limit}` class=(tab == "events" ? "active" : false)) Events
						span.badge.badge-secondary.ms-2 #{forwardingHistoryResponse.forwarding_events.length.toLocaleString()}
				li.nav-item
					a.nav-link(href=`/forwarding-history?sort=${sort}&tab=channels&daterange=${daterange}&limit=${limit}` class=(tab == "channels" ? "active" : false)) Channels
						span.badge.badge-secondary.ms-2 #{(inChannels.length + outChannels.length).toLocaleString()}

			.tab-content
				.tab-pane(id="tab-summary" role="tabpanel" class=(tab == "summary" ? "active" : false))
					if (tab == "summary")
						+contentSection("Summary")
							+summaryRow(3)
								+summaryItem("Forwarded Payments")
									| #{allFilteredEventsCount.toLocaleString()}


								+summaryItem("Fees Collected", null, "total / max / avg")
									- var currencyValue = new Decimal(totalFees).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
									include includes/value-display.pug

									span.text-muted.mx-2 /

									- var currencyValue = new Decimal(maxFee).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
									include includes/value-display.pug

									span.text-muted.mx-2 /

									- var currencyValue = new Decimal(avgFee).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
									include includes/value-display.pug


								+summaryItem("Value Transferred", null, "total / max / avg")
									- var currencyValue = new Decimal(totalValueTransferred).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
									include includes/value-display.pug

									span.text-muted.mx-2 /

									- var currencyValue = new Decimal(maxValueTransferred).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
									include includes/value-display.pug

									span.text-muted.mx-2 /

									- var currencyValue = new Decimal(avgValueTransferred).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
									include includes/value-display.pug

						

				
				.tab-pane(id="tab-events" role="tabpanel" class=(tab == "events" ? "active" : false))

					if (tab == "events")
						+card
							.d-flex.flex-wrap
								.me-3
									- var sortOptions = [["Date", "date-desc"], ["Value", "value-desc"]];

									+filterBtnGroup("Sort", null, sortOptions, `/forwarding-history?tab=${tab}&daterange=${daterange}&limit=${limit}`, "sort", sort)

								.me-3
									- var pageSizeOptions = [["20", "20"], ["50", "50"], ["100", "100"]];

									+filterBtnGroup("Page Size", null, pageSizeOptions, `/forwarding-history?sort=${sort}&tab=${tab}&daterange=${daterange}`, "limit", limit)

							
							hr.my-3

							div
								if (allFilteredEventsCount > limit)
									span Showing 
									span.fw-bold ##{(offset + 1).toLocaleString()} - #{Math.min(offset + limit, allFilteredEventsCount).toLocaleString()} 
									span of 
									span.fw-bold #{allFilteredEventsCount.toLocaleString()} 
									if (allEvents.length > allFilteredEventsCount)
										span filtered 
									span event
									if (allFilteredEventsCount != 1)
										span s

								else if (allFilteredEventsCount > 0)
									span Showing 
									span.fw-bold #{allFilteredEventsCount.toLocaleString()} 
									if (allEvents.length > allFilteredEventsCount)
										span filtered 

									span event
									if (allFilteredEventsCount > 1)
										span s
								else
									.alert.alert-warning.shadow-sm.mb-0 No matching events

							- var itemCount = allFilteredEventsCount;
							if (itemCount > limit)
								- var pageNumber = offset / limit + 1;
								- var pageCount = Math.floor(itemCount / limit);
								- if (pageCount * limit < itemCount) {
									- pageCount++;
								- }
								- var paginationUrlFunction = function(x) {
									- return paginationBaseUrl + `&limit=${limit}&offset=${((x - 1) * limit)}`;
								- }
								
								.mt-2.mb-0
									include includes/pagination.pug

						each forwardingEvent, forwardingEventIndex in pagedFilteredEvents
							include includes/forwarding-event-details-modal.pug

						.table-responsive
							table.table.table-bordered.border-top
								thead
									tr
										th.text-end #
										th Date
										th Incoming Channel
										th Outgoing Channel
										th.text-end Incoming Amount
										th.text-end Outgoing Amount
										th.text-end Fee
										th Details

								tbody
									each forwardingEvent, forwardingEventIndex in pagedFilteredEvents
										tr
											th.text-end #{(forwardingEventIndex + offset + 1).toLocaleString()}
											td
												- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(forwardingEvent.timestamp) * 1000))));
												- var dateTimeUtc = moment.utc(new Date(parseInt(forwardingEvent.timestamp) * 1000)).format("Y-MM-DD HH:mm:ss");

												div #{dateTimeUtc} utc
												.text-muted #{timeAgo.humanize()} ago

											td
												- var channel_id = forwardingEvent.chan_id_in;
												- var channelInfo = fullNetworkDescription.channelsById[channel_id];
												if (channelInfo)
													a(href=`/channel/${forwardingEvent.chan_id_in}`)
														include includes/channel-id.pug

												else
													- var channel_id = forwardingEvent.chan_id_in;
													include includes/channel-id.pug
													span.text-muted  (closed)

												if (utils.isObjectStarred(`channel:${channel_id}`))
													i.fas.fa-star.text-warning.ms-1(title="This is one of your favorite channels" data-bs-toggle="tooltip")

												if (channelInfo)
													hr

													- var card_node_pubkey = channelInfo.node1_pub;
													if (card_node_pubkey == lndRpc.internal_pubkey)
														- card_node_pubkey = channelInfo.node2_pub;

													include includes/node-card.pug

											td
												- var channel_id = forwardingEvent.chan_id_out;
												- var channelInfo = fullNetworkDescription.channelsById[channel_id];

												if (channelInfo)
													a(href=`/channel/${forwardingEvent.chan_id_out}`)
														include includes/channel-id.pug

												else
													- var channel_id = forwardingEvent.chan_id_out;
													include includes/channel-id.pug
													span.text-muted  (closed)

												if (utils.isObjectStarred(`channel:${channel_id}`))
													i.fas.fa-star.text-warning.ms-1(title="This is one of your favorite channels" data-bs-toggle="tooltip")

												if (channelInfo)
													hr

													- var card_node_pubkey = channelInfo.node1_pub;
													if (card_node_pubkey == lndRpc.internal_pubkey)
														- card_node_pubkey = channelInfo.node2_pub;

													include includes/node-card.pug

											td.text-end
												- var currencyValue = new Decimal(forwardingEvent.amt_in).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
												include includes/value-display.pug
											
											td.text-end
												- var currencyValue = new Decimal(forwardingEvent.amt_out).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
												include includes/value-display.pug

											td.text-end
												.text-success
													span +

													- var currencyValue = new Decimal(forwardingEvent.fee).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
													include includes/value-display.pug

											td
												a(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#forwardingEventModal-" + forwardingEventIndex)) Details

					
				.tab-pane(id="tab-channels" role="tabpanel" class=(tab == "channels" ? "active" : false))
					if (false)					
						pre
							code.json #{JSON.stringify(inChannels, null, 4)}

					if (tab == "channels")
						+card
							.d-flex.flex-wrap
								.me-3
									- var sortOptions = [["Σ Transferred", "valuetransfer-desc"], ["Fees", "fees-desc"], ["Payment Count", "eventcount-desc"], ["Channel ID", "channelId-asc"]];

									+filterBtnGroup("Sort", null, sortOptions, `/forwarding-history?tab=${tab}&daterange=${daterange}&limit=${limit}`, "sort", sort)



						.row
							.col-md-6
								h3.h5 #{inChannels.length.toLocaleString()} Incoming Channel
									if (inChannels.length != 1)
										span s

								hr

								.table-responsive
									table.table.table-striped
										thead
											tr
												th.text-end #
												th Channel
												th.text-end Payments
												th.text-end Value Transferred
												th.text-end Fees Collected
												

										tbody
											each channelForwardingInfo, channelInfoIndex in inChannels
												tr
													th.text-end #{(channelInfoIndex + 1).toLocaleString()}
													td
														- var channel_id = channelForwardingInfo.channelId;
														- var channelInfo = fullNetworkDescription.channelsById[channel_id];

														if (channelInfo)
															a(href=`/channel/${channelForwardingInfo.channelId}`)
																include includes/channel-id.pug

														else
															include includes/channel-id.pug
															span.text-muted  (closed)

														if (utils.isObjectStarred(`channel:${channel_id}`))
															i.fas.fa-star.text-warning.ms-1(title="This is one of your favorite channels" data-bs-toggle="tooltip")

														if (channelInfo)
															hr
															
															- var card_node_pubkey = channelInfo.node1_pub;
															if (card_node_pubkey == lndRpc.internal_pubkey)
																- card_node_pubkey = channelInfo.node2_pub;

															include includes/node-card.pug

													td.text-end #{channelForwardingInfo.eventCount.toLocaleString()}
													
													td.text-end
														- var currencyValue = new Decimal(channelForwardingInfo.totalValueTransferred).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
														include includes/value-display.pug

													td.text-end
														.text-success
															span +

															- var currencyValue = new Decimal(channelForwardingInfo.totalFees).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
															include includes/value-display.pug

							.col-md-6
								h3.h5 #{outChannels.length.toLocaleString()} Outgoing Channel
									if (outChannels.length != 1)
										span s

								hr

								.table-responsive
									table.table.table-striped
										thead
											tr
												th.text-end #
												th Channel
												th.text-end Payments
												th.text-end Value Transferred
												

										tbody
											each channelForwardingInfo, channelInfoIndex in outChannels
												tr
													th.text-end #{(channelInfoIndex + 1).toLocaleString()}
													td
														- var channel_id = channelForwardingInfo.channelId;
														- var channelInfo = fullNetworkDescription.channelsById[channel_id];

														if (channelInfo)
															a(href=`/channel/${channelForwardingInfo.channelId}`)
																include includes/channel-id.pug

														else
															include includes/channel-id.pug
															span.text-muted  (closed)

														if (utils.isObjectStarred(`channel:${channel_id}`))
															i.fas.fa-star.text-warning.ms-1(title="This is one of your favorite channels" data-bs-toggle="tooltip")

														if (channelInfo)
															hr
															
															- var card_node_pubkey = channelInfo.node1_pub;
															if (card_node_pubkey == lndRpc.internal_pubkey)
																- card_node_pubkey = channelInfo.node2_pub;

															include includes/node-card.pug

													td.text-end #{channelForwardingInfo.eventCount.toLocaleString()}
													
													td.text-end
														- var currencyValue = new Decimal(channelForwardingInfo.totalValueTransferred).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
														include includes/value-display.pug


		else
			.alert.alert-warning.shadow-sm Your LND Node has not forwarded any payments during this window
						