extends layout

block headContent
	title LND Admin

block breadcrumb
	li.breadcrumb-item Home

block content
	if (fullNetworkDescription)
		if (session.hideHomepageBanner != "true")
			if (global.newAppVersion)
				.alert.alert-primary.alert-dismissible.shadow-sm.mb-3
					span You're running LND Admin v#{global.appVersion}. A newer version is available: 
					a(href="https://www.npmjs.com/package/lnd-admin") LND Admin v#{global.newAppVersion}

			.alert.alert-primary.alert-dismissible.shadow-sm.mb-3(role="alert")
				p
					span.fw-bold LND Admin
					span  is 
					a(href="https://github.com/janoside/lnd-admin" target="_blank") open-source
					span  and easy to set up. It communicates with your 
					a(href="https://github.com/lightningnetwork/lnd" target="_blank") LND
					span  node via gRPC. See the 
					a(href="https://github.com/janoside/lnd-admin" target="_blank") project description
					span  for a list of features and instructions for running.

				if (global.sourcecodeProjectMetadata)
					.mt-2.mb-2
						a.btn.btn-primary.me-3.mb-1(href="https://github.com/janoside/lnd-admin")
							i.fas.fa-star.me-2
							span.me-2 Star 
							span.badge.bg-white.text-dark #{global.sourcecodeProjectMetadata.stargazers_count}

						a.btn.btn-primary.me-3.mb-1(href="https://github.com/janoside/lnd-admin/fork")
							i.fas.fa-code-branch.me-2
							span.me-2 Fork 
							span.badge.bg-white.text-dark #{global.sourcecodeProjectMetadata.forks_count}

						a.btn.btn-primary.btn.btn-primary.mb-1(href=config.donations.btcpayserver.host target="_blank")
							i(class="fas fa-heart me-2")
							span Donate

				div
					a.me-2(href="https://www.npmjs.com/package/lnd-admin" rel="nofollow" target="_blank")
						img(src="https://camo.githubusercontent.com/dca2e8f947987c994c021fedf0da14f740220773/68747470733a2f2f696d672e736869656c64732e696f2f6e706d2f762f6c6e642d61646d696e2e7376673f7374796c653d666c6174" alt="npm version" data-canonical-src="https://img.shields.io/npm/v/lnd-admin.svg?style=flat" style="max-width:100%;")

					a(href="https://npmcharts.com/compare/lnd-admin?minimal=true" rel="nofollow" target="_blank")
						img(src="https://camo.githubusercontent.com/015986f601eae0e28a983728259ccb96ce042511/687474703a2f2f696d672e736869656c64732e696f2f6e706d2f646d2f6c6e642d61646d696e2e7376673f7374796c653d666c6174" alt="NPM downloads" data-canonical-src="http://img.shields.io/npm/dm/lnd-admin.svg?style=flat" style="max-width:100%;")


				a.btn-close(href="/changeSetting?name=hideHomepageBanner&value=true" aria-label="Close" style="text-decoration: none;")
				
		
		- var totalCapacity = 0;
		each item in fullNetworkDescription.channels.sortedByLastUpdate
			- totalCapacity = totalCapacity + parseInt(item.capacity);

		- var networkSummaryItemCount = 3;
		- var networkSummaryColumnClass = "col-md-4";
		if (networkSummaryItemCount > 6)
			- networkSummaryColumnClass = "col-md-3";


		+sectionTitle("My Node", false, null, null, null, "This card shows the basic details of your node, and the format is used throughout this app. The image is derived from the node's public key and the color for the outer ring is the node's 'color' property. The first N characters of the public key and the alias are also displayed.")

		.d-flex.mt-3.lead.mb-section
			+card
				- var card_node_pubkey = lndRpc.internal_pubkey;
				include includes/node-card.pug

		+contentSection("Node Summary")
			if (false)
				div(class="row")
					.summary-split-table-label Public Key
					.summary-split-table-content
						a(href=`/node/${lndRpc.internal_pubkey}`) #{lndRpc.internal_pubkey}

			


			+summaryRow(3)
				+summaryItem("On-Chain Balance")
					if (walletBalance)
						- var currencyValue = new Decimal(parseInt(walletBalance.confirmed_balance)).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
						if (currencyValue > 0)
							div
								include includes/value-display.pug

						else
							span.text-warning None

						- var currencyValue = new Decimal(parseInt(walletBalance.unconfirmed_balance)).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
						if (currencyValue > 0)
							.text-muted
								include includes/value-display.pug
								span  (unconfirmed)

					else
						span.text-warning.border-dotted(title="Error loading wallet balance. See Error Log for details." data-bs-toggle="tooltip") Unknown

				
				+summaryItem("Channels")
					if (getInfo)
						span.text-success Active:
						span.ms-2
							if (parseInt(getInfo.num_active_channels) > 0)
								span.text-success #{parseInt(getInfo.num_active_channels).toLocaleString()}

							else
								span.text-warning None

						if (getInfo.num_pending_channels > 0 || getInfo.num_inactive_channels > 0)
							span.text-muted  (
								if (getInfo.num_pending_channels > 0)
									span #{parseInt(getInfo.num_pending_channels).toLocaleString()} pending

									if (getInfo.num_inactive_channels > 0)
										span , 

								if (getInfo.num_inactive_channels > 0)
									span #{parseInt(getInfo.num_inactive_channels).toLocaleString()} inactive
								span )

					else
						span.text-warning.border-dotted(title="Error loading channel info. See Error Log for details." data-bs-toggle="tooltip") Unknown


				+summaryItem("Channel Balances")
					div
						span.border-dotted.me-2(title="Local, spendable balance across all of your channels.", data-bs-toggle="tooltip") Spendable

						- var currencyValue = new Decimal(totalLocalBalance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);

						if (currencyValue > 0)
							- var localBalancePercent = new Decimal(totalLocalBalance).dividedBy(totalLocalBalance + totalRemoteBalance).times(100);

						include includes/value-display.pug
						
						if (currencyValue > 0)
							span.text-muted.text-tiny.ms-2 (#{localBalancePercent.toDP(1)}%)

					div
						span.border-dotted.me-2(title="Total receivable balance on the remote side of all of your channels.", data-bs-toggle="tooltip") Receivable
						
						- var currencyValue = new Decimal(parseInt(totalRemoteBalance)).dividedBy(coinConfig.baseCurrencyUnit.multiplier);

						if (currencyValue > 0)
							- var remoteBalancePercent = new Decimal(totalRemoteBalance).dividedBy(totalLocalBalance + totalRemoteBalance).times(100);

						include includes/value-display.pug
						
						if (currencyValue > 0)
							span.text-muted.text-tiny.ms-2 (#{remoteBalancePercent.toDP(1)}%)



			hr.my-4



			+summaryRow(3)
				+summaryItem("LND Version")
					if (getInfo)
						- var versionParts = getInfo.version.split(" ");
						each versionPart in versionParts
							span #{versionPart}
							br
					else
						| Unknown

				+summaryItem(`Chain${getInfo.chains.length > 1 ? "s" : ""}`)
					each chain in getInfo.chains
						span #{chain.chain} (#{chain.network})
						br


				+summaryItem("Current Block")
					if (config.blockExplorerUrl)
						a(href=(config.blockExplorerUrl + "/block/" + getInfo.block_hash), target="_blank") ##{getInfo.block_height.toLocaleString()}
						.text-muted.text-tiny (
							if (getInfo.synced_to_chain)
								span.text-muted synchronized
							else
								span.text-danger not synchronized

							span )

					else
						span #{getInfo.block_hash}
						br
						span(class="text-muted") (#{getInfo.block_height.toLocaleString()})


			

			if (false)
				div(class="col-md-6")
				div(class="row")
					.summary-split-table-label URIs
					.summary-split-table-content
						each uri, index in getInfo.uris
							if (getInfo.uris.length > 1)
								span #{index + 1}: #{uri}
							else
								span #{uri}

		

			
			

								

			if (false)
				.row
					.summary-split-table-label
						span.border-dotted(title="This image is derived from the node's public key and should be unique to this node. The color for the outer ring is the node's 'color' property.", data-bs-toggle="tooltip") Icon
					.summary-split-table-content
						- var node_pubkey = getInfo.identity_pubkey;
						include includes/node-icon.pug

		

		// "This summary is for the public network from the point of view of your current node."
		+contentSection("Public Network Summary")
			+summaryRow(4)
				+summaryItem("Total Capacity")
					- var currencyValue = new Decimal(totalCapacity).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
					include ./includes/value-display.pug

				+summaryItem("Nodes")
					span #{fullNetworkDescription.nodes.sortedByLastUpdate.length.toLocaleString()}

				+summaryItem("Channels")
					span #{fullNetworkDescription.channels.sortedByLastUpdate.length.toLocaleString()}

				+summaryItem("Avg Channel Capacity")
					- var currencyValue = new Decimal(totalCapacity).dividedBy(coinConfig.baseCurrencyUnit.multiplier).dividedBy(fullNetworkDescription.channels.sortedByLastUpdate.length);

					include ./includes/value-display.pug
			
			hr.my-4


			+summaryRow(2)
				+summaryItem("Out Degree Stats")
					span #{new Decimal(networkInfo.avg_out_degree).toDP(2)}
					span.text-muted.text-tiny.ms-1 (avg)
					span.text-muted.mx-2 /
					span #{new Decimal(networkInfo.max_out_degree).toDP(2)}
					span.text-muted.text-tiny.ms-1 (max)

				+summaryItem("Channel Sizes", "Min / max allowed channel size.", "sat")
					- var currencyValue = new Decimal(networkInfo.min_channel_size).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
					include includes/value-display.pug

					span.text-muted.text-tiny.ms-1 (min)
					span.text-muted.mx-2 /
					
					- var currencyValue = new Decimal(networkInfo.max_channel_size).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
					include includes/value-display.pug
					
					span.text-muted.text-tiny.ms-1 (max)
					
					

			
			if (false)
				hr

				pre
					code.json #{JSON.stringify(networkInfo, null, 4)}


		if (false)
			div(class="card mb-4 shadow-sm")
				.card-header
					div(class="row")
						div(class="col")
							h2.h6.mb-0 #{fullNetworkDescription.nodes.sortedByLastUpdate.length.toLocaleString()} 
								if (fullNetworkDescription.nodes.sortedByLastUpdate.length == 1)
									span Node
								else
									span Nodes

						div(class="col")
							span(style="float: right;")
								a(href="/nodes")
									span  Browse Nodes &raquo;

				.card-body
					.row
						.col-md-4
							h3.h4 Recently Updated
							- var nodeInfos = fullNetworkDescription.nodes.sortedByLastUpdate.slice(0, 5);
							include includes/node-card-list.pug

						.col-md-4
							h3.h4 Top Channel Count
							- var nodeInfos = fullNetworkDescription.nodes.sortedByChannelCount.slice(0, 5);
							include includes/node-card-list.pug

						.col-md-4
							h3.h4 Top Capacity
							- var nodeInfos = fullNetworkDescription.nodes.sortedByTotalCapacity.slice(0, 5);
							include includes/node-card-list.pug
				

		if (false)
			div(class="card mb-4 shadow-sm")
				.card-header
					div(class="row")
						div(class="col")
							h2.h6.mb-0 #{fullNetworkDescription.channels.sortedByLastUpdate.length.toLocaleString()} 
								if (fullNetworkDescription.channels.sortedByLastUpdate.length == 1)
									span Channel
								else
									span Channels

						div(class="col")
							span(style="float: right;")
								a(href="/channels")
									span  Browse Channels &raquo;

				.card-body
					ul(class='nav nav-tabs')
						li(class="nav-item")
							a(data-bs-toggle="tab", href="#tab-channels-sortedByLastUpdate", class="nav-link active", role="tab") Recently Updated
						li(class="nav-item")
							a(data-bs-toggle="tab", href="#tab-channels-sortedByCapacity", class="nav-link", role="tab") Most Capacity

					div(class="tab-content")
						div(id="tab-channels-sortedByLastUpdate", class="tab-pane active", role="tabpanel")
							- var channels = fullNetworkDescription.channels.sortedByLastUpdate.slice(0, 10);
							include includes/channel-table.pug

						div(id="tab-channels-sortedByCapacity", class="tab-pane", role="tabpanel")
							- var channels = fullNetworkDescription.channels.sortedByCapacity.slice(0, 10);
							include includes/channel-table.pug

	else
		.alert.alert-primary No active LND connection. If your app was just started, it may still be connecting. Otherwise, check your RPC connection and your logs for errors.
			.mt-2
				a(href="/manage-nodes") Manage LND Nodes...
