extends layout4

block headContent
	title LND Admin

block breadcrumb
	li.breadcrumb-item Home

block content
	if (false)
		pre #{JSON.stringify(channelBalance, null, 4)}

	if (fullNetworkDescription)
		if (session.hideHomepageBanner != "true")
			include includes/donation-modal.pug

			div.alert.alert-primary.alert-dismissible.shadow-sm(role="alert")
				p
					span.font-weight-bold LND Admin
					span  is 
					a(href="https://github.com/janoside/lnd-admin" target="_blank") open-source
					span  and easy to set up. It communicates with your 
					a(href="https://github.com/lightningnetwork/lnd" target="_blank") LND
					span  node via gRPC. See the 
					a(href="https://github.com/janoside/lnd-admin" target="_blank") project description
					span  for a list of features and instructions for running.

				if (global.sourcecodeProjectMetadata)
					div.mt-2
						a.btn.btn-primary.mr-3.mb-1(href="https://github.com/janoside/lnd-admin")
							i.fas.fa-star.mr-2
							span.mr-2 Star 
							span.badge.bg-white.text-dark #{global.sourcecodeProjectMetadata.stargazers_count}

						a.btn.btn-primary.mr-3.mb-1(href="https://github.com/janoside/lnd-admin/fork")
							i.fas.fa-code-branch.mr-2
							span.mr-2 Fork 
							span.badge.bg-white.text-dark #{global.sourcecodeProjectMetadata.forks_count}

						button.btn.btn-primary.btn.btn-primary.mb-1(type="button" data-toggle="modal" data-target="#donationModal")
							i(class="fas fa-heart mr-2")
							span Donate via 
							span(class="font-weight-light") BTCPay


				a.close(href="/changeSetting?name=hideHomepageBanner&value=true" aria-label="Close" style="text-decoration: none;")
					span(aria-hidden="true") &times;
				
		
		- var totalCapacity = 0;
		each item in fullNetworkDescription.channels.sortedByLastUpdate
			- totalCapacity = totalCapacity + parseInt(item.capacity);

		- var networkSummaryItemCount = 3;
		- var networkSummaryColumnClass = "col-md-4";
		if (networkSummaryItemCount > 6)
			- networkSummaryColumnClass = "col-md-3";

		style.
			#node-details-table th {
				max-width: 200px !important;
			}

		//pre
		//	code.json.bg-light #{JSON.stringify(channelBalance, null, 4)}

		div.row
			div.col-md-6
				div.card.mb-3.shadow-sm
					div.card-header
						h2.h6.mb-0 My Node Summary
					div.card-body
						if (true)
							div(class="row")
								div.summary-split-table-label
									span.border-dotted(title="This card shows the basic details of your node, and the format is used throughout this app. The image is derived from the node's public key and the color for the outer ring is the node's 'color' property. The first N characters of the public key and the alias are also displayed.", data-toggle="tooltip") Node
								div.summary-split-table-content.text-monospace
									div.clearfix
										div.card.float-left
											div.card-body
												- var card_node_pubkey = getInfo.identity_pubkey;
												include includes/node-card.pug

							if (false)
								div(class="row")
									div.summary-split-table-label Public Key
									div.summary-split-table-content.text-monospace
										a(href=`/node/${getInfo.identity_pubkey}`) #{getInfo.identity_pubkey}

								div(class="row")
									div.summary-split-table-label Alias
									div.summary-split-table-content.text-monospace #{getInfo.alias}

								div(class="row")
									div.summary-split-table-label Color
									div.summary-split-table-content.text-monospace
										- var node_color = fullNetworkDescription.nodeInfoByPubkey[getInfo.identity_pubkey].node.color;
										include ./includes/node-color-swatch.pug
										span #{node_color}

							div(class="row")
								- var versionParts = getInfo.version.split(" ");
								div.summary-split-table-label LND Version
								div.summary-split-table-content.text-monospace
									each versionPart in versionParts
										span #{versionPart}
										br

							if (false)
								div(class="col-md-6")
								div(class="row")
									div.summary-split-table-label URIs
									div.summary-split-table-content.text-monospace
										each uri, index in getInfo.uris
											if (getInfo.uris.length > 1)
												span #{index + 1}: #{uri}
											else
												span #{uri}

							div(class="row")
								div.summary-split-table-label
									if (getInfo.chains.length == 1)
										span Chain
									else
										span Chains
								div.summary-split-table-content.text-monospace
									each chain in getInfo.chains
										span #{chain.chain} (#{chain.network})
										br

							div(class="row")
								div.summary-split-table-label Current Block
								div.summary-split-table-content.text-monospace
									if (config.blockExplorerUrl)
										a(href=(config.blockExplorerUrl + "/block/" + getInfo.block_hash), target="_blank") ##{getInfo.block_height.toLocaleString()}
										span.text-muted  (
											if (getInfo.synced_to_chain)
												span.text-muted synchronized
											else
												span.text-danger not synchronized

											span )

									else
										span #{getInfo.block_hash}
										br
										span(class="text-muted") (#{getInfo.block_height.toLocaleString()})

							div(class="row")
								div.summary-split-table-label Channels
								div.summary-split-table-content.text-monospace
									span #{parseInt(getInfo.num_active_channels).toLocaleString()} active

									if (getInfo.num_pending_channels > 0 || getInfo.num_inactive_channels > 0)
										span.text-muted  (
											if (getInfo.num_pending_channels > 0)
												span #{parseInt(getInfo.num_pending_channels).toLocaleString()} pending

												if (getInfo.num_inactive_channels > 0)
													span , 

											if (getInfo.num_inactive_channels > 0)
												span #{parseInt(getInfo.num_inactive_channels).toLocaleString()} inactive
											span )

							div(class="row")
								div.summary-split-table-label Wallet Balance
								div.summary-split-table-content.text-monospace
									- var currencyValue = new Decimal(parseInt(walletBalance.confirmed_balance)).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
									if (currencyValue > 0)
										div
											include includes/value-display.pug

									- var currencyValue = new Decimal(parseInt(walletBalance.unconfirmed_balance)).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
									if (currencyValue > 0)
										div.text-muted
											include includes/value-display.pug
											span  (unconfirmed)

							div(class="row")
								div.summary-split-table-label Channel Balance
								div.summary-split-table-content
									div.clearfix
										
										div.float-left(style="width: 8rem;")
											div.font-weight-bold Local

											div.text-monospace
												- var currencyValue = new Decimal(totalLocalBalance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
												- var localBalancePercent = new Decimal(totalLocalBalance).dividedBy(totalLocalBalance + totalRemoteBalance).times(100);

												include includes/value-display.pug
												div.text-muted #{localBalancePercent.toDP(1)}%

										div.float-left(style="width: 8rem;")
											div.font-weight-bold Remote

											div.text-monospace
												- var currencyValue = new Decimal(parseInt(totalRemoteBalance)).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
												- var remoteBalancePercent = new Decimal(totalRemoteBalance).dividedBy(totalLocalBalance + totalRemoteBalance).times(100);

												include includes/value-display.pug
												div.text-muted #{remoteBalancePercent.toDP(1)}%

							if (false)
								div.row
									div.summary-split-table-label
										span.border-dotted(title="This image is derived from the node's public key and should be unique to this node. The color for the outer ring is the node's 'color' property.", data-toggle="tooltip") Icon
									div.summary-split-table-content
										- var node_pubkey = getInfo.identity_pubkey;
										include includes/node-icon.pug

			div.col-md-6
				div(class="card mb-4 shadow-sm")
					div.card-header
						h2.h6.mb-0
							span.border-dotted(title="This summary is for the public network from the point of view of your current node." data-toggle="tooltip") Public Network Summary
					div.card-body

						div(class="row")
							- var currencyValue = new Decimal(totalCapacity).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
							div.summary-split-table-label Total Capacity
							div.summary-split-table-content.text-monospace
								include ./includes/value-display.pug

						div(class="row")
							div.summary-split-table-label Nodes
							div.summary-split-table-content.text-monospace
								span #{fullNetworkDescription.nodes.sortedByLastUpdate.length.toLocaleString()}

						div(class="row")
							div.summary-split-table-label Channels
							div.summary-split-table-content.text-monospace
								span #{fullNetworkDescription.channels.sortedByLastUpdate.length.toLocaleString()}

						div(class="row")
							- var currencyValue = new Decimal(totalCapacity).dividedBy(coinConfig.baseCurrencyUnit.multiplier).dividedBy(fullNetworkDescription.channels.sortedByLastUpdate.length);
							div.summary-split-table-label Avg Channel Capacity
							div.summary-split-table-content.text-monospace
								include ./includes/value-display.pug

						div(class="row")
							div.summary-split-table-label Out Degree
							div.summary-split-table-content.text-monospace
								div.clearfix
									div.float-left(style="width: 8rem;")
										div.font-weight-bold Average
										div #{new Decimal(networkInfo.avg_out_degree).toDP(2)}
									div.float-left(style="width: 8rem;")
										div.font-weight-bold Max
										div #{new Decimal(networkInfo.max_out_degree).toDP(2)}

						div(class="row")
							div.summary-split-table-label
								span.border-dotted(title="Min/max allowable channel sizes" data-toggle="tooltip") Channel Sizes
							div.summary-split-table-content.text-monospace
								div.clearfix
									div.float-left(style="width: 8rem;")
										div.font-weight-bold Min
										div
											- var currencyValue = new Decimal(networkInfo.min_channel_size).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
											include includes/value-display.pug

									div.float-left(style="width: 8rem;")
										div.font-weight-bold Max
										div
											- var currencyValue = new Decimal(networkInfo.max_channel_size).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
											include includes/value-display.pug

						if (false)
							hr

							pre
								code.json #{JSON.stringify(networkInfo, null, 4)}


		if (false)
			div(class="card mb-4 shadow-sm")
				div.card-header
					div(class="row")
						div(class="col")
							h2.h6.mb-0 #{fullNetworkDescription.nodes.sortedByLastUpdate.length.toLocaleString()} 
								if (fullNetworkDescription.nodes.sortedByLastUpdate.length == 1)
									span Node
								else
									span Nodes

						div(class="col")
							span(style="float: right;")
								a(href="/nodes")
									span  Browse Nodes &raquo;

				div.card-body
					div.row
						div.col-md-4
							h3.h4 Recently Updated
							- var nodeInfos = fullNetworkDescription.nodes.sortedByLastUpdate.slice(0, 5);
							include includes/node-card-list.pug

						div.col-md-4
							h3.h4 Top Channel Count
							- var nodeInfos = fullNetworkDescription.nodes.sortedByChannelCount.slice(0, 5);
							include includes/node-card-list.pug

						div.col-md-4
							h3.h4 Top Capacity
							- var nodeInfos = fullNetworkDescription.nodes.sortedByTotalCapacity.slice(0, 5);
							include includes/node-card-list.pug
				

		if (false)
			div(class="card mb-4 shadow-sm")
				div.card-header
					div(class="row")
						div(class="col")
							h2.h6.mb-0 #{fullNetworkDescription.channels.sortedByLastUpdate.length.toLocaleString()} 
								if (fullNetworkDescription.channels.sortedByLastUpdate.length == 1)
									span Channel
								else
									span Channels

						div(class="col")
							span(style="float: right;")
								a(href="/channels")
									span  Browse Channels &raquo;

				div.card-body
					ul(class='nav nav-tabs')
						li(class="nav-item")
							a(data-toggle="tab", href="#tab-channels-sortedByLastUpdate", class="nav-link active", role="tab") Recently Updated
						li(class="nav-item")
							a(data-toggle="tab", href="#tab-channels-sortedByCapacity", class="nav-link", role="tab") Most Capacity

					div(class="tab-content")
						div(id="tab-channels-sortedByLastUpdate", class="tab-pane active", role="tabpanel")
							- var channels = fullNetworkDescription.channels.sortedByLastUpdate.slice(0, 10);
							include includes/channel-table.pug

						div(id="tab-channels-sortedByCapacity", class="tab-pane", role="tabpanel")
							- var channels = fullNetworkDescription.channels.sortedByCapacity.slice(0, 10);
							include includes/channel-table.pug

	else
		div.alert.alert-primary No active LND connection. If your app was just started, it may still be connecting. Otherwise, check your RPC connection and your logs for errors.
			div.mt-2
				a(href="/manage-nodes") Manage LND Nodes...
