extends layout4

block headContent
	title Invoices

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Lightning Payments
	li.breadcrumb-item Invoices

block content
	if (!session.admin)
		h1.h3 Invoices
		hr

		- var loginRequiredNote = "display details about this node's invoices.";
		include includes/login-required-alert.pug

	else

		div.row
			div.col-md-6
				h1.h3 #{invoiceCount.toLocaleString()} 
					if (invoiceCount == 1)
						span Invoice
					else
						span Invoices

					if (allFilteredInvoices.length < allInvoices.length)
						small.text-muted  (showing #{allFilteredInvoices.length.toLocaleString()})
			div.col-md-6.text-right
				a.btn.btn-primary.mr-2(href="/create-invoice")
					i.fas.fa-asterisk.mr-2
					span Create Invoice

				
		hr

		div.card.mb-3.shadow-sm
			div.card-body
				div.clearfix
					div.dropdown.mr-4.float-left
						div Sort
						button.btn.btn-primary.dropdown-toggle.mb-2.mb-lg-0(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
							span
								if (sort == null || sort == "created-desc")
									| Created Date, Newest first
								else if (sort == "created-asc")
									| Created Date, Oldest first
								else if (sort == "value-desc")
									| Value, Highest first
								else if (sort == "value-asc")
									| Value, Lowest first

						div.dropdown-menu(aria-labelledby="dropdownMenuButton")
							a.dropdown-item(href=`/invoices?sort=created-desc&settled=${settled}&created=${created}`) Created Date, Newest first
							a.dropdown-item(href=`/invoices?sort=created-asc&settled=${settled}&created=${created}`) Created Date, Oldest first
							a.dropdown-item(href=`/invoices?sort=value-desc&settled=${settled}&created=${created}`) Value, Highest first
							a.dropdown-item(href=`/invoices?sort=value-asc&settled=${settled}&created=${created}`) Value, Lowest first

					div.mr-4.mb-2.mb-lg-0.float-left
						div Status
						- var statusFilterOptions = ["Settled", "Unsettled", "All"];
						div.btn-group.mr-2(role="group")
							each opt in statusFilterOptions
								if (settled != null && settled == opt.toLowerCase())
									span.btn.btn-primary #{opt}
								else
									a.btn.btn-light.border(href=`/invoices?sort=${sort}&settled=${opt}&created=${created}`) #{opt}

					div.mr-4.mb-2.mb-lg-0.float-left
						div Time
						- var createdFilterOptions = ["60 min", "24 hr", "7 day", "30 day", "All"];
						div.btn-group.mr-2(role="group")
							each opt in createdFilterOptions
								if (created != null && created == opt.toLowerCase().replace(" ", "-"))
									span.btn.btn-primary #{opt}
								else
									a.btn.btn-light.border(href=`/invoices?sort=${sort}&settled=${settled}&created=${opt.replace(" ", "-")}`) #{opt}

				hr.my-3

				div
					if (allFilteredInvoices.length > limit)
						span Showing 
						span.font-weight-bold ##{(offset + 1).toLocaleString()} - #{Math.min(offset + limit, allFilteredInvoices.length).toLocaleString()} 
						span of 
						span.font-weight-bold #{allFilteredInvoices.length.toLocaleString()} 
						if (allInvoices.length > allFilteredInvoices.length)
							span filtered 
						span invoice
						if (allFilteredInvoices.length != 1)
							span s

					else if (allFilteredInvoices.length > 0)
						span Showing all 
						span.font-weight-bold #{allFilteredInvoices.length.toLocaleString()} 
						if (allInvoices.length > allFilteredInvoices.length)
							span filtered 

						span invoice
						if (allFilteredInvoices.length > 1)
							span s
					else
						div.alert.alert-warning.shadow-sm.mb-0 No matching invoices

				- var itemCount = allFilteredInvoices.length;
				if (itemCount > limit)
					- var pageNumber = offset / limit + 1;
					- var pageCount = Math.floor(itemCount / limit);
					- if (pageCount * limit < itemCount) {
						- pageCount++;
					- }
					- var paginationUrlFunction = function(x) {
						- return paginationBaseUrl + "&limit=" + limit + "&offset=" + ((x - 1) * limit);
					- }
					
					div.mt-2.mb-0
						include includes/pagination.pug

		if (true)
			if (allFilteredInvoices.length > 0)
				each invoice, invoice_index in pagedFilteredInvoices
					include includes/invoice-details-modal.pug
					
				div(class="table-responsive")
					table(class="table table-bordered border-top")
						thead.bg-light
							tr
								th.text-right #
								th Memo
								th Created
								th Settled
								th(class="text-right") Value
								th Details
						
						tbody
							each invoice, invoice_index in pagedFilteredInvoices
								tr.text-monospace.word-wrap
									th.text-right #{(sort == "desc" ? (invoiceCount - invoice_index) : (offset + invoice_index + 1)).toLocaleString()}

									td(class="table-col-text")
										if (invoice.memo)
											span #{invoice.memo}
										else
											span -

									td(class="table-col-time")
										- var createdAtTime = parseInt(invoice.creation_date);
										- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(createdAtTime) * 1000))));
										- var dateTimeUtc = moment.utc(new Date(parseInt(createdAtTime) * 1000)).format("Y-MM-DD HH:mm:ss");

										span #{dateTimeUtc} utc
										br
										span.text-muted #{timeAgo.humanize()} ago

									td(class="table-col-int")
										if (invoice.settled)
											- var settleTime = parseInt(invoice.settle_date);
											- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(settleTime) * 1000))));
											- var dateTimeUtc = moment.utc(new Date(parseInt(settleTime) * 1000)).format("Y-MM-DD HH:mm:ss");

											span #{dateTimeUtc} utc
											br
											span.text-muted #{timeAgo.humanize()} ago

										else
											span(class="text-danger") Unsettled

									td(class="table-col-currencyvalue text-right")
										span
											- var currencyValue = new Decimal(invoice.value).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
											include ./includes/value-display.pug

									td
										a(href="javascript:void(0)" data-toggle="modal" data-target=("#invoiceModal-" + invoice_index)) Details

