extends layout

block headContent
	title Invoices

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Lightning Payments
	li.breadcrumb-item Invoices

block content

	if (!session.admin)
		h1.h3 Invoices
		hr

		- var loginRequiredNote = "display details about this node's invoices.";
		include includes/login-required-alert.pug

	else

		.d-flex.justify-content-between
			+pageTitle(`${invoiceCount.toLocaleString()} Invoice${(invoiceCount == 1) ? "" : "s"}`)
			
			.text-end.align-baseline
				a.btn.btn-primary(href="/create-invoice")
					i.fas.fa-asterisk.me-2
					span Create Invoice
				

				

		+card
			.d-flex
				.me-3
					- var sortOptions = [["Date", "created-desc"], ["Value", "value-desc"]];

					+filterBtnGroup("Sort", null, sortOptions, `/invoices?settled=${settled}&created=${created}&limit=${limit}`, "sort", sort)


				.me-3
					- var statusFilterOptions = [["Settled", "settled"], ["Unsettled", "unsettled"], ["All", "all"]];

					+filterBtnGroup("Status", null, statusFilterOptions, `/invoices?sort=${sort}&created=${created}&limit=${limit}`, "settled", settled)

				.me-3
					- var createdFilterOptions = [["1h", "60-min"], ["24h", "24-hr"], ["7d", "7-day"], ["30d", "30-day"], ["All", "all"]];

					+filterBtnGroup("Time", null, createdFilterOptions, `/invoices?sort=${sort}&settled=${settled}&limit=${limit}`, "created", created)

				div
					- var pageSizeOptions = [["20", "20"], ["50", "50"], ["100", "100"]];

					+filterBtnGroup("Page Size", null, pageSizeOptions, `/invoices?sort=${sort}&settled=${settled}&created=${created}`, "limit", limit)

			hr.my-3

			div
				if (allFilteredInvoices.length > limit)
					span Showing 
					span.fw-bold ##{(offset + 1).toLocaleString()} - #{Math.min(offset + limit, allFilteredInvoices.length).toLocaleString()} 
					span of 
					span.fw-bold #{allFilteredInvoices.length.toLocaleString()} 
					if (allInvoices.length > allFilteredInvoices.length)
						span filtered 
					span invoice
					if (allFilteredInvoices.length != 1)
						span s

				else if (allFilteredInvoices.length > 0)
					span Showing 
					span.fw-bold #{allFilteredInvoices.length.toLocaleString()} 
					if (allInvoices.length > allFilteredInvoices.length)
						span filtered 

					span invoice
					if (allFilteredInvoices.length > 1)
						span s
				else
					.alert.alert-warning.shadow-sm.mb-0 No matching invoices

			- var itemCount = allFilteredInvoices.length;
			if (itemCount > limit)
				- var pageNumber = offset / limit + 1;
				- var pageCount = Math.floor(itemCount / limit);
				- if (pageCount * limit < itemCount) {
					- pageCount++;
				- }
				- var paginationUrlFunction = function(x) {
					- return paginationBaseUrl + `&limit=${limit}&offset=${((x - 1) * limit)}`;
				- }
				
				.mt-2.mb-0
					include includes/pagination.pug

		if (true)
			if (allFilteredInvoices.length > 0)
				each invoice, invoice_index in pagedFilteredInvoices
					include includes/invoice-details-modal.pug
					
				.table-responsive
					table.table.table-striped
						thead
							tr
								th.text-end.fw-light #
								th.fit Status

								th.text-end.fit Value

								th Description
								
								th Date
								
								if (false)
									th
										span.border-dotted(title="Whether a payment has been recieved for the invoice" data-bs-toggle="tooltip") Settled

								th.text-end Raw Data
						
						tbody
							each invoice, invoice_index in pagedFilteredInvoices
								tr.word-wrap
									th.text-end.fw-light #{(sort == "desc" ? (invoiceCount - invoice_index) : (offset + invoice_index + 1)).toLocaleString()}

									td.fit
										if (invoice.state == "CANCELED")
											+pillBadgeDanger("Cancelled")

										else if (invoice.state == "SETTLED")
											+pillBadgeSuccess("Settled")

										else
											span.text-capitalize
												+pillBadgeWarning(invoice.state.toLowerCase())

									td.text-end.fit
										- var valueColorClass = "text-muted";
										- var settled = false;
										if (invoice.state == "CANCELED")
											// keep default muted

										else if (invoice.state == "SETTLED")
											- valueColorClass = "text-success fw-bold";
											- settled = true;

										else
											- valueColorClass = "text-warning";

										span(class=valueColorClass)
											if (settled)
												span +

											if (settled)
												- var currencyValue = new Decimal(invoice.amt_paid_sat).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
												include ./includes/value-display.pug

											else
												- var currencyValue = new Decimal(invoice.value).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
												include ./includes/value-display.pug

									td
										
										if (invoice.memo)
											if (invoice.memo.length > 40)
												span.border-dotted(title=`${invoice.memo}`, data-bs-toggle="tooltip") #{utils.ellipsizeMiddle(invoice.memo, 40)}

											else
												span #{invoice.memo}

										else
											span.text-muted (no description)

									td
										- var createdAtTime = parseInt(invoice.creation_date);
										- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(createdAtTime) * 1000))));
										- var dateTimeUtc = moment.utc(new Date(parseInt(createdAtTime) * 1000)).format("Y-MM-DD HH:mm:ss");

										span.border-dotted(title=(dateTimeUtc + " utc") data-bs-toggle="tooltip") #{timeAgo.humanize()} ago

									
									
									td.text-end
										a.btn.btn-primary.btn-sm(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#invoiceModal-" + invoice_index))
											i.fas.fa-file-lines

