extends layout4

block headContent
	title Invoices

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Payments
	li.breadcrumb-item.active Invoices

block content
	if (!session.admin)
		h1.h3 Invoices
		hr

		- var loginRequiredNote = "display details about this node's invoices.";
		include includes/login-required-alert.pug

	else

		div.row
			div.col-md-6
				h1.h3 #{invoiceCount.toLocaleString()} 
					if (invoiceCount == 1)
						span Invoice
					else
						span Invoices
			div.col-md-6.text-right
				a.btn.btn-primary.mr-2(href="/create-invoice")
					i.fas.fa-asterisk.mr-2
					span Create Invoice

				
		hr

		div.card.mb-3.shadow-sm
			div.card-header
				span.h6 Sorting / Filters
			div.card-body
				div.clearfix
					span.dropdown.mr-4.float-left
						span.font-weight-bold.mr-1 Sort
						button.btn.btn-primary.dropdown-toggle.mb-2.mb-lg-0(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
							span
								if (sort == null || sort == "created-desc")
									| Created Date, Newest first
								else if (sort == "created-asc")
									| Created Date, Oldest first
								else if (sort == "value-desc")
									| Value, Highest first
								else if (sort == "value-asc")
									| Value, Lowest first

						div.dropdown-menu(aria-labelledby="dropdownMenuButton")
							a.dropdown-item(href=`/invoices?sort=created-desc&settled=${settled}&created=${created}`) Created Date, Newest first
							a.dropdown-item(href=`/invoices?sort=created-asc&settled=${settled}&created=${created}`) Created Date, Oldest first
							a.dropdown-item(href=`/invoices?sort=value-desc&settled=${settled}&created=${created}`) Value, Highest first
							a.dropdown-item(href=`/invoices?sort=value-asc&settled=${settled}&created=${created}`) Value, Lowest first

					div.mr-4.mb-2.mb-lg-0.float-left
						span.font-weight-bold.mr-1 Status
						- var statusFilterOptions = ["Settled", "Unsettled", "All"];
						div.btn-group.mr-2(role="group")
							each opt in statusFilterOptions
								if (settled != null && settled == opt.toLowerCase())
									span.btn.btn-primary #{opt}
								else
									a.btn.btn-secondary.bg-light(href=`/invoices?sort=${sort}&settled=${opt}&created=${created}`) #{opt}

					div.mr-4.mb-2.mb-lg-0.float-left
						span.font-weight-bold.mr-1 Time
						- var createdFilterOptions = ["60 Mins", "24 Hrs", "7 Days", "30 Days", "All"];
						div.btn-group.mr-2(role="group")
							each opt in createdFilterOptions
								if (created != null && created == opt.toLowerCase().replace(" ", "-"))
									span.btn.btn-primary #{opt}
								else
									a.btn.btn-secondary.bg-light(href=`/invoices?sort=${sort}&settled=${settled}&created=${opt.replace(" ", "-")}`) #{opt}

				div.alert.alert-primary.mt-3.mb-0
					span Showing #{filteredInvoices.length.toLocaleString()} invoice
					if (filteredInvoices.length != 1)
						span s
						
					span  out of #{allInvoices.length.toLocaleString()}

		if (true)
			each invoice, invoice_index in filteredInvoices
				div(class="modal fade" id=("invoiceModal-" + invoice_index) role="dialog" xaria-labelledby="exampleModalLabel" aria-hidden="true")
					div(class="modal-dialog modal-xl" role="document")
						div(class="modal-content")
							div(class="modal-header")
								h5.modal-title(id="exampleModalLabel") Invoice ##{invoice_index}
								button(type="button" class="close" data-dismiss="modal" aria-label="Close")
									span(aria-hidden="true") &times;

							div(class="modal-body")
								- var jsonX = allInvoices[invoice_index];
								- jsonX.r_preimage_base64 = Buffer.from(jsonX.r_preimage).toString("base64");
								- jsonX.r_preimage_hex = Buffer.from(jsonX.r_preimage).toString("hex");
								- jsonX.r_hash_base64 = Buffer.from(jsonX.r_hash).toString("base64");
								- jsonX.r_hash_hex = Buffer.from(jsonX.r_hash).toString("hex");

								- delete jsonX.r_preimage;
								- delete jsonX.r_hash;

								pre
									code(class="json") #{JSON.stringify(jsonX, null, 4)}

							div(class="modal-footer")
								button(type="button" class="btn btn-secondary" data-dismiss="modal") Close

			div(class="table-responsive")
				table(class="table table-bordered border-top")
					thead.bg-light
						tr
							th #
							th Memo
							th Created
							th Settled
							th(class="text-right") Value
							th Details
					
					tbody
						each invoice, invoice_index in filteredInvoices
							tr.text-monospace.word-wrap
								td.font-weight-bold #{(sort == "desc" ? (invoiceCount - invoice_index) : (offset + invoice_index + 1)).toLocaleString()}

								td(class="table-col-text")
									if (invoice.memo)
										span #{invoice.memo}
									else
										span -

								td(class="table-col-time")
									- var createdAtTime = parseInt(invoice.creation_date);
									- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(createdAtTime) * 1000))));
									- var dateTimeUtc = moment.utc(new Date(parseInt(createdAtTime) * 1000)).format("Y-MM-DD HH:mm:ss");

									span #{dateTimeUtc} utc
									br
									span.text-muted #{timeAgo.humanize()} ago

								td(class="table-col-int")
									if (invoice.settled)
										- var settleTime = parseInt(invoice.settle_date);
										- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(settleTime) * 1000))));
										- var dateTimeUtc = moment.utc(new Date(parseInt(settleTime) * 1000)).format("Y-MM-DD HH:mm:ss");

										span #{dateTimeUtc} utc
										br
										span.text-muted #{timeAgo.humanize()} ago

									else
										span(class="text-danger") Unsettled

								td(class="table-col-currencyvalue text-right")
									span #{parseInt(invoice.value).toLocaleString()} sat
									br
									span.text-muted
										- var currencyValue = new Decimal(invoice.value).dividedBy(100000000);
										include ./includes/value-display.pug

								td
									a(href="javascript:void(0)" data-toggle="modal" data-target=("#invoiceModal-" + invoice_index)) Details

