doctype html
//
	* CoreUI - Free Bootstrap Admin Template
	* @version v2.1.12
	* @link https://coreui.io
	* Copyright (c) 2018 creativeLabs Łukasz Holeczek
	* Licensed under MIT (https://coreui.io/license)
head
	base(href='./')
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
	meta(name='description' content='LND Admin - Web UI for managing LND (Lightning Network Daemon)')
	meta(name='author' content='Dan Janosik')
	meta(name='keyword' content='Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard')

	link(rel="stylesheet", href="/css/highlight.min.css", integrity="sha384-zhIsEafzyQWHSoMCQ4BfT8ZlRXQyIFwAHAJn32PNdsb8n6tVysGZSLpEEIvCskw4")
	link(rel="stylesheet", href="/css/dataTables.bootstrap4.min.css", integrity="sha384-EkHEUZ6lErauT712zSr0DZ2uuCmi3DoQj6ecNdHQXpMpFNGAQ48WjfXCE5n20W+R")

	if (session.uiTheme && session.uiTheme == "dark")
		link(rel="stylesheet", href="/css/bootstrap-dark.css")
			
	else
		link(rel="stylesheet", href="/css/bootstrap.css", integrity="")

	// Main styles for this application
	link(href='/css/coreui.css' rel='stylesheet')


	link(href='/css/styling.css' rel='stylesheet')

	if (session.uiTheme && session.uiTheme == "dark")
		link(rel="stylesheet", href="/css/dark-touchups.css", integrity="")


	link(rel="icon", type="image/png", href="/img/logo/lightning.png")

	block headContent
		title #{config.siteInfo.title}

body.sidebar-lg-show.bg-main.app.header-fixed.sidebar-fixed.sidebar-lg-show
	header.app-header.navbar.bg-main
		button.navbar-toggler.sidebar-toggler.d-lg-none.mr-auto(type='button' data-toggle='sidebar-show')
			span.navbar-toggler-icon
		a.navbar-brand(href='/')
			img.navbar-brand-full(src='/img/logo/app.png' width='82' height='25' alt='LND Admin')
			//span.navbar-brand-full LND Admin
			img.navbar-brand-minimized(src='/img/logo/app.png' width='82' height='25' alt='LND Admin')
		button.navbar-toggler.sidebar-toggler.d-md-down-none(type='button' data-toggle='sidebar-lg-show')
			span.navbar-toggler-icon

		if (true)
			ul.nav.navbar-nav.d-md-down-none
				if (false)
					li.nav-item.px-3
						a.nav-link(href='/') Dashboard
					li.nav-item.px-3
						a.nav-link(href='#') Users
					li.nav-item.px-3
						a.nav-link(href='#') Settings

				span.ml-4.mr-2 LND Node: 
				span.mr-2
					- var node_pubkey = lndRpc.internal_pubkey;
					- var node_icon_size = "2.25em";
					include includes/node-icon.pug
					- var node_icon_size = null;
				li.nav-item.dropdown
					
					a.nav-link(data-toggle='dropdown' href='javascript:void(0)' role='button' aria-haspopup='true' aria-expanded='false')
						span.text-body.dropdown-toggle #{lndRpc.internal_alias}

					.dropdown-menu(style="min-width: 23rem;")
						each lndIndex, index in lndConnections.indexes
							if (lndConnections.connectionsByIndex[lndIndex] != null)
								- var lndConn = lndConnections.connectionsByIndex[lndIndex];
								- var node_pubkey = lndConn.internal_pubkey;

								if (fullNetworkDescription)
									- var addrs = [];
									each address in fullNetworkDescription.nodeInfoByPubkey[node_pubkey].node.addresses
										- addrs.push(address.addr);

									a.dropdown-item(href=('/connect-lnd?index=' + lndIndex), onclick="$('#switchLndModal').modal()")
										div.clearfix
											div.float-left.mr-3
												include includes/node-icon.pug

											div.float-left
												span.font-weight-bold #{node_pubkey.substring(0, config.site.pubkeyMaxDisplayLength)}
												if (lndConn == lndRpc)
													i.fas.fa-check.text-success.ml-2
												br
												span.font-weight-bold Alias: 
												span.text-monospace #{lndConn.internal_alias}
												br
												span.font-weight-bold Address: 
												span.text-monospace #{addrs}
												br
												span.font-weight-bold Version: 
												- var versionParts = lndConn.internal_version.split(" ");
												span.text-monospace.word-wrap #{versionParts[0]}
									


		ul.nav.navbar-nav.ml-auto.mr-2
			if (false)
				li.nav-item.d-md-down-none
					a.nav-link(href='#')
						i.icon-bell
						span.badge.badge-pill.badge-danger 5
				li.nav-item.d-md-down-none
					a.nav-link(href='#')
						i.icon-list
				li.nav-item.d-md-down-none
					a.nav-link(href='#')
						i.icon-location-pin

			if (false)
				li.nav-item.dropdown
					a.nav-link.dropdown-toggle(data-toggle='dropdown' href='javascript:void(0)' role='button' aria-haspopup='true' aria-expanded='false')
						//img.img-avatar(src='img/avatars/6.jpg' alt='admin@bootstrapmaster.com')
						if (session.admin)
							i(class="fas fa-user mr-1") 
							span  Admin
						else
							i(class="far fa-user mr-1") 
							span  Guest

					.dropdown-menu.dropdown-menu-right
						.dropdown-header
							span.font-weight-bold Account
						if (session.admin)
							a.dropdown-item(href='/logout')
								i.fa.fa-sign-out-alt
								|	Logout
						else
							a.dropdown-item(href='/login')
								i.fa.fa-sign-in-alt
								|	Login
						

						if (coinConfig.currencyUnits)
							span.dropdown-header Currency Units
							each item in coinConfig.currencyUnits
								if (item.type == "native" || config.queryExchangeRates)
									a.dropdown-item(href=("/changeSetting?name=currencyFormatType&value=" + item.values[0]))
										each valueName in item.values
											if (currencyFormatType == valueName)
												i(class="fas fa-check")
										span  #{item.name}

						span.dropdown-header Theme
						a.dropdown-item(href="/changeSetting?name=uiTheme&value=light")
							if (session.uiTheme == "light" || session.uiTheme == "")
								i.fas.fa-check
							span  Light
						a(class="dropdown-item", href="/changeSetting?name=uiTheme&value=dark")
							if (session.uiTheme == "dark")
								i.fas.fa-check
							span  Dark
					

		if (true)
			- var userIconClassEx = (session.admin ? "fas" : "far")
			button.navbar-toggler.aside-menu-toggler.d-md-down-none(type='button' data-toggle='aside-menu-lg-show')
				i.fas.fa-user-circle.text-body.fa-2x.mr-2(class=userIconClassEx)
				//span.navbar-toggler-icon

			button.navbar-toggler.aside-menu-toggler.d-lg-none(type='button' data-toggle='aside-menu-show')
				i.fas.fa-user-circle.text-body.fa-2x.mr-2(class=userIconClassEx)
				//span.navbar-toggler-icon

	.app-body
		.sidebar
			nav.sidebar-nav
				ul.nav
					li.nav-item
						a.nav-link(href='/')
							i.nav-icon.fas.fa-2x.fa-home.mr-2
							|	Dashboard

					li.nav-title My Node
					li.nav-item
						a.nav-link(href='/wallet')
							i.nav-icon.fas.fa-wallet.mr-2
							|	My Wallet
					li.nav-item
						a.nav-link(href='/on-chain-transactions')
							i.nav-icon.fas.fa-link.mr-2
							|	My Wallet Transactions
					li.nav-item
						a.nav-link(href='/local-channels')
							i.nav-icon.fas.fa-exchange-alt.mr-2
							|	My Channels
					li.nav-item
						a.nav-link(href='/peers')
							i.nav-icon.fas.fa-users.mr-2
							|	My Peers

					li.nav-title Lightning Payments
					li.nav-item
						a.nav-link(href='/invoices')
							i.nav-icon.fas.fa-sign-in-alt.mr-2
							|	Invoices
					li.nav-item
						a.nav-link(href='/payment-history')
							i.nav-icon.fas.fa-sign-out-alt.mr-2
							|	Payments Sent
					li.nav-item
						a.nav-link(href='/routing-history')
							i.nav-icon.fas.fa-arrow-right.mr-2
							|	Routing History

					li.nav-title Public Network
					li.nav-item
						a.nav-link(href='/nodes')
							i.nav-icon.fas.fa-network-wired.mr-2
							|	All Nodes
					li.nav-item
						a.nav-link(href='/channels')
							i.nav-icon.fas.fa-globe-americas.mr-2
							|	All Channels

					li.nav-title Tools
					li.nav-item
						a.nav-link(href='/create-invoice')
							i.nav-icon.fas.fa-asterisk.mr-2
							|	Create Invoice
					li.nav-item
						a.nav-link(href='/send-payment')
							i.nav-icon.fas.fa-receipt.mr-2
							|	Pay Invoice
					li.nav-item
						a.nav-link(href='/openchannel')
							i.nav-icon.fas.fa-plus-square.mr-2
							|	Open Channel
					li.nav-item
						a.nav-link(href='/sign-verify')
							i.nav-icon.fas.fa-pen-nib.mr-2
							|	Sign / Verify Messages
					li.nav-item
						a.nav-link(href='/query-route')
							i.nav-icon.fas.fa-route.mr-2
							|	Query Route
					li.nav-item
						a.nav-link(href='/zapconnect')
							i.nav-icon.fas.fa-mobile-alt.mr-2
							|	ZapConnect
					

					if (false)
						li.nav-item.nav-dropdown
							a.nav-link.nav-dropdown-toggle(href='/local-channels')
								i.fas.fa-exchange-alt.mr-2
								|	My Channels

							ul.nav-dropdown-items
								li.nav-item
									a.nav-link(href='base/breadcrumb.html')
										i.nav-icon.icon-puzzle
										|	Breadcrumb
								li.nav-item
									a.nav-link(href='base/cards.html')
										i.nav-icon.icon-puzzle
										|	Cards
							
			
			button.sidebar-minimizer.brand-minimizer(type='button')

		main.main.pb-4
			ol.breadcrumb.bg-main
				block breadcrumb
					li.breadcrumb-item
						a(href='/') Admin Home
					
					if (false)
						// Breadcrumb Menu
						li.breadcrumb-menu.d-md-down-none
							.btn-group(role='group' aria-label='Button group')
								a.btn(href='#')
									i.icon-speech
								a.btn(href='./')
									i.icon-graph
									| &#x9;Dashboard
								a.btn(href='#')
									i.icon-settings
									| &#x9;Settings
			.container-fluid
				if (userMessage)
					div.alert.alert-dismissable.shadow-sm.mb-4(class=(userMessageType ? ("alert-"  + userMessageType) : "alert-info"), role="alert")
						span !{userMessage}

						a.close(href="javascript:void(0)" aria-label="Close" data-dismiss="alert" style="text-decoration: none;")
							span(aria-hidden="true") &times;

				else if (session.userMessage)
					div.alert.alert-dismissable.shadow-sm.mb-4(class=(session.userMessageType ? ("alert-"  + session.userMessageType) : "alert-info"), role="alert")
						span !{session.userMessage}

						a.close(href="javascript:void(0)" aria-label="Close" data-dismiss="alert" style="text-decoration: none;")
							span(aria-hidden="true") &times;

				block content

				div.modal.bd-example-modal-sm(id="switchLndModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
					div.modal-dialog.modal-dialog-centered.modal-sm
						div.modal-content
							div.modal-body
								h5 Switching LND Nodes...
								div.text-center.mb-4.mt-5
									div.spinner-border.text-primary(role="status" style="width: 3rem; height: 3rem;")
		
		if (true)	
			include includes/aside-menu.pug
	
	if (false)
		footer.app-footer
			div
				a(href='https://coreui.io') CoreUI
				span &copy; 2018 creativeLabs.
			.ml-auto
				span Powered by
				a(href='https://coreui.io') CoreUI

	script(src="/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo")
	script(src="/js/popper-1.14.7.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1")
	script(src="/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM")

	script(defer src="/js/fontawesome.min.js" integrity="sha384-ukiibbYjFS/1dhODSWD+PrZ6+CGCgf8VbyUH7bQQNUulL+2r59uGYToovytTf4Xm")
	
	script(src="/js/highlight.min.js")

	// CoreUI and necessary plugins
	script(src='/js/perfect-scrollbar.min.js')
	script(src='/js/coreui.min.js')

	// Plugins and scripts required by this view
	//script(src='vendors/chart.js/js/Chart.min.js')
	//script(src='vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js')
	//script(src='/js/main.js')

	script(src="/js/jdenticon.min.js" integrity="")

	script(src="/js/jquery.dataTables.min.js", integrity="sha384-rgWRqC0OFPisxlUvl332tiM/qmaNxnlY46eksSZD84t+s2vZlqGeHrncwIRX7CGp")
	script(src="/js/dataTables.bootstrap4.min.js", integrity="sha384-uiSTMvD1kcI19sAHJDVf68medP9HA2E2PzGis9Efmfsdb8p9+mvbQNgFhzii1MEX")

	script.
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
			$('[data-toggle="popover"]').popover({html:true, container:"body"});
		});

		$(document).ready(function() {
			$(".data-table").DataTable();
		});

		hljs.initHighlightingOnLoad();

	block endOfBody
