doctype html
//
	* CoreUI - Free Bootstrap Admin Template
	* @version v2.1.12
	* @link https://coreui.io
	* Copyright (c) 2018 creativeLabs Łukasz Holeczek
	* Licensed under MIT (https://coreui.io/license)
head
	base(href='./')
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
	meta(name='description' content='LND Admin - Web UI for managing LND (Lightning Network Daemon)')
	meta(name='author' content='Dan Janosik')
	meta(name='keyword' content='Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard')

	link(rel="stylesheet", href="/css/highlight.min.css", integrity="sha384-zhIsEafzyQWHSoMCQ4BfT8ZlRXQyIFwAHAJn32PNdsb8n6tVysGZSLpEEIvCskw4")

	
	// Main styles for this application
	link(href='/css/coreui.css' rel='stylesheet')

	if (session.uiTheme && session.uiTheme == "dark")
		link(rel="stylesheet", href="/css/bootstrap-dark.css")
			
	else
		link(rel="stylesheet", href="/css/bootstrap.css", integrity="")


	link(href='/css/styling.css' rel='stylesheet')

	if (session.uiTheme && session.uiTheme == "dark")
		link(rel="stylesheet", href="/css/dark-touchups.css", integrity="")


	link(rel="icon", type="image/png", href="/img/logo/lightning.png")

	block headContent
		title #{config.siteInfo.title}

body.sidebar-lg-show.bg-main.app.header-fixed.sidebar-fixed.sidebar-lg-show
	header.app-header.navbar.bg-main.p-0
		button.navbar-toggler.sidebar-toggler.d-lg-none.mr-auto(type='button' data-toggle='sidebar-show')
			span.navbar-toggler-icon
		a.navbar-brand(href='/')
			if (session.uiTheme && session.uiTheme == "dark")
				img.navbar-brand-full(src='/img/logo/app-dark.png' width='82' height='25' alt='LND Admin')
			else
				img.navbar-brand-full(src='/img/logo/app.png' width='82' height='25' alt='LND Admin')

			//span.navbar-brand-full LND Admin
			img.navbar-brand-minimized(src='/img/logo/app.png' width='82' height='25' alt='LND Admin')

		button.navbar-toggler.sidebar-toggler.d-md-down-none(type='button' data-toggle='sidebar-lg-show')
			span.navbar-toggler-icon

		if (lndRpc)
			ul.nav.navbar-nav.d-md-down-none
				if (false)
					li.nav-item.px-3
						a.nav-link(href='/') Dashboard
					li.nav-item.px-3
						a.nav-link(href='#') Users
					li.nav-item.px-3
						a.nav-link(href='#') Settings

				span.ml-4.mr-2.font-weight-bold LND Node

				li.nav-item
					if (lndRpc && fullNetworkDescription != null)
						a.nav-link.btn.btn-light.border.bg-light.px-3.py-1(data-toggle='dropdown' href='javascript:void(0)' role='button' aria-haspopup='true' aria-expanded='false')
							div.clearfix
								div.float-left.mr-2
									- var node_pubkey = lndRpc.internal_pubkey;
									- var node_icon_size = "2.0em";
									include includes/node-icon.pug
									- var node_icon_size = null;

								div.float-left.pt-1
									span.text-body.dropdown-toggle #{lndRpc.internal_alias}

						.dropdown-menu.py-2(style="min-width: 23rem;")
							each lndNodeInfo, lndNodeIndex in global.adminCredentials.lndNodes
								small.border-bottom
									if (lndConnections.byIndex[lndNodeIndex] != null)
										- var lndConn = lndConnections.byIndex[lndNodeIndex];
										- var node_pubkey = lndConn.internal_pubkey;

										if (fullNetworkDescription)
											- var addrs = [];
											each address in fullNetworkDescription.nodeInfoByPubkey[node_pubkey].node.addresses
												- addrs.push(address.addr);

											a.dropdown-item.rounded-0.px-3.py-2(href=('/connect-lnd?index=' + lndNodeIndex), onclick="$('#switchLndModal').modal()")
												div.clearfix
													div.float-left.mr-3
														- var node_icon_size = "2.5rem;"
														include includes/node-icon.pug

													div.float-left
														span.font-weight-bold #{node_pubkey.substring(0, config.site.pubkeyMaxDisplayLength)}
														if (lndConn == lndRpc)
															i.fas.fa-check.text-success.ml-2
														br
														span.font-weight-bold Alias: 
														span.text-monospace #{lndConn.internal_alias}
														br
														span.font-weight-bold Address: 
														span.text-monospace #{addrs}
														br
														span.font-weight-bold Version: 
														- var versionParts = lndConn.internal_version.split(" ");
														span.text-monospace.word-wrap #{versionParts[0]}

											div.dropdown-divider

							a.dropdown-item.rounded-0.px-3.py-2(href='/manage-nodes') Manage LND Nodes...
									



		ul.nav.navbar-nav.ml-auto.mr-2
			if (lndRpc)
				li.nav-item.d-md-down-none
					div.d-none.d-md-block(style="width: 350px;")
					form.mr-3(method="get" action="/search")
						div.input-group.input-group-sm
							input.form-control.form-control-sm(type="text", name="query", placeholder="public key, channel id, alias, color, or address", value=query)
							div.input-group-append
								button.btn.btn-primary(type="submit")
									i.fas.fa-search
					

		if (true)
			- var userIconClassEx = (session.admin ? "fas" : "far")
			button.navbar-toggler.aside-menu-toggler.d-md-down-none(type='button' data-toggle='aside-menu-lg-show')
				i.fas.fa-user-circle.text-body.fa-2x.mr-3(class=userIconClassEx)
				//span.navbar-toggler-icon

			button.navbar-toggler.aside-menu-toggler.d-lg-none(type='button' data-toggle='aside-menu-show')
				i.fas.fa-user-circle.text-body.fa-2x.mr-3(class=userIconClassEx)
				//span.navbar-toggler-icon

	.app-body
		.sidebar.bg-dark
			nav.sidebar-nav
				ul.nav
					if (!lndRpc)
						if (setupNeeded)
							li.nav-item
								a.nav-link(href='/')
									i.nav-icon.fas.fa-2x.fa-cog.mr-2
									|	Setup

						else
							li.nav-item
								a.nav-link(href='/login')
									i.nav-icon.fas.fa-2x.fa-sign-in-alt.mr-2
									|	Login

					else if (fullNetworkDescription == null)

					else
						li.nav-item
							a.nav-link(href='/')
								i.nav-icon.fas.fa-2x.fa-home.mr-2
								|	Dashboard

						li.nav-title My Node
						li.nav-item
							a.nav-link(href='/wallet')
								i.nav-icon.fas.fa-wallet.mr-2
								|	My Wallet
						li.nav-item
							a.nav-link(href='/local-channels')
								i.nav-icon.fas.fa-exchange-alt.mr-2
								|	My Channels
						li.nav-item
							a.nav-link(href='/peers')
								i.nav-icon.fas.fa-users.mr-2
								|	My Peers

						li.nav-title Lightning Payments
						li.nav-item
							a.nav-link(href='/invoices')
								i.nav-icon.fas.fa-sign-in-alt.mr-2
								|	Invoices
						li.nav-item
							a.nav-link(href='/payment-history')
								i.nav-icon.fas.fa-sign-out-alt.mr-2
								|	Payments Sent
						li.nav-item
							a.nav-link(href='/forwarding-history')
								i.nav-icon.fas.fa-arrow-right.mr-2
								|	Forwarding History

						li.nav-title Public Network
						li.nav-item
							a.nav-link(href='/nodes')
								i.nav-icon.fas.fa-network-wired.mr-2
								|	All Nodes
						li.nav-item
							a.nav-link(href='/channels')
								i.nav-icon.fas.fa-globe-americas.mr-2
								|	All Channels
						li.nav-item
							a.nav-link(href='/search')
								i.nav-icon.fas.fa-search.mr-2
								|	Search

						li.nav-title Tools
						li.nav-item
							a.nav-link(href='/create-invoice')
								i.nav-icon.fas.fa-asterisk.mr-2
								|	Create Invoice
						li.nav-item
							a.nav-link(href='/pay-invoice')
								i.nav-icon.fas.fa-receipt.mr-2
								|	Pay Invoice
						if (false)
							li.nav-item
								a.nav-link(href='/send-payment')
									i.nav-icon.fas.fa-money-bill-wave.mr-2
									|	Send Payment
						li.nav-item
							a.nav-link(href='/openchannel')
								i.nav-icon.fas.fa-plus-square.mr-2
								|	Open Channel
						li.nav-item
							a.nav-link(href='/sign-verify')
								i.nav-icon.fas.fa-pen-nib.mr-2
								|	Sign or Verify
						li.nav-item
							a.nav-link(href='/query-route')
								i.nav-icon.fas.fa-route.mr-2
								|	Query Route
						li.nav-item
							a.nav-link(href='/lndconnect')
								i.nav-icon.fas.fa-mobile-alt.mr-2
								|	LND Connect

						li.nav-title Technical
						li.nav-item
							a.nav-link(href='/error-log')
								i.nav-icon.fas.fa-exclamation-circle.mr-2
								|	Error Log
							
			
			button.sidebar-minimizer.brand-minimizer(type='button')

		main.main.pb-4
			ol.breadcrumb.bg-main.text-body.rounded-0
				block breadcrumb
					li.breadcrumb-item
						a(href='/') Admin Home
					
					if (false)
						// Breadcrumb Menu
						li.breadcrumb-menu.d-md-down-none
							.btn-group(role='group' aria-label='Button group')
								a.btn(href='#')
									i.icon-speech
								a.btn(href='./')
									i.icon-graph
									| &#x9;Dashboard
								a.btn(href='#')
									i.icon-settings
									| &#x9;Settings
			
			.container-fluid.mx-0.px-2.px-lg-3.px-xl-4
				if (userMessage)
					div.alert.alert-dismissable.shadow-sm.mb-4(class=(userMessageType ? ("alert-"  + userMessageType) : "alert-info"), role="alert")
						span !{userMessage}

						a.close(href="javascript:void(0)" aria-label="Close" data-dismiss="alert" style="text-decoration: none;")
							span(aria-hidden="true") &times;

				else if (session.userMessage)
					div.alert.alert-dismissable.shadow-sm.mb-4(class=(session.userMessageType ? ("alert-"  + session.userMessageType) : "alert-info"), role="alert")
						span !{session.userMessage}

						a.close(href="javascript:void(0)" aria-label="Close" data-dismiss="alert" style="text-decoration: none;")
							span(aria-hidden="true") &times;

				block content

				div.modal.bd-example-modal-sm(id="switchLndModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true")
					div.modal-dialog.modal-dialog-centered.modal-sm
						div.modal-content
							div.modal-body
								h5 Switching LND Nodes
								span After connecting to the new LND node the full public network is refreshed which often takes ~5-15 seconds...
								div.text-center.mb-4.mt-5
									div.spinner-border.text-primary(role="status" style="width: 3rem; height: 3rem;")
		
		if (true)	
			include includes/aside-menu.pug
	
	if (false)
		footer.app-footer
			div
				a(href='https://coreui.io') CoreUI
				span &copy; 2018 creativeLabs.
			.ml-auto
				span Powered by
				a(href='https://coreui.io') CoreUI

	script(src="/js/jquery-3.3.1.min.js" integrity="")
	script(src="/js/popper-1.14.7.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1")
	script(src="/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM")

	script(defer src="/js/fontawesome.min.js" integrity="sha384-ukiibbYjFS/1dhODSWD+PrZ6+CGCgf8VbyUH7bQQNUulL+2r59uGYToovytTf4Xm")
	
	script(src="/js/highlight.min.js")

	// CoreUI and necessary plugins
	script(src='/js/perfect-scrollbar.min.js')
	script(src='/js/coreui.min.js')

	// Plugins and scripts required by this view
	//script(src='vendors/chart.js/js/Chart.min.js')
	//script(src='vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js')
	//script(src='/js/main.js')

	script(src="/js/jdenticon.min.js" integrity="")

	script.
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
			$('[data-toggle="popover"]').popover({html:true, container:"body"});
		});

		hljs.initHighlightingOnLoad();

	block endOfBody
