extends layout4

block headContent
	title Local Channels

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item My Node
	li.breadcrumb-item My Channels
	
block content
	if (!session.admin)
		h1.h3 My Channels
		hr

		- var loginRequiredNote = "display details about this node's channels.";
		include includes/login-required-alert.pug

	else

		h1.h3 #{allChannels.length.toLocaleString()} 
			if (allChannels.length == 1)
				span Channel
			else
				span Channels

			if (allFilteredChannels.length < allChannels.length)
				small.text-muted  (showing #{allFilteredChannels.length.toLocaleString()})
		hr

		div.card.mb-3.shadow-sm
			div.card-body
				div.clearfix
					div.dropdown.mr-4.float-left
						div Sort
						button.btn.btn-primary.dropdown-toggle.mb-2.mb-lg-0(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
							span
								if (sort == null || sort == "capacity-desc")
									| Total Capacity (highest first)
								else if (sort == "localbalance-desc")
									| Local Balance (highest first)
								else if (sort == "remotebalance-desc")
									| Remote Balance (highest first)
								else if (sort == "valuetransfer-desc")
									| Value Transferred (highest first)
								else if (sort == "updated-desc")
									| Updated Date (recent first)

						div.dropdown-menu(aria-labelledby="dropdownMenuButton")
							a.dropdown-item(href=`/local-channels?sort=capacity-desc&status=${opt}&localbalance=${localbalance}&remotebalance=${remotebalance}`) Total Capacity (highest first)
							a.dropdown-item(href=`/local-channels?sort=localbalance-desc&status=${opt}&localbalance=${localbalance}&remotebalance=${remotebalance}`) Local Balance (highest first)
							a.dropdown-item(href=`/local-channels?sort=remotebalance-desc&status=${opt}&localbalance=${localbalance}&remotebalance=${remotebalance}`) Remote Balance (highest first)
							a.dropdown-item(href=`/local-channels?sort=valuetransfer-desc&status=${opt}&localbalance=${localbalance}&remotebalance=${remotebalance}`) Value Transferred (highest first)
							a.dropdown-item(href=`/local-channels?sort=updated-desc&status=${opt}&localbalance=${localbalance}&remotebalance=${remotebalance}`) Updated Date (recent first)

					div.mr-4.mb-2.mb-lg-0.float-left
						div Status
						- var statusFilterOptions = ["Active", "Pending", "Closed", "All"];
						div.btn-group.mr-2(role="group")
							each opt in statusFilterOptions
								if (status != null && status == opt.toLowerCase())
									span.btn.btn-primary #{opt}
								else
									a.btn.btn-light.border(href=`/local-channels?sort=${sort}&status=${opt}&localbalance=${localbalance}&remotebalance=${remotebalance}`) #{opt}

					div.mr-4.mb-2.mb-lg-0.float-left
						div Has Local Balance
						- var localBalanceFilterOptions = ["Yes", "No", "All"];
						div.btn-group.mr-2(role="group")
							each opt in localBalanceFilterOptions
								if (localbalance != null && localbalance == opt.toLowerCase())
									span.btn.btn-primary #{opt}
								else
									a.btn.btn-light.border(href=`/local-channels?sort=${sort}&status=${status}&localbalance=${opt}&remotebalance=${remotebalance}`) #{opt}

					div.mr-4.mb-2.mb-lg-0.float-left
						div Has Remote Balance
						- var remoteBalanceFilterOptions = ["Yes", "No", "All"];
						div.btn-group.mr-2(role="group")
							each opt in remoteBalanceFilterOptions
								if (remotebalance != null && remotebalance == opt.toLowerCase())
									span.btn.btn-primary #{opt}
								else
									a.btn.btn-light.border(href=`/local-channels?sort=${sort}&status=${status}&localbalance=${localbalance}&remotebalance=${opt}`) #{opt}

				hr.my-3

				div
					if (allFilteredChannels.length > limit)
						span Showing 
						span.font-weight-bold ##{(offset + 1).toLocaleString()} - #{Math.min(offset + limit, allFilteredChannels.length).toLocaleString()} 
						span of 
						span.font-weight-bold #{allFilteredChannels.length.toLocaleString()} 
						if (allChannels.length > allFilteredChannels.length)
							span filtered 
						span channel
						if (allFilteredChannels.length != 1)
							span s

					else if (allFilteredChannels.length > 0)
						span Showing all 
						span.font-weight-bold #{allFilteredChannels.length.toLocaleString()} 
						if (allChannels.length > allFilteredChannels.length)
							span filtered 

						span channel
						if (allFilteredChannels.length > 1)
							span s
					else
						div.alert.alert-warning.shadow-sm.mb-0 No matching channels

				- var itemCount = allFilteredChannels.length;
				if (itemCount > limit)
					- var pageNumber = offset / limit + 1;
					- var pageCount = Math.floor(itemCount / limit);
					- if (pageCount * limit < itemCount) {
						- pageCount++;
					- }
					- var paginationUrlFunction = function(x) {
						- return paginationBaseUrl + "&limit=" + limit + "&offset=" + ((x - 1) * limit);
					- }
					
					div.mt-2.mb-0
						include includes/pagination.pug
		
		if (false)
			pre
				code.json.bg-light #{JSON.stringify(allChannels, null, 4)}

		if (pagedFilteredChannels.length > 0)
			div(class="table-responsive")
				table(class="table table-bordered border-top")
					thead(class="table-head-with-nav")
						tr
							th.text-right #
							th ID
							th Status
							//th.text-center
							//	span.border-dotted(title="Whether channel was created by the local node", data-toggle="tooltip") Initiator
							th Remote Node
							th.text-right
								if (sort == "valuetransfer-desc")
									span.mr-2 Value Transfer
									i.fas.fa-arrow-down
								else
									a(href=`/local-channels?sort=valuetransfer-desc&status=${opt}&localbalance=${localbalance}&remotebalance=${remotebalance}` title="Sort" data-toggle="tooltip")
										span Value Transfer
								
							th.text-right
								if (sort == "localbalance-desc")
									span.mr-2 Local Balance
									i.fas.fa-arrow-down
								else
									a(href=`/local-channels?sort=localbalance-desc&status=${opt}&localbalance=${localbalance}&remotebalance=${remotebalance}` title="Sort" data-toggle="tooltip")
										span Local Balance

							th.text-right
								if (sort == "remotebalance-desc")
									span.mr-2 Remote Balance
									i.fas.fa-arrow-down
								else
									a(href=`/local-channels?sort=remotebalance-desc&status=${opt}&localbalance=${localbalance}&remotebalance=${remotebalance}` title="Sort" data-toggle="tooltip")
										span Remote Balance

							th.text-right
								if (sort == "capacity-desc")
									span.mr-2 Capacity
									i.fas.fa-arrow-down
								else
									a(href=`/local-channels?sort=capacity-desc&status=${opt}&localbalance=${localbalance}&remotebalance=${remotebalance}` title="Sort" data-toggle="tooltip")
										span Capacity

							th Last Update
							th Details
					
					tbody
						each channel, channel_index in pagedFilteredChannels
							- var localChannel_index = channel_index;
							- var localChannel = channel;

							include ./includes/local-channel-details-modal.pug
							include ./includes/local-channel-table-row.pug

