extends layout

block headContent
	title Node Details - #{nodePubkey}

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Network
	li.breadcrumb-item
		a(href="/nodes") Nodes
	li.breadcrumb-item #{nodePubkey}
	
block content

	.d-flex.flex-row
		.me-3
			+nodeIcon(nodePubkey, "5em")

		.w-100
			- var nodeAlias = null;
			if (nodeInfo && nodeInfo.node)
				- nodeAlias = nodeInfo.node.alias;

			+pageTitle(["Node", nodeAlias], nodePubkey, true, 24)
				span.h3
					if (nodePubkey == lndRpc.internal_pubkey)
						span(title="These are the public node details for your active node", data-bs-toggle="tooltip")
							i.fas.fa-home.fa-sm.text-primary.ms-3

					if (utils.isObjectStarred(`node:${nodePubkey}`))
						span(title="This is one of your favorite nodes" data-bs-toggle="tooltip")
							i.fas.fa-star.text-warning.fa-sm.ms-3

		if (qrcodeUrls && qrcodeUrls[nodePubkey])
			.me-2.ms-2
				img(src=qrcodeUrls[nodeInfo.node.pub_key], alt=Pubkey QR Code, style="border: solid 1px #ccc; width: 8rem; height: 8rem;")
				.text-center.fs-75.text-muted Public Key

		if (nodeUri && qrcodeUrls[nodeUri])
			div
				img(src=qrcodeUrls[nodeUri], alt=URI QR Code, style="border: solid 1px #ccc; width: 8rem; height: 8rem;")
				.text-center.fs-75.text-muted URI

	

	if (!nodeInfo || !nodeInfo.node)
		.alert.alert-warning.shadow-sm Node #{nodePubkey} not found


	+pageTabs(["Details", "JSON"])


	.tab-content
		+pageTab("Details", true)
			if (nodeInfo && nodeInfo.node)
				+contentSection("Summary")
					+summaryRow(4)
						+summaryItem("Alias", "The public name for this node, set by its owner. This can be set to any value, so should not be trusted as an identity unless otherwise verified.")
							if (nodeInfo.node.alias.length > 0)
								span #{nodeInfo.node.alias}
							else
								span -


						+summaryItem("Color")
							+nodeColorSwatch(nodeInfo.node.color)
							span #{nodeInfo.node.color}


						+summaryItem(nodeInfo.node.addresses.length == 1 ? "Address" : "Addresses")
							if (nodeInfo.node.addresses && nodeInfo.node.addresses.length > 0)
								each addressItem in nodeInfo.node.addresses
									+netAddress(addressItem.addr, addressItem.network, true)
									
									br
							else
								span -


						+summaryItem("Last Update")
							+date(nodeInfo.node.last_update)
							
							

					hr.my-4

					+summaryRow(2 + ((nodeChannels.length > 1) ? 1 : 0))
						+summaryItem("Channels")
							| #{parseInt(nodeInfo.num_channels).toLocaleString()}

						+summaryItem("Total Capacity")
							+btcValue(nodeInfo.total_capacity)

						if (nodeChannels.length > 1)
							+summaryItem("Avg Capacity")
								+btcValue(new Decimal(nodeInfo.total_capacity).dividedBy(nodeChannels.length))



					hr.my-4


					+summaryRow(1)
						+summaryItem("Node Features")

					.fs-120.mt-3.mb-n2
						each feature in nodeInfo.node.features
							span.badge.text-bg-primary.me-2.mb-2
								| #{feature.name}

								if (feature.is_required)
									i.fas.fa-asterisk.ms-1

								if (feature.is_known)
									i.fas.fa-check.ms-1
							
							if (false)
								pre
									code.json #{JSON.stringify(feature)}


								

								


			+contentSection("Tools")
				if (session.admin)
					if (nodePubkey != lndRpc.internal_pubkey)
						if (peerPubkeys.includes(nodePubkey))
							a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href=`/disconnectPeer?pubkey=${nodePubkey}`)
								i.fas.fa-unlink.me-2
								span Disconnect from Peer

							a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href=`/openchannel?pubkey=${nodePubkey}`)
								i.fas.fa-exchange-alt.me-2
								span Open Channel

						else
							if (nodeInfo && nodeInfo.node && nodeInfo.node.addresses && nodeInfo.node.addresses.length > 0)
								a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href=`/connectToPeer?pubkey=${nodePubkey}&address=${nodeInfo.node.addresses[0].addr}`)
									i.fas.fa-link.me-2
									span Connect as Peer
							else
								a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href="javascript:void(0)" title="Unable to connect. No addresses found." data-bs-toggle="tooltip" disabled)
									i.fas.fa-link.me-2
									span Connect as Peer

							a.btn.btn-secondary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href=`javascript:void(0)` title="Your LND Node must be connected to this node as a peer before you can open a channel to it." data-bs-toggle="tooltip" disabled)
								i.fas.fa-exchange-alt.me-2
								span Open Channel

						a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href=`/query-route?pubkey=${nodePubkey}`)
							i.fas.fa-route.me-2
							span Query Route Here

						if (false)
							a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href=`/send-payment?destPubkey=${nodePubkey}`)
								i.fas.fa-money-bill-wave.me-2
								span Send Payment


				if (utils.isObjectStarred(`node:${nodePubkey}`))
					a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href=`/tag?action=remove&tagType=star&objectId=node:${nodePubkey}` title="Remove this node from your list of favorites" data-bs-toggle="tooltip")
						i.far.fa-star.me-2
						span Unstar Node

				else
					a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href=`/tag?action=add&tagType=star&objectId=node:${nodePubkey}` title="Add this node to your list of favorites" data-bs-toggle="tooltip")
						i.fas.fa-star.me-2
						span Star Node

				if (!session.admin)
					a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href=`/login`)
						i.fas.fa-sign-in-alt.me-2
						span Login for more tools



			- var sharedLocalChannels = [];
			- var unsharedChannels = [];

			if (nodeChannels)
				each channel in nodeChannels
					if (channel.node1_pub == lndRpc.internal_pubkey || channel.node2_pub == lndRpc.internal_pubkey)
						- sharedLocalChannels.push(channel);
					else
						- unsharedChannels.push(channel);


			if (sharedLocalChannels.length > 0)
				+sectionTitle(`${sharedLocalChannels.length.toLocaleString()} Shared Channel${(sharedLocalChannels.length == 1) ? "" : "s"}`, false, null, null, true, "These are the channels shared between your current node and this node")
				
				+contentSection
					- var channels = sharedLocalChannels;
					- var channelTableIndexOffset = 0;
					include includes/shared-channel-table.pug
						

			if (nodeChannels && nodeChannels.length > sharedLocalChannels.length)
				+contentSection(`${unsharedChannels.length.toLocaleString()} Channel${(unsharedChannels.length == 1) ? "" : "s"}`)
					- var channels = unsharedChannels;
					- var channelTableIndexOffset = 0;
					include includes/channel-table.pug
						

		
		+pageTab("JSON")

			+contentSection("nodeInfo")
				pre
					code.json #{JSON.stringify(nodeInfo, null, 4)}
