extends layout

block headContent
	title Open Channel

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Tools
	li.breadcrumb-item Open Channel

block content
	+pageTitle("Open Channel")


	if (!session.admin)
		- var loginRequiredNote = "allow you to open a payment channel.";
		include includes/login-required-alert.pug

	else

		if (openChannelError)
			.alert.alert-danger.shadow-sm
				h4.h5 Error

				if (openChannelError.details)
					.mb-2 #{openChannelError.details.substring(0, 1).toUpperCase()}#{openChannelError.details.substring(1)}
					
					if (openChannelError.code)
						div Error code: #{openChannelError.code}

				else
					pre
						code.json #{JSON.stringify(openChannelError)}

		if (openChannelResponse)
			.alert.alert-success.shadow-sm
				h4.h6 Success

				if (openChannelResponse.funding_txid_hex)
					span New channel opening via transaction output: 
						span
							+btcTxid(openChannelResponse.funding_txid_hex)

							if (openChannelResponse.hasOwnProperty("output_index"))
								span.ms-1 [#{openChannelResponse.output_index.toLocaleString()}]

					.mt-2
						span See your 
						a(href="/local-channels?sort=capacity-desc&status=Pending&localbalance=all&remotebalance=all&limit=20") pending channels
						span  for details.

				else
					span New channel opening. See your 
					a(href="/local-channels?sort=capacity-desc&status=Pending&localbalance=all&remotebalance=all&limit=20") pending channels
					span  for details.

				if (false)
					pre
						code.json #{JSON.stringify(openChannelResponse)}

		form(method="post" action="/openchannel" onsubmit="formSubmitted()")
			+contentSection("Remote Node")
				.mb-3
					label.form-label(for="pubkey") Public Key
						i.fas.fa-asterisk.text-danger.ms-1.fa-sm(title="Required" data-bs-toggle="tooltip")
					input.form-control.form-control-lg(type="text" id="pubkey" name="pubkey" value=pubkey)

				if (pubkey)
					.mb-n3
						+card
							- var card_node_pubkey = pubkey;
							include includes/node-card.pug

			.row
				.col-sm-6.col-md-4.col-lg-3.col-xl-2
					.mb-3
						label.form-label(for="local_balance") Local Balance
							i.fas.fa-asterisk.text-danger.ms-1.fa-sm(title="Required" data-bs-toggle="tooltip")
						.input-group
							input.form-control.form-control-lg(id="local_balance" name="local_balance" value=local_balance)
							
							.input-group-text sat

						span.form-text.text-muted ~ 
							span(id="local_balance_note") #{new Decimal(local_balance || 0).dividedBy(coinConfig.baseCurrencyUnit.multiplier).times(global.exchangeRates.usd).toDP(2)} 
							small  USD

				.col-sm-6.col-md-4.col-lg-3.col-xl-2
					.mb-3
						label.form-label(for="remote_balance")
							span.border-dotted(title="This value should only be used if you intend to make a payment to the remote node as part of the channel-opening process." data-bs-toggle="tooltip") Remote Balance
						.input-group
							input.form-control.form-control-lg(id="remote_balance" name="remote_balance" value=remote_balance placeholder="0")

							.input-group-text sat

						.form-text.text-muted ~ 
							span(id="remote_balance_note") #{new Decimal(remote_balance || 0).dividedBy(coinConfig.baseCurrencyUnit.multiplier).times(global.exchangeRates.usd).toDP(2)} 
							small  USD

			.mt-2.mb-4
				label.form-label(for="visibility") Visibility
				.form-check
					input#visibilityPublic.form-check-input(type='radio' name='visibility' value="public" checked=(visibility == "public" ? "checked" : false))
					label.form-check-label(for='visibilityPublic') Public
				.form-check
					input#visibilityPrivate.form-check-input(type='radio' name='visibility' value="private" checked=(visibility == "private" ? "checked" : false))
					label.form-check-label(for='visibilityPrivate') Private

			button.btn.btn-primary(id="openchannelButton" type="submit")
				i.fas.fa-plus-square.me-2
				span Open Channel

			#channelOpenStatus.mt-3(style="display: none;")
				span.spinner-border.spinner-border-sm.me-2.text-primary(role="status" aria-hidden="true")
				span Channel open request submitted...


block endOfBody
	script.
		var satPerUsd = #{coinConfig.baseCurrencyUnit.multiplier} / #{global.exchangeRates.usd};

		function refreshExchangeRate(inputId, noteId) {
			var val = $('#' + inputId).val();
			if (val == "") {
				val = "0";
			}

			var usd = parseInt(val) / satPerUsd;
			usd = parseFloat(Math.round(usd * 100) / 100).toFixed(2);

			$("#" + noteId).text(usd);
		}

		function formSubmitted() {
			$("#openchannelButton").prop("disabled", true).toggleClass("btn-primary").toggleClass("btn-secondary");
			$("#channelOpenStatus").show();
		}

		$(document).ready(function() {
			$('#local_balance').on('input', function(e) {
				refreshExchangeRate("local_balance", "local_balance_note");
			});

			$('#remote_balance').on('input', function(e) {
				refreshExchangeRate("remote_balance", "remote_balance_note");
			});

			// refresh in case the UI has existing value that server didn't send
			refreshExchangeRate("local_balance", "local_balance_note");
			refreshExchangeRate("remote_balance", "remote_balance_note");
		});
