extends layout4

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Tools
	li.breadcrumb-item Pay Invoice

block headContent
	title Pay Invoice

	if (decodedInvoice)
		script.
			var countDownDate = new Date(#{parseInt(decodedInvoice.timestamp)} * 1000 + #{decodedInvoice.expiry} * 1000).getTime();

			// Update the count down every 1 second
			var x = setInterval(function() {
				// Get todays date and time
				var now = new Date().getTime();

				// Find the distance between now and the count down date
				var distance = countDownDate - now;

				// Time calculations for days, hours, minutes and seconds
				var days = Math.floor(distance / (1000 * 60 * 60 * 24));
				var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				var seconds = Math.floor((distance % (1000 * 60)) / 1000);

				// Display the result in the element with id="demo"
				var str = "";
				if (days > 0) {
					str += (days + "d ");
				}
				if (hours > 0) {
					str += (hours + "h ");
				}

				str += minutes + "m ";
				str += seconds + "s";

				document.getElementById("expiry-text").innerHTML = str;

				// If the count down is finished, write some text
				if (distance < 0) {
					clearInterval(x);
					document.getElementById("expiry-text").innerHTML = "Expired";
					document.getElementById("expiry-text").className += "text-danger";
				}
			}, 1000);
	
block content
	h1.h3 Pay Invoice
	hr

	if (!session.admin)
		- var loginRequiredNote = "allow you to pay an invoice from your LND node.";
		include includes/login-required-alert.pug

	else

		if (payInvoiceResponse)
			if (payInvoiceResponse.payment_error != "")
				div.alert.alert-danger
					h3.h5 Failed to Pay Invoice

					span Error: #{payInvoiceResponse.payment_error}

					span Details
					pre
						code.json.bg-light #{JSON.stringify(payInvoiceResponse, null, 4)}
			else
				div.alert.alert-success
					h3.h6 Payment Sent

					div.mb-3
						- var dest_pubkey = payInvoiceResponse.payment_route.hops[payInvoiceResponse.payment_route.hops.length - 1].pub_key;
						span Your payment of 
						span
							- var currencyValue = new Decimal(payInvoiceResponse.payment_route.total_amt).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
							include includes/value-display.pug
						span  was sent to 
						span.text-monospace #{dest_pubkey.substring(0, config.site.pubkeyMaxDisplayLength)}
						span  in 
						span #{parseInt(payInvoiceResponse.payment_route.hops.length).toLocaleString()} hop
							if (payInvoiceResponse.payment_route.hops.length != 1)
								span s
						span . You paid 
						span
							- var currencyValue = new Decimal(payInvoiceResponse.payment_route.total_fees_msat).dividedBy(coinConfig.currencyUnitsByName.msat.multiplier);
							- var tempCurrencyFormatType = "msat";
							include includes/value-display.pug
						span  in fees.

					div.clearfix
						div.card.text-body.shadow-sm.float-left.mr-3
							div.card-header
								h3.h6.mb-0
									i.fas.fa-play-circle.mr-2.fa-lg
									span Origin
							div.card-body
								div.font-weight-bold.mb-2 Node
								
								- var card_node_pubkey = lndRpc.internal_pubkey;
								include includes/node-card.pug

						each hop, hopIndex in payInvoiceResponse.payment_route.hops
							
							div.card.text-body.shadow-sm.float-left.mr-3
								div.card-header
									h3.h6.mb-0
										if (hopIndex == (payInvoiceResponse.payment_route.hops.length - 1))
											i.fas.fa-check-circle.mr-2.fa-lg
										else
											i.fas.fa-arrow-circle-right.mr-2.fa-lg

										span Hop ##{(hopIndex + 1).toLocaleString()}

										if (hopIndex == (payInvoiceResponse.payment_route.hops.length - 1))
											span  (Destination)
									
								div.card-body
									div.mb-3.border-bottom.pb-3
										div.font-weight-bold.mb-2 Node
										- var card_node_pubkey = hop.pub_key;
										include includes/node-card.pug
										

									div.mb-2
										div.font-weight-bold Channel
										
										a.text-monospace(href=`/channel/${hop.chan_id}`)
											- var channel_id = hop.chan_id;
											include includes/channel-id.pug

										if (userPreferences.tags && userPreferences.tags["star"].includes(`channel:${channel_id}`))
											i.fas.fa-star.text-warning.ml-1(title="This is one of your favorite channels" data-toggle="tooltip")

									div
										div.font-weight-bold Fees
										
										if (parseInt(hop.fee_msat) > 0)
											span.text-danger.text-monospace +
												- var currencyValue = new Decimal(hop.fee_msat).dividedBy(coinConfig.currencyUnitsByName.msat.multiplier);
												- tempCurrencyFormatType = "msat";
												include includes/value-display.pug
										else
											span.text-monospace.text-success 0

					if (false)
						pre
							code.json.bg-light #{JSON.stringify(payInvoiceResponse, null, 4)}

		if (decodedInvoice)
			div.card.mb-3.shadow-sm
				div.card-header
					h2.h6.mb-0 Invoice Details
				div.card-body
					ul(class='nav nav-tabs mb-3')
						li(class="nav-item")
							a.nav-link.active(data-toggle="tab" href="#tab-summary" role="tab") Summary
						li(class="nav-item")
							a.nav-link(data-toggle="tab" href="#tab-json" role="tab") JSON

					div(class="tab-content")
						div(id="tab-summary", class="tab-pane active", role="tabpanel")
							div
								div(class="row")
									div(class="summary-table-label") Destination
									div.summary-table-content.text-monospace
										div.clearfix
										div.card.float-left
											div.card-body
												- var card_node_pubkey = decodedInvoice.destination;
												include ./includes/node-card.pug

								div(class="row")
									div(class="summary-table-label") Description
									div.summary-table-content.text-monospace
										if (decodedInvoice.description)
											span #{decodedInvoice.description}
										else
											span -

								div(class="row")
									div(class="summary-table-label") Hash
									div.summary-table-content.text-monospace #{decodedInvoice.payment_hash}

								div(class="row")
									div(class="summary-table-label") Amount
									div.summary-table-content.text-monospace
										- var currencyValue = new Decimal(decodedInvoice.num_satoshis).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
										include ./includes/value-display.pug

								div(class="row")
									div(class="summary-table-label") Date
									div.summary-table-content.text-monospace
										- var timestampTime = parseInt(decodedInvoice.timestamp);
										- var timeAgoTime = timestampTime;
										- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(timestampTime) * 1000))));

										span #{moment.utc(new Date(parseInt(timestampTime) * 1000)).format("Y-MM-DD HH:mm:ss")} utc
										br
										span.text-muted #{timeAgo.format()} ago

								div(class="row")
									div(class="summary-table-label") Expiration
									div.summary-table-content.text-monospace
										span(id="expiry-text") -
								

						div(id="tab-json", class="tab-pane", role="tabpanel")
							pre
								code.json.bg-light #{JSON.stringify(decodedInvoice, null, 4)}

					
					hr

					form(method="post")
						input(type="hidden", name="invoice", value=invoice)

						button.btn.btn-primary(type="submit")
							i.fas.fa-receipt.mr-2
							span Pay Invoice

		else
			form(method="get")
				div.form-group
					label(for="invoice") Encoded Payment Request / Invoice
					textarea.form-control.form-control-lg.text-monospace(rows="4" id="invoice" name="invoice")

				button.btn.btn-primary(type="submit")
					i.fas.fa-file-alt.mr-2
					span Decode
