extends layout

block headContent
	title Payment History

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Lightning Payments
	li.breadcrumb-item Payments Sent
	
block content
	if (!session.admin)
		h1.h3 Payments Sent
		hr

		- var loginRequiredNote = "display details about this node's outgoing payments.";
		include includes/login-required-alert.pug

	else

		+pageTitle(`${allPayments.length.toLocaleString()} Payment${(allPayments.length == 1) ? "" : "s"}`)
			if (allFilteredPayments.length < allPayments.length)
				small.text-muted  (showing #{allFilteredPayments.length.toLocaleString()})


		.card.mb-3.shadow-sm
			.card-body
				.d-flex
					.me-3
						- var sortOptions = [["Date", "date-desc"], ["Value", "value-desc"], ["Destination", "dest-desc"]];

						+filterBtnGroup("Sort", null, sortOptions, `/payment-history?date=${date}&limit=${limit}`, "sort", sort)

					.me-3.mb-2.mb-lg-0
						- var createdFilterOptions = [["1h", "60-min"], ["24h", "24-hr"], ["7d", "7-day"], ["30d", "30-day"], ["All", "all"]];

						+filterBtnGroup("Time", null, createdFilterOptions, `/payment-history?sort=${sort}&limit=${limit}`, "date", date)

					.mb-2.mb-lg-0
						- var pageSizeOptions = [["20", "20"], ["50", "50"], ["100", "100"]];

						+filterBtnGroup("Page Size", null, pageSizeOptions, `/payment-history?sort=${sort}&date=${date}`, "limit", limit)

				hr.my-3

				div
					if (allFilteredPayments.length > limit)
						span Showing 
						span.fw-bold ##{(offset + 1).toLocaleString()} - #{Math.min(offset + limit, allFilteredPayments.length).toLocaleString()} 
						span of 
						span.fw-bold #{allFilteredPayments.length.toLocaleString()} 
						if (allPayments.length > allFilteredPayments.length)
							span filtered 
						span payment
						if (allFilteredPayments.length != 1)
							span s

					else if (allFilteredPayments.length > 0)
						span Showing 
						span.fw-bold #{allFilteredPayments.length.toLocaleString()} 
						if (allPayments.length > allFilteredPayments.length)
							span filtered 
						span payment
						if (allFilteredPayments.length != 1)
							span s

					else
						.alert.alert-warning.shadow-sm.mb-0 No matching payments

				- var itemCount = allFilteredPayments.length;
				if (itemCount > limit)
					- var pageNumber = offset / limit + 1;
					- var pageCount = Math.floor(itemCount / limit);
					- if (pageCount * limit < itemCount) {
						- pageCount++;
					- }
					- var paginationUrlFunction = function(x) {
						- return paginationBaseUrl + `&limit=${limit}&offset=${((x - 1) * limit)}`;
					- }
					
					.mt-2.mb-0
						include includes/pagination.pug


		if (true)
			if (allFilteredPayments.length > 0)
				each payment, paymentIndex in pagedFilteredPayments
					include includes/payment-details-modal.pug

				.table-responsive
					table.table.table-striped
						thead
							tr
								th.text-end #
								th Destination
								th.text-end Value
								th Date
								th Hash

								th.text-end Hops
								th.text-end Fee
								

								th Details
						
						tbody
							each payment, paymentIndex in pagedFilteredPayments
								tr.word-wrap
									th.text-end #{(paymentIndex + offset + 1).toLocaleString()}
									
									if (false)
										td
											span(title=payment.payment_preimage, data-bs-toggle="tooltip") #{payment.payment_preimage.substring(0, 15)}

									td
										//pre
										//	code.json #{JSON.stringify(payment.htlcs[0], null, 4)}
										- var destinationNodePubkey = payment.htlcs[0].route.hops[payment.htlcs[0].route.hops.length - 1].pub_key;
										- var card_node_pubkey = destinationNodePubkey;
										include ./includes/node-card.pug

									td.text-end(class="table-col-currencyvalue")
										- var currencyValue = new Decimal(payment.value_msat).dividedBy(coinConfig.baseCurrencyUnit.multiplier).dividedBy(1000);
										include ./includes/value-display.pug

									td(class="table-col-time")
										- var timestampTime = parseInt(payment.creation_date);
										- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(timestampTime) * 1000))));
										- var dateTimeUtc = moment.utc(new Date(parseInt(timestampTime) * 1000)).format("Y-MM-DD HH:mm:ss");

										span.border-dotted(title=`${dateTimeUtc} utc` data-bs-toggle="tooltip") #{timeAgo.format()} ago

									td
										span.border-dotted(title=payment.payment_hash, data-bs-toggle="tooltip") #{payment.payment_hash.substring(0, 15)}

									td.text-end(class="table-col-int") #{payment.htlcs[0].route.hops.length.toLocaleString()}

									td.text-end(class="table-col-currencyvalue")
										- var currencyValue = new Decimal(payment.fee).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
										include ./includes/value-display.pug

									td
										a(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#paymentModal-" + paymentIndex)) Details
