extends layout

block headContent
	title My Peers

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item My Node
	li.breadcrumb-item My Peers
	
block content
	if (!session.admin)
		+pageTitle("My Peers")


		- var loginRequiredNote = "display details about this node's peers.";
		include includes/login-required-alert.pug

	else

		+pageTitle(`${listPeers.peers.length.toLocaleString()} Peer${(listPeers.peers.length == 1) ? "" : "s"}`)

		
		+card
			+filterList
				+filterItem
					- var sortOptions = [["Public Key", "pubkey-asc"], ["Alias", "alias-asc"], ["IP Addr", "ip-asc"], ["Value Transferred", "valuetransfer-desc"], ["Data Transferred", "datatransfer-desc"]];

					+filterBtnGroup("Sort", null, sortOptions, `/peers?limit=${limit}`, "sort", sort)


				+filterItem(true)
					- var pageSizeOptions = [["20", "20"], ["50", "50"], ["100", "100"]];

					+filterBtnGroup("Page Size", null, pageSizeOptions, `/peers?sort=${sort}`, "limit", limit)

		

			hr.my-3

			div
				if (allFilteredPeers.length > limit)
					span Showing 
					span.fw-bold ##{(offset + 1).toLocaleString()} - #{Math.min(offset + limit, allFilteredPeers.length).toLocaleString()} 
					span of 
					span.fw-bold #{allFilteredPeers.length.toLocaleString()} 
					if (allPeers.length > allFilteredPeers.length)
						span filtered 
					span peer
					if (allFilteredPeers.length != 1)
						span s

				else if (allFilteredPeers.length > 0)
					span Showing 
					span.fw-bold #{allFilteredPeers.length.toLocaleString()} 
					if (allPeers.length > allFilteredPeers.length)
						span filtered 

					span peer
					if (allFilteredPeers.length > 1)
						span s
				else
					.alert.alert-warning.shadow-sm.mb-0 No matching peers


			+pagination(allFilteredPeers.length, limit, offset, paginationBaseUrl)




		if (listPeers.peers.length > 0)
			each item, item_index in pagedFilteredPeers
				+modal(`peerModal-${item_index}`, `Peer ${item.pub_key}`)
					pre
						code.json #{JSON.stringify(item, null, 4)}

			.table-responsive
				table.table.table-striped
					thead.table-head-with-nav
						tr
							th.text-end.fw-light #
							th Node
							th Address

							th.text-end
								span.border-dotted(title="Total Inbound and Outbound Value Transfers", data-bs-toggle="tooltip") Transfer

							th.text-end Data Transfer
							
							th.text-center Inbound?
							th.text-end Ping
							th.text-end Raw

					tbody
						each item, item_index in pagedFilteredPeers
							tr
								th.text-end.fw-light #{(item_index + offset + 1).toLocaleString()}

								td
									+nodeCard(item.pub_key)

								td
									+netAddress(item.address)
									

								td
									- let valueReceived = new Decimal(item.sat_recv || 0);
									- let valueSent = new Decimal(item.sat_sent || 0);

									if (valueReceived != null && (valueReceived > 0 || valueSent > 0))
										.text-end.fs-90
											if (valueReceived && valueReceived > 0)
												.text-success
													| +
													+btcValue(valueReceived)
											
											if (valueSent && valueSent > 0)
												.text-danger
													| -
													+btcValue(valueSent)

									else
										.text-end -

									
								
								
								- var bytesSentData = utils.formatLargeNumber(item.bytes_sent, 1);
								- var bytesRecvData = utils.formatLargeNumber(item.bytes_recv, 1);
								
								td.text-end
									span #{bytesSentData[0]} #{bytesSentData[1].abbreviation}B
									i.fas.fa-arrow-up.ms-2
									
									br

									span #{bytesRecvData[0]} #{bytesRecvData[1].abbreviation}B
									i.fas.fa-arrow-down.ms-2
									

								

								td.text-center.align-middle
									if (item.inbound)
										i.fas.fa-circle-check.text-success
									else
										i.fas.fa-circle-xmark.text-danger

								td.text-end #{parseInt(item.ping_time).toLocaleString()}

								td.text-end
									a.btn.btn-sm.btn-primary(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#peerModal-" + item_index))
										i.fas.fa-file-lines