extends layout4

block headContent
	title My Peers

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item My Node
	li.breadcrumb-item My Peers
	
block content
	if (!session.admin)
		h1.h3 My Peers
		hr

		- var loginRequiredNote = "display details about this node's peers.";
		include includes/login-required-alert.pug

	else

		h1.h3 #{listPeers.peers.length.toLocaleString()} 
			if (listPeers.peers.length == 1)
				span Peer
			else
				span Peers

		hr

		div.card.mb-3.shadow-sm
			div.card-body
				div.clearfix
					div.dropdown.mr-4.float-left
						div Sort
						button.btn.btn-primary.dropdown-toggle.mb-2.mb-lg-0(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
							span
								if (sort == null || sort == "pubkey-asc")
									| Peer Public Key
								else if (sort == "alias-asc")
									| Peer Alias
								else if (sort == "ip-asc")
									| IP Address
								else if (sort == "valuetransfer-desc")
									| Value Transferred (highest first)
								else if (sort == "datatransfer-desc")
									| Data Transferred (highest first)

						div.dropdown-menu(aria-labelledby="dropdownMenuButton")
							a.dropdown-item(href=`/peers?sort=pubkey-asc&limit=${limit}`) Peer Public Key
							a.dropdown-item(href=`/peers?sort=alias-asc&limit=${limit}`) Peer Alias
							a.dropdown-item(href=`/peers?sort=ip-asc&limit=${limit}`) IP Address
							a.dropdown-item(href=`/peers?sort=valuetransfer-desc&limit=${limit}`) Value Transferred (highest first)
							a.dropdown-item(href=`/peers?sort=datatransfer-desc&limit=${limit}`) Data Transferred (highest first)

					div.mr-4.mb-2.mb-lg-0.float-left
						div Page Size
						- var pageSizeOptions = ["20", "50", "100"];
						div.btn-group.mr-2(role="group")
							each opt in pageSizeOptions
								if (limit != null && limit == parseInt(opt))
									span.btn.btn-primary #{opt}
								else
									a.btn.btn-light.border(href=`/peers?sort=${sort}&limit=${opt}`) #{opt}

				hr.my-3

				div
					if (allFilteredPeers.length > limit)
						span Showing 
						span.font-weight-bold ##{(offset + 1).toLocaleString()} - #{Math.min(offset + limit, allFilteredPeers.length).toLocaleString()} 
						span of 
						span.font-weight-bold #{allFilteredPeers.length.toLocaleString()} 
						if (allPeers.length > allFilteredPeers.length)
							span filtered 
						span peer
						if (allFilteredPeers.length != 1)
							span s

					else if (allFilteredPeers.length > 0)
						span Showing 
						span.font-weight-bold #{allFilteredPeers.length.toLocaleString()} 
						if (allPeers.length > allFilteredPeers.length)
							span filtered 

						span peer
						if (allFilteredPeers.length > 1)
							span s
					else
						div.alert.alert-warning.shadow-sm.mb-0 No matching peers

				- var itemCount = allFilteredPeers.length;
				if (itemCount > limit)
					- var pageNumber = offset / limit + 1;
					- var pageCount = Math.floor(itemCount / limit);
					- if (pageCount * limit < itemCount) {
						- pageCount++;
					- }
					- var paginationUrlFunction = function(x) {
						- return paginationBaseUrl + `&limit=${limit}&offset=${((x - 1) * limit)}`;
					- }
					
					div.mt-2.mb-0
						include includes/pagination.pug

		div.table-responsive
			table(class="table table-bordered border-top")
				thead(class="table-head-with-nav")
					tr
						th.text-right #
						th Node
						th Address

						th.text-right Value Transfer
						th.text-right Data Transfer
						
						th.text-center Inbound?
						th.text-right Ping

				tbody.text-monospace
					each item, item_index in pagedFilteredPeers
						tr
							th.text-right #{(item_index + offset + 1).toLocaleString()}
							td
								- var card_node_pubkey = item.pub_key;
								include ./includes/node-card.pug

							td #{item.address}

							td.text-right
								if (item.sat_recv == 0 && item.sat_sent == 0)
									span -
								else
									- var currencyValue = new Decimal(item.sat_recv).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
									if (currencyValue > 0)
										span.text-success
											span +
											include includes/value-display.pug

										br

									- currencyValue = new Decimal(item.sat_sent).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
									if (currencyValue > 0)
										span.text-danger
											span -
											include includes/value-display.pug
							
							
							- var bytesSentData = utils.formatLargeNumber(item.bytes_sent, 1);
							- var bytesRecvData = utils.formatLargeNumber(item.bytes_recv, 1);
							
							td.text-right
								span #{bytesSentData[0]} #{bytesSentData[1].abbreviation}B
								i.fas.fa-arrow-up.ml-2
								
								br

								span #{bytesRecvData[0]} #{bytesRecvData[1].abbreviation}B
								i.fas.fa-arrow-down.ml-2
								

							

							td.text-center.align-middle
								if (item.inbound)
									i(class="fas fa-check text-success")
								else
									i(class="fas fa-times")

							td(class="text-right") #{parseInt(item.ping_time).toLocaleString()}