extends layout4

block headContent
	title My Peers

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item My Node
	li.breadcrumb-item.active My Peers
	
block content
	if (!session.admin)
		h1.h3 My Peers
		hr

		- var loginRequiredNote = "display details about this node's peers.";
		include includes/login-required-alert.pug

	else

		h1.h3 #{listPeers.peers.length.toLocaleString()} 
			if (listPeers.peers.length == 1)
				span Peer
			else
				span Peers

		hr

		if (!getInfo && !listPeers)
			div(class="alert alert-danger") No data available. Check your RPC connection.

		else

			div.table-responsive
				table(class="table table-bordered border-top")
					thead(class="table-head-with-nav")
						tr
							th.text-right #
							th Node
							th Address

							th.text-right Value Transfer
							th.text-right Data Transfer
							
							th.text-center Inbound?
							th.text-right Ping

					tbody.text-monospace
						each item, item_index in listPeers.peers
							tr
								th.text-right #{(item_index + 1).toLocaleString()}
								td
									- var card_node_pubkey = item.pub_key;
									include ./includes/node-card.pug

								td #{item.address}

								td.text-right
									if (item.sat_recv == 0 && item.sat_sent == 0)
										span -
									else
										- var currencyValue = new Decimal(item.sat_recv).dividedBy(100000000);
										if (currencyValue > 0)
											span.text-success
												span +
												include includes/value-display.pug

											br

										- currencyValue = new Decimal(item.sat_sent).dividedBy(100000000);
										if (currencyValue > 0)
											span.text-danger
												span -
												include includes/value-display.pug
								
								
								- var bytesSentData = utils.formatLargeNumber(item.bytes_sent, 1);
								- var bytesRecvData = utils.formatLargeNumber(item.bytes_recv, 1);
								
								td.text-right
									span #{bytesSentData[0]} #{bytesSentData[1].abbreviation}B
									i.fas.fa-arrow-up.ml-2
									
									br

									span #{bytesRecvData[0]} #{bytesRecvData[1].abbreviation}B
									i.fas.fa-arrow-down.ml-2
									

								

								td.text-center.align-middle
									if (item.inbound)
										i(class="fas fa-check text-success")
									else
										i(class="fas fa-times")

								td(class="text-right") #{parseInt(item.ping_time).toLocaleString()}