extends layout4

block headContent
	title Query Route

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Tools
	li.breadcrumb-item.active Query Route
	
block content
	h1.h3 Query Route

	hr

	if (!session.admin)
		- var loginRequiredNote = "allow you to query lightning payment routes through the network.";
		include includes/login-required-alert.pug

	else

		form(method="post")
			div.form-group
				label(for="msg") Target Node
				input.form-control.text-monospace(id="pubkey" name="pubkey" type="text" value=pubkey)

			if (pubkey)
				div.card.text-monospace.mb-3.bg-light
					div.card-body
						- var card_node_pubkey = pubkey;
						include includes/node-card.pug

			div.row
				div.col-md-2
					div.form-group
						label(for="amount") Amount
						div.input-group
							input(type="number", class="form-control", id="amount", name="amountSat" value=amountSat)
							div.input-group-append
								div.input-group-text sat

			button.btn.btn-primary(type="submit") Query

		
			
		if (queryRouteError)
			hr.my-3

			div.alert.alert-warning.shadow-sm
				h3.h6 No Route Found

				if (queryRouteError != null && queryRouteError.details)
					span.text-capitalize #{queryRouteError.details}

			if (false)
				pre
					code.json.bg-light #{JSON.stringify(queryRouteError, null, 4)}

		else if (queryRouteResponse)
			hr.my-3

			div.alert.alert-success.shadow-sm.font-weight-bold Route Found

			div.card.shadow-sm.text-body
				div.card-header
					h3.h6.mb-0 Route
				div.card-body

					- var route = queryRouteResponse.routes[0];

					div.clearfix
						div.float-left.mr-4
							span.font-weight-bold Total Cost: 
							- var currencyValue = new Decimal(route.total_amt).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
							include includes/value-display.pug

						div.float-left.mr-4
							span.font-weight-bold Total Fees: 
							- var currencyValue = new Decimal(route.total_fees).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
							include includes/value-display.pug

						div.float-left.mr-4
							span.font-weight-bold Total Timelock: 
							span.text-monospace #{route.total_time_lock.toLocaleString()}

						div.float-left.mr-4
							span.font-weight-bold Hops: 
							span.text-monospace #{route.hops.length.toLocaleString()}

					hr.my-3(style="border-top: 1px solid rgba(0, 0, 0, 0.1);")

					div.clearfix
						div.card.text-body.shadow-sm.float-left.mr-3
							div.card-header
								h3.h6.mb-0
									i.fas.fa-play-circle.mr-2.fa-lg
									span Origin
							div.card-body
								div.font-weight-bold.mb-2 Node
								
								- var card_node_pubkey = lndRpc.internal_pubkey;
								include includes/node-card.pug

						each hop, hopIndex in route.hops
							
							div.card.text-body.shadow-sm.float-left.mr-3
								div.card-header
									h3.h6.mb-0
										if (hopIndex == (route.hops.length - 1))
											i.fas.fa-check-circle.mr-2.fa-lg
										else
											i.fas.fa-arrow-circle-right.mr-2.fa-lg

										span Hop ##{(hopIndex + 1).toLocaleString()}

										if (hopIndex == (route.hops.length - 1))
											span  (Destination)
									
								div.card-body
									div.mb-3.border-bottom.pb-3
										div.font-weight-bold.mb-2 Node
										- var card_node_pubkey = hop.pub_key;
										include includes/node-card.pug
										

									div.mb-2
										div.font-weight-bold Channel
										
										a.text-monospace(href=`/channel/${hop.chan_id}`)
											- var channel_id = hop.chan_id;
											include includes/channel-id.pug

									div
										div.font-weight-bold Fees
										
										if (parseInt(hop.fee_msat) > 0)
											span.text-danger.text-monospace +#{hop.fee_msat} msat
										else
											span.text-monospace.text-success 0