extends layout4

block headContent
	title Query Route

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Tools
	li.breadcrumb-item Query Route
	
block content
	h1.h3 Query Route

	hr

	if (!session.admin)
		- var loginRequiredNote = "allow you to query lightning payment routes through the network.";
		include includes/login-required-alert.pug

	else

		form(method="post")
			div.form-group
				label(for="pubkey") Target Node Public Key
				input.form-control.form-control-lg.text-monospace(id="pubkey" name="pubkey" type="text" value=pubkey)

			if (pubkey)
				div.card.text-monospace.mb-3.bg-light
					div.card-body
						- var card_node_pubkey = pubkey;
						include includes/node-card.pug

			div.row
				div.col-md-2
					div.form-group
						label(for="amount") Amount
						div.input-group
							input.form-control.form-control-lg.text-monospace(type="number" id="amount" name="amountSat" value=amountSat)
							div.input-group-append
								div.input-group-text.text-monospace sat

			button.btn.btn-primary(type="submit")
				i.fas.fa-route.mr-2
				span Query Route

		
			
		if (queryRouteError)
			hr.my-3

			div.alert.alert-warning.shadow-sm
				h3.h6 No Route Found

				if (queryRouteError != null && queryRouteError.details)
					span.text-capitalize #{queryRouteError.details}

			if (false)
				pre
					code.json.bg-light #{JSON.stringify(queryRouteError, null, 4)}

		else if (queryRouteResponse)
			hr.my-3

			if (false)
				pre
					code.json #{JSON.stringify(queryRouteResponse, null, 4)}

			div.alert.alert-success.shadow-sm Route Found

			- var route = queryRouteResponse.routes[0];

			div.card.shadow-sm.text-body.mb-3
				div.card-header
					h3.h6.mb-0 Summary
				div.card-body
					div.row
						div.summary-table-label
							span.border-dotted(title="The total amount to be transferred in milli-satoshis (the native unit on the lightning network), followed by the amount in your chosen unit" data-toggle="tooltip") Total Cost
						div.summary-table-content.text-monospace
							- var currencyValue = new Decimal(route.total_amt_msat).dividedBy(coinConfig.currencyUnitsByName.msat.multiplier);
							- var tempCurrencyFormatType = "msat";
							include includes/value-display.pug
							br
							span.text-muted
								include includes/value-display.pug

						div.summary-table-label Total Fees
						div.summary-table-content.text-monospace
							if (parseInt(route.total_fees_msat) > 0)
								span.text-danger
									- var currencyValue = new Decimal(route.total_fees_msat).dividedBy(coinConfig.currencyUnitsByName.msat.multiplier);
									- var tempCurrencyFormatType = "msat";
									include includes/value-display.pug
									
							else
								span.text-success 0

						div.summary-table-label Total Timelock
						div.summary-table-content.text-monospace #{route.total_time_lock.toLocaleString()}

						div.summary-table-label Hops
						div.summary-table-content.text-monospace #{route.hops.length.toLocaleString()}

			div.card.shadow-sm.text-body
				div.card-header
					h3.h6.mb-0 Details
				div.card-body
					div.clearfix
						div.card.text-body.shadow-sm.float-left.mr-3
							div.card-header
								h3.h6.mb-0
									i.fas.fa-play-circle.mr-2.fa-lg
									span Origin
							div.card-body
								div.font-weight-bold.mb-2 Node
								
								- var card_node_pubkey = lndRpc.internal_pubkey;
								include includes/node-card.pug

						each hop, hopIndex in route.hops
							
							div.card.text-body.shadow-sm.float-left.mr-3
								div.card-header
									h3.h6.mb-0
										if (hopIndex == (route.hops.length - 1))
											i.fas.fa-check-circle.mr-2.fa-lg
										else
											i.fas.fa-arrow-circle-right.mr-2.fa-lg

										span Hop ##{(hopIndex + 1).toLocaleString()}

										if (hopIndex == (route.hops.length - 1))
											span  (Destination)
									
								div.card-body
									div.mb-3.border-bottom.pb-3
										div.font-weight-bold.mb-2 Node
										- var card_node_pubkey = hop.pub_key;
										include includes/node-card.pug
										

									div.mb-2
										div.font-weight-bold Channel
										
										a.text-monospace(href=`/channel/${hop.chan_id}`)
											- var channel_id = hop.chan_id;
											include includes/channel-id.pug

										if (utils.isObjectStarred(`channel:${channel_id}`))
											i.fas.fa-star.text-warning.ml-1(title="This is one of your favorite channels" data-toggle="tooltip")

									div
										div.font-weight-bold Fees
										
										if (parseInt(hop.fee_msat) > 0)
											span.text-danger.text-monospace +
												- var currencyValue = new Decimal(hop.fee_msat).dividedBy(coinConfig.currencyUnitsByName.msat.multiplier);
												- var tempCurrencyFormatType = "msat";
												include includes/value-display.pug
										else
											span.text-monospace.text-success 0