extends layout

block headContent
	title Search - #{query}

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home

	if (query)
		li.breadcrumb-item
			a(href='/search') Search
		li.breadcrumb-item #{query}
	else
		li.breadcrumb-item Search
	
block content

	+pageTitle("Search")

	if (session.hideSearchNote)
		// show nothing
	else
		.alert.alert-primary.alert-dismissible.shadow-sm(role="alert")
			.mb-2
				.mb-2 Searching here will find all public nodes and/or channels visible to your node. It will match on public keys, aliases, addresses, colors, and channel ids.
				span.fw-bold Important: 
				span Please be aware that the 
				span.fw-bold alias 
				span property can be set to any value by node owners - even to impersonate a person or company you might be familiar with. Use caution when evaluating nodes.

			div
				a(href="/changeSetting?name=hideSearchNote&value=true") Don't show this note again
				

			a.btn-close(href="/changeSetting?name=hideSearchNote&value=true", aria-label="Close", style="text-decoration: none;")

	form.mb-4(method="get")
		.input-group
			label.input-group-text(for="query")
				i.fas.fa-search

			input.form-control.form-control-lg(id="query" type="text" name="query" value=query placeholder="public key, channel id, alias, color, or address")
			
			button.btn.btn-primary.btn-lg(type="submit")
				span Search


	if (query)
		- var noNodes = true;
		if (searchResults && searchResults.nodes && searchResults.nodes.length > 0)
			- noNodes = false;

			.mb-4
				h4.h5
					span Found #{searchResults.nodes.length.toLocaleString()} 
					if (searchResults.nodes.length == 1)
						span Node
					else
						span Nodes
				hr

				- var nodeInfos = searchResults.nodes;
				- var nodeTableIndexOffset = 0;
				include includes/node-table.pug
			


		- var noChannels = true;
		if (searchResults && searchResults.channels && searchResults.channels.length > 0)
			- noChannels = false;

			.mb-4
				h4.h5
					span Found #{searchResults.channels.length.toLocaleString()} 
					if (searchResults.channels.length == 1)
						span Channel
					else
						span Channels
				hr

				- var channels = searchResults.channels;
				- var channelTableIndexOffset = 0;
				include includes/channel-table.pug

		if (noNodes && noChannels)
			.alert.alert-warning.shadow-sm No results found for query: #{query}