extends layout4

block breadcrumb
	ol.breadcrumb
		li.breadcrumb-item
			a(href='/') Home
		li.breadcrumb-item Tools
		li.breadcrumb-item.active Pay Invoice

block headContent
	title Pay Invoice

	if (decodedInvoice)
		script.
			var countDownDate = new Date(#{parseInt(decodedInvoice.timestamp)} * 1000 + #{decodedInvoice.expiry} * 1000).getTime();

			// Update the count down every 1 second
			var x = setInterval(function() {
				// Get todays date and time
				var now = new Date().getTime();

				// Find the distance between now and the count down date
				var distance = countDownDate - now;

				// Time calculations for days, hours, minutes and seconds
				var days = Math.floor(distance / (1000 * 60 * 60 * 24));
				var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				var seconds = Math.floor((distance % (1000 * 60)) / 1000);

				// Display the result in the element with id="demo"
				var str = "";
				if (days > 0) {
					str += (days + "d ");
				}
				if (hours > 0) {
					str += (hours + "h ");
				}

				str += minutes + "m ";
				str += seconds + "s";

				document.getElementById("expiry-text").innerHTML = str;

				// If the count down is finished, write some text
				if (distance < 0) {
					clearInterval(x);
					document.getElementById("expiry-text").innerHTML = "Expired";
					document.getElementById("expiry-text").className += "text-danger";
				}
			}, 1000);
	
block content
	h1(class="h2") Pay Invoice
	hr

	if (!session.admin)
		p If logged in as an admin, this page will enable sending payments via your lightning node.

		a(href="/login") Login

	else

		if (decodedInvoice)
			div(class="card mb-3 shadow-sm")
				div(class="card-header")
					h2(class="h6 mb-0") Payment Details
				div(class="card-body")
					ul(class='nav nav-tabs mb-3')
						li(class="nav-item")
							a(data-toggle="tab", href="#tab-summary", class="nav-link active", role="tab") Summary
						li(class="nav-item")
							a(data-toggle="tab", href="#tab-json", class="nav-link", role="tab") JSON

					div(class="tab-content")
						div(id="tab-summary", class="tab-pane active", role="tabpanel")
							div
								div(class="row")
									div(class="summary-table-label") Description
									div(class="summary-table-content monospace")
										if (decodedInvoice.description)
											span #{decodedInvoice.description}
										else
											span -

								div(class="row")
									div(class="summary-table-label") Hash
									div(class="summary-table-content monospace") #{decodedInvoice.payment_hash}

								div(class="row")
									div(class="summary-table-label") Amount
									div(class="summary-table-content monospace")
										- var currencyValue = new Decimal(decodedInvoice.num_satoshis).dividedBy(100000000);
										include ./includes/value-display.pug

								div(class="row")
									div(class="summary-table-label") Date
									div(class="summary-table-content monospace")
										- var timestampTime = parseInt(decodedInvoice.timestamp);
										- var timeAgoTime = timestampTime;
										- var timeAgo = moment.duration(moment.utc(new Date()).diff(moment.utc(new Date(parseInt(timestampTime) * 1000))));

										span #{moment.utc(new Date(parseInt(timestampTime) * 1000)).format("Y-MM-DD HH:mm:ss")} utc 
										include ./includes/time-ago.pug

								div(class="row")
									div(class="summary-table-label") Expiration
									div(class="summary-table-content monospace")
										span(id="expiry-text") -

								div(class="row")
									div(class="summary-table-label") Destination
									div(class="summary-table-content monospace")
										- var card_node_pubkey = decodedInvoice.destination;
										include ./includes/node-card.pug

						div(id="tab-json", class="tab-pane", role="tabpanel")
							pre
								code.json #{JSON.stringify(decodedInvoice, null, 4)}

					
					hr

					form(method="post")
						input(type="hidden", name="invoice", value=invoice)

						button(type="submit", class="btn btn-primary") Send Payment

		else
			form(method="get")
				div(class="form-group")
					label(for="invoice") Encoded Payment Request / Invoice
					textarea(rows="6", class="form-control", id="invoice", name="invoice")

				button(type="submit", class="btn btn-primary") Decode
