extends layout

block headContent
	title Sign or Verify

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Tools
	li.breadcrumb-item Sign or Verify
	
block content
	+pageTitle("Sign or Verify")


	if (!session.admin)
		- var loginRequiredNote = "allow you to sign and verify messages.";
		include includes/login-required-alert.pug

	else

		if (signMessageResponse)
			if (signMessageResponse.signature)
				.alert.alert-success
					h3.h6 Success

					span Message signed successfully

			else
				.alert.alert-danger
					h3.h6 Message Signing Failed
					
					if (false)
						pre
							code.json #{JSON.stringify(signMessageResponse, null, 4)}

		if (verifyMessageResponse)
			if (verifyMessageResponse.valid)
				.alert.alert-success
					h3.h6 Signature Verified

					span Message signature verified, using public key 
					span.fw-bold #{verifyMessageResponse.pubkey}
					span .

			else
				.alert.alert-danger
					h3.h6 Signature Verification Failed

					span  Invalid signature

					if (false)
						pre
							code.json #{JSON.stringify(verifyMessageResponse, null, 4)}

		form(method="post")
			.mb-3
				label.form-label(for="msg") Message
				input.form-control.form-control-lg(id="msg" name="msg" type="text" value=msg)

			.mb-3
				label.form-label(for="signature") Signature

				.d-flex
					input.form-control.form-control-lg(id="signature" name="signature" type="text" value=signature)
					
					if (signature)
						.fs-4.ms-3
							+copyTextButton(signature)

				small.text-muted Signature to verify, or leave blank to generate a new signature

				

			button.btn.btn-primary(type="submit")
				i.fas.fa-pen-nib.me-2
				span Sign / Verify
			