extends layout4

block headContent
	title Sign or Verify

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item Tools
	li.breadcrumb-item Sign or Verify
	
block content
	h1.h3 Sign or Verify

	hr

	if (!session.admin)
		- var loginRequiredNote = "allow you to sign and verify messages.";
		include includes/login-required-alert.pug

	else

		if (signMessageResponse)
			if (signMessageResponse.signature)
				div.alert.alert-success
					h3.h6 Success

					span Message signed successfully

			else
				div.alert.alert-danger
					h3.h6 Message Signing Failed
					
					if (false)
						pre
							code.json.bg-light #{JSON.stringify(signMessageResponse, null, 4)}

		if (verifyMessageResponse)
			if (verifyMessageResponse.valid)
				div.alert.alert-success
					h3.h6 Signature Verified

					span Message signature verified, using public key 
					span.font-weight-bold #{verifyMessageResponse.pubkey}
					span .

			else
				div.alert.alert-danger
					h3.h6 Signature Verification Failed

					span  Invalid signature

					if (false)
						pre
							code.json.bg-light #{JSON.stringify(verifyMessageResponse, null, 4)}

		form(method="post")
			div.form-group
				label(for="msg") Message
				input.form-control.text-monospace.form-control-lg(id="msg" name="msg" type="text" value=msg)

			div.form-group
				label(for="signature") Signature
				input.form-control.text-monospace.form-control-lg(id="signature" name="signature" type="text" value=signature)
				small.text-muted Signature to verify, or leave blank to generate a new signature

			button.btn.btn-primary(type="submit") Sign / Verify
			