extends layout

block headContent
	title My Wallet

block breadcrumb
	li.breadcrumb-item
		a(href='/') Home
	li.breadcrumb-item My Node
	li.breadcrumb-item My Wallet
	
block content
	if (!session.admin)
		+pageTitle("My Wallet")
		

		- var loginRequiredNote = "display details about this node's wallet.";
		include includes/login-required-alert.pug

	else

		+pageTitle("My Wallet")


		- var unconfirmedTxCount = 0;
		each tx, index in onChainTransactions.transactions
			if (tx.num_confirmations == 0)
				- unconfirmedTxCount++;

		- var confirmedTxCount = (onChainTransactions.transactions.length - unconfirmedTxCount);

		+contentSection("Wallet Summary")
			+summaryRow(3 + ((walletBalance && walletBalance.unconfirmed_balance > 0) ? 1 : 0))

				+summaryItem("Balance", "The value in your wallet that's not currently committed to any payment channels.")
					if (walletBalance)
						- var currencyValue = new Decimal(walletBalance.confirmed_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
						include includes/value-display.pug

					else
						span.border-dotted.text-warning(title="Failed to get wallet balance. See the Error Log for possible details." data-bs-toggle="tooltip") Unknown


				if (walletBalance && walletBalance.unconfirmed_balance > 0)
					+summaryItem("Unconfirmed Balance", "The value in your wallet that's unconfirmed on the blockchain.")
						- var currencyValue = new Decimal(walletBalance.unconfirmed_balance).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
						include includes/value-display.pug


				+summaryItem("UTXOs", "Number of unspent transaction outputs.")
					if (walletUtxosResponse)
						span #{walletUtxosResponse.utxos.length.toLocaleString()}

					else
						span.border-dotted.text-warning(title="Failed to get wallet UTXOs. See the Error Log for possible details." data-bs-toggle="tooltip") Unknown


				+summaryItem("Transactions")
					| #{confirmedTxCount.toLocaleString()}

							

		+contentSection("Tools")
			a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#newDepositAddressModal")
				i.fas.fa-qrcode.me-2
				span New Deposit Address...
			a.btn.btn-primary.me-0.me-lg-2.mb-2.mb-lg-0.d-block.d-lg-inline-block(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#withdrawFundsModal")
				i.fas.fa-external-link-alt.me-2
				span Withdraw Funds...
				

		if (false)
			pre
				code.json.bg-light #{JSON.stringify(walletUtxosResponse, null, 4)}
		
		if (walletUtxosResponse && walletUtxosResponse.utxos && walletUtxosResponse.utxos.length > 0)
			+contentSection(`${walletUtxosResponse.utxos.length.toLocaleString()} UTXO${walletUtxosResponse.utxos.length == 1 ? "" : "s"}`)
				each utxo, utxoIndex in walletUtxosResponse.utxos
					- delete utxo.outpoint.txid_bytes;
					include includes/wallet-utxo-details-modal.pug

				.table-responsive
					table.table.table-striped
						thead
							tr
								th.text-end.fw-light #
								
								if (false)
									th Type

								th
									span.border-dotted(title="The transaction ID [output index] for this UTXO." data-bs-toggle="tooltip") Outpoint
								
								th Address
								
								if (false)
									th Pubkey Script

								th.text-end Amount

								th.text-end Confirmations
								
								th.text-end Raw Data

						tbody
							each utxo, utxoIndex in walletUtxosResponse.utxos
								tr
									th.text-end.fw-light #{(utxoIndex + 1).toLocaleString()}

									if (false)
										td #{utxo.type}
									td

										+btcTxid(utxo.outpoint.txid_str)
										
										span  [#{utxo.outpoint.output_index}]

									td
										+btcAddress(utxo.address)

									if (false)
										td
											+btcAddress(utxo.pk_script)

									td.text-end
										- var currencyValue = new Decimal(utxo.amount_sat).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
										include includes/value-display.pug

									td.text-end #{parseInt(utxo.confirmations).toLocaleString()}
										
									
									td.text-end
										a.btn.btn-sm.btn-primary(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#utxoModal-" + utxoIndex))
											i.fas.fa-file-lines



		each tx, txIndex in onChainTransactions.transactions
			include includes/wallet-tx-details-modal.pug

		
		- var totalTxCount = confirmedTxCount + unconfirmedTxCount;
		if (totalTxCount > 0)
			+contentSection(`${totalTxCount.toLocaleString()} Transaction${totalTxCount == 1 ? "" : "s"}`)
				.table-responsive
					table.table.table-striped
						thead
							tr
								th.text-end.fw-light #
								th Txid
								
								th
									span.border-dotted(title="If applicable, show the channel actions associated with the transaction.", data-bs-toggle="tooltip") Channel Actions
								

								th.text-end
									if (false)
										span Block /
										br
									span Confirmations
								
								th Date

								th.text-end Amount

								th Addresses
								
								th.text-end Raw Data

						
						tbody
							//- onChainTransactions.transactions.reverse();
							each tx, txIndex in onChainTransactions.transactions
								tr
									th.text-end.fw-light #{(txIndex + 1).toLocaleString()}

									td
										+btcTxid(tx.tx_hash)

									td
										if (localChannels.byTxid[tx.tx_hash] != null)
											span.text-success Opened channel:
											br
											a(href=`/channel/${localChannels.byTxid[tx.tx_hash].chan_id}`) #{localChannels.byTxid[tx.tx_hash].chan_id}

										else if (closedChannels.byTxid[tx.tx_hash] != null)
											span.text-success Opened channel:
											br
											span #{closedChannels.byTxid[tx.tx_hash].chan_id} 
												span.text-muted (closed)

										else
											- var channelClosedByTx = false;
											each chan in closedChannels.channels
												if (chan.closing_tx_hash == tx.tx_hash)
													- channelClosedByTx = true;
													span.text-danger Closed channel:
													br
													span #{chan.chan_id} 
														span.text-muted (closed)

											if (!channelClosedByTx)
												span -

									td(class="table-col-int text-end")
										if (tx.num_confirmations > 0)
											if (false)
												if (config.blockExplorerUrl)
													a(href=`${config.blockExplorerUrl}/block-height/${tx.block_height}`, target="_blank") #{parseInt(tx.block_height).toLocaleString()}
												else
													span(title=tx.tx_hash, data-bs-toggle="tooltip") #{parseInt(tx.block_height).toLocaleString()}

												br

											span #{tx.num_confirmations.toLocaleString()}

										else
											span.text-warning Unconfirmed

									td
										+date(tx.time_stamp)
										

									td.text-end
										- var currencyValue = new Decimal(Math.abs(parseInt(tx.amount))).dividedBy(coinConfig.baseCurrencyUnit.multiplier);
										if (parseInt(tx.amount) > 0)
											div(class="text-success")
												span +
												include ./includes/value-display.pug
										else if (parseInt(tx.amount) < 0)
											div(class="text-danger")
												span -
												include ./includes/value-display.pug
										else
											span -

									td
										each addr, addrIndex in tx.dest_addresses
											div
												+btcAddress(addr)


									td.text-end
										a.btn.btn-sm.btn-primary(href="javascript:void(0)" data-bs-toggle="modal" data-bs-target=("#txModal-" + tx.tx_hash))
											i.fas.fa-file-lines



		include includes/new-deposit-address-modal.pug

		include includes/withdraw-funds-modal.pug

		if (false)
			pre
				code.json.bg-light #{JSON.stringify(walletBalance, null, 4)}

			pre
				code.json.bg-light #{JSON.stringify(channelBalance, null, 4)}